@charset "UTF-8";
/* roboto-regular - latin-ext_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/roboto-v29-latin-ext_latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("fonts/roboto-v29-latin-ext_latin-regular.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-v29-latin-ext_latin-regular.woff2") format("woff2"), url("fonts/roboto-v29-latin-ext_latin-regular.woff") format("woff"), url("fonts/roboto-v29-latin-ext_latin-regular.ttf") format("truetype"), url("fonts/roboto-v29-latin-ext_latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}
#x_headerBlock {
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: right;
  background-image: none;
  width: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: #3F4957;
  box-shadow: none;
}

#x_headerBlock #x_pageIntroBtn {
  color: white;
}

#x_headerBlock #x_pageIntroBtn.pageIntroBg {
  color: #3F4957;
  background-color: white;
}

#x_headerBlock #x_pageIntroBtn.ui-button.ui-state-hover, #x_headerBlock #x_pageIntroBtn.ui-button.ui-state-focus, #x_headerBlock #x_pageIntroBtn.ui-state-active {
  color: #FCBC2B;
}

#x_headerBlock #x_pageIntroBtn.pageIntroBg.ui-button.ui-state-hover, #x_headerBlock #x_pageIntroBtn.pageIntroBg.ui-button.ui-state-focus, #x_headerBlock #x_pageIntroBtn.pageIntroBg.ui-state-active {
  color: #3F4957;
  background-color: #FCBC2B;
}

/* progress bar */
#x_headerProgress .progressMarker {
  border-color: #ffffff;
  background-color: #3F4957;
}

#x_headerProgress .progressMarker.complete {
  border-color: #2196F3;
}

/* page resources */
#x_pageResourcesBtn.ui-button-icon-only {
  background: none;
  color: #ffffff;
}

#x_pageResourcesBtn .resourceNumber {
  background: #FCBC2B;
  color: #000000;
}

#x_pageResourcesBtn.ui-button-icon-only:hover .resourceNumber, #x_pageResourcesBtn.ui-button-icon-only:active .resourceNumber, #x_pageResourcesBtn.ui-button-icon-only:focus .resourceNumber {
  background: #027ab3;
  color: #ffffff;
}

.resourceLink, .resourceLink:visited, .resourceLink:focus,
.resourceDownloadBtn, .resourceDownloadBtn:visited, .resourceDownloadBtn:focus {
  color: #ffffff;
}

#x_resourceTable tr {
  border-color: #ffffff;
}

a.x_glossary:link, a.x_glossary:visited, a.x_glossary:hover, a.x_glossary:active {
  color: #FCBC2B;
}

.highlight {
  background: #FCBC2B;
}

.x_audioSlideshow_page .slide {
  margin-left: 5px;
}

#thumbHolder .thumbBox h3, .x_responsive #thumbHolder .thumbBox h3 {
  color: #1D202D;
}

#x_mainHolder.x_videoSynch_page .right {
  padding-top: 10px;
  padding-left: 20px;
}

.x_transcriptReader_page .highlight {
  background: rgba(2, 122, 179, 0.8);
}

.x_thumbnailViewer_page #thumbOverlayLeft,
.x_thumbnailViewer_page #thumbOverlayRight {
  background: #3F4957;
}

.x_thumbnailViewer_page #thumbBar button {
  color: #ffffff;
}

.x_thumbnailViewer_page #thumbBar button.ui-state-hover {
  color: #FCBC2B;
}

.x_thumbnailViewer_page #thumbBar button.ui-state-focus {
  color: #FCBC2B;
}

.x_thumbnailViewer_page #thumbBar button.ui-state-active {
  color: #1D202D;
}

.ui-tabs-panel a:visited, .ui-accordion-content a:visited {
  color: #F8A302;
}

.ui-accordion .ui-accordion-content {
  border-radius: 0;
  background: #9A9A9A;
  color: #ffffff;
}

.ui-accordion .ui-accordion-content.chapterPageHolder {
  background: #3F4957;
}

.ui-accordion .ui-accordion-content.chapterPageHolder button.menuItem {
  border: none;
}

.ui-accordion .ui-accordion-header {
  border-radius: 0;
  background: #9A9A9A;
  color: #ffffff;
}

.ui-accordion .ui-accordion-header a {
  border-radius: 0;
  color: #ffffff !important;
  background: #027ab3;
}

.ui-accordion .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  text-decoration: none;
  background: #FCBC2B;
  border-radius: 0;
  color: #027ab3 !important;
}

.x_buttonNav_page .ui-button {
  border-radius: 0;
  background: #027ab3;
  border: none;
}

.x_buttonNav_page .ui-buttonset .ui-button {
  margin-left: 0;
  margin-right: 0.2em;
}

.x_buttonNav_page .ui-state-active .ui-button-text {
  border-radius: 0;
  background: #FCBC2B;
  border: none;
  color: #1D202D;
}

.x_flashCards_page .front.panel {
  background: #9A9A9A;
  border: #9A9A9A;
  color: #ffffff;
}

.x_flashCards_page .back.panel {
  background: #027ab3;
  border: #027ab3;
  color: #ffffff;
}

.x_links_page #linkHolder a {
  color: #1D202D;
}

.x_links_page #linkHolder a:hover {
  color: #FCBC2B;
}

#pageContents.button button.selected {
  background-color: #FCBC2B;
}

#pageContents.slide #btnHolder button {
  background: #027ab3;
  border-color: #9A9A9A;
}

.ui-tabs .ui-tabs-nav li {
  border-radius: 0;
  background: #027ab3;
  border: none;
  color: #ffffff;
}

.paneInfo {
  color: #ffffff;
}

.x_tabNavExtra_page .ui-tabs-panel a:link {
  color: #FCBC2B;
}

.x_tabNavExtra_page .ui-tabs-panel a:hover {
  color: #000000;
}

.paneList a, .paneList a:link, .paneList a:visited {
  color: #000000;
}

.paneList a:hover {
  color: #FCBC2B;
}

.ui-tabs-panel a:link {
  color: #FCBC2B;
}

.ui-tabs .ui-tabs-nav {
  border-radius: 0;
  background: none;
  border: none;
}

.ui-tabs .ui-tabs-nav li a {
  color: #ffffff;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  text-decoration: none;
  background: #FCBC2B;
  color: #000000 !important;
  border-radius: 0;
}

a.topic.highlight {
  background: #027ab3;
  color: #ffffff;
}

a.topic.highlight:hover {
  color: #ffffff;
}

div.infoHolder.ui-tabs.ui-widget.ui-widget-content.ui-corner-all {
  background: #9A9A9A;
  color: #ffffff !important;
}

#pageContents textarea {
  border-radius: 0;
  padding: 10px;
}

#pageContents input {
  border-radius: 0;
  padding-left: 10px;
}

.x_textHighlight_page .ui-widget-content .ui-state-default {
  border-radius: 0;
  background: #027ab3;
  border: none;
  color: #ffffff;
}

.x_textHighlight_page .ui-widget-content .ui-state-default.ui-state-active {
  border-radius: 0;
  background: #FCBC2B;
  border: none;
  color: #1D202D;
}

.x_textHighlight_page .ui-tabs {
  border-radius: 0;
  background: #9A9A9A;
}

#listholder a.listitem, a:visited {
  color: #9A9A9A;
}

.x_annotatedDiagram_page .highlight {
  background: #027ab3;
}

.x_annotatedDiagram_page .hotspot {
  background: none;
}

.x_annotatedDiagram_page #infoHolder {
  background: none;
}

.target.ui-droppable.border.highlight {
  background-color: rgba(252, 188, 43, 0.4) !important;
}

.x_dragDropLabel_page #infoHolder {
  padding: 20px;
  margin-right: 20px;
  background: #9A9A9A;
}

.x_dragDropLabel_page .label.panel {
  background: rgba(252, 188, 43, 0.9) !important;
  border-color: #FCBC2B;
}

.x_categories_page #dragDropHolder {
  background: #9A9A9A;
  border-radius: 0;
}

#categoryHolder .category {
  border-radius: 0;
}

#categoryHolder h3 {
  color: #ffffff;
}

.x_categories_page .label.panel {
  background: #FCBC2B;
  border: #FCBC2B;
  color: #000000;
}

.x_categories_page #categoryHolder .highlight {
  border-radius: 0;
  background: #027ab3;
}

.x_decision_page .highlight {
  background: #FCBC2B;
}

.x_dictation_page #answerTxt {
  width: 98%;
  margin-bottom: 10px;
  border-radius: 0;
  padding: 10px;
}

#targetHolder .target {
  border-radius: 0;
}

#targetHolder .highlight {
  background: #ffffff;
}

.x_gapFill_page #targetHolder .highlight {
  background: rgba(255, 255, 255, 0.5);
}

.x_gapFill_page .label.panel {
  background: #FCBC2B;
  border-color: #FCBC2B !important;
}

.x_gapFill_page .target.correct {
  color: green;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.2);
}

.x_gapFill_page #targetHolder.outline .target.highlight {
  border: 1px dashed #ffffff;
}

.x_gapFill_page #targetHolder.underline .target.highlight {
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid transparent;
}

.x_gapFill_page .target.highlight {
  color: #000000;
}

a.hotspot, a.hotspot.selected {
  background: none;
}

.hsinfo {
  padding: 1%;
}

.x_hotspotImage_page #infoHolder {
  background: none;
}

.x_interactiveText_page .highlight {
  background: #FCBC2B;
}

.x_list_page .highlight {
  background: #027ab3;
}

.x_textMatch_page #dragDropHolder {
  background: #9A9A9A;
  padding: 10px;
  border-radius: 0;
}

.x_textMatch_page .label.panel {
  background: #FCBC2B;
  border-color: #FCBC2B;
  color: #000000;
}

.x_textMatch_page #targetHolder .target {
  border-radius: 0;
  background: #027ab3;
  color: #ffffff;
}

.x_modelAnswer_page #answerTxt {
  border-radius: 0;
  width: 98%;
}

.x_opinion_page #pageContents input {
  padding-left: 0;
}

.qPanel {
  overflow-x: hidden;
}

.qSeparator hr {
  background-color: silver;
  border-color: silver;
  border: solid 1px silver;
}

.sliderHolder .labelHolder a p {
  color: #ffffff;
}

.x_grid_page #grid ul li.static {
  background: none;
  border-color: transparent;
  color: #ffffff !important;
}

.x_grid_page #grid ul li.header {
  color: #ffffff !important;
}

.x_grid_page #grid ul li {
  background: #FCBC2B;
  border-color: transparent;
  color: #000000 !important;
}

/*****timeline matching pairs*****/
#targetHolder .target {
  border-radius: 0;
}

.x_timeline_page .label.panel.ui-draggable {
  background: #FCBC2B;
  color: #000000;
  border-color: transparent;
}

#subMenuItems .subMenuItem {
  background: #027ab3;
  color: #1D202D;
}

.x_table_page table.header.simple :not(tbody) > tr:first-child {
  border: none;
}

.x_table_page table.simple {
  border: none;
}

#pageContents .card {
  border-radius: 0;
  border-color: #9A9A9A;
}

#cardTopHolder .card {
  border-color: #9A9A9A;
}

#puzzle {
  border-radius: 0;
}

#pageContents .card {
  color: #1D202D;
}

#cardTopHolder .card {
  background-image: url("card_back.svg") !important;
}

#resultsHolder div {
  width: 97%;
  min-height: 50px;
  padding-top: 5px;
  border-radius: 0;
  background-color: #FCBC2B;
  margin: 0.5em;
}

.shadedDiv {
  background-color: #FCBC2B !important;
  border-radius: 0;
}

.shadedDiv p {
  color: #000000 !important;
}

div#shorturltodisplay a {
  color: #1D202D;
}

#resultsHolder div {
  border-radius: 0;
  background-color: #FCBC2B;
}

#resultsHolder div p {
  color: #000000;
}

#resultsHolder div a {
  color: darkblue;
}

.x_results_page td, th {
  border-radius: 0;
}

.x_results_page tr td {
  background-color: #027ab3;
}

.x_results_page tr.alt td {
  background: #9A9A9A;
  color: #ffffff;
}

.x_results_page .details th {
  background: #FCBC2B;
  color: #000000;
}

.x_results_page #general_summary th {
  background: #ffffff;
}

@media (min-width: 768px) {
  .tick, img.result {
    width: 2.5vmin;
  }
}

.x_grid_page table tr,
.x_table_page table tr,
.x_interactiveText_page table tr,
.x_documentation_page table tr,
.x_results_page table tr {
  background: #027ab3;
}

table tr.shaded {
  background: #9A9A9A;
}

table.header.shaded thead tr:first-child,
table.header.shaded tr.header,
table.header.shaded :not(tbody) > tr:first-child,
.x_grid_page table.header.shaded tr:first-child,
table.footer.shaded tbody tr:last-child,
table.headerCol.shaded td.header {
  background: #000000;
  color: #ffffff;
}

#hotspot_bubble {
  color: #ffffff;
  background: #3F4957;
  border-color: #9A9A9A;
}

#x_footerBlock {
  font-size: 1em;
  color: #ffffff;
  background-image: none;
  width: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: #3F4957;
  box-shadow: none;
}

#x_footerBg {
  background-image: none;
}

#x_pageNo {
  background: none;
}

.pbBar {
  background-color: #2196F3;
}

.ui-button .ui-icon.x_help {
  background-image: none;
}

.ui-button .ui-icon.x_info {
  background-image: none;
}

.ui-button .ui-icon.x_home {
  background-image: none;
}

.ui-button .ui-icon.x_glossary {
  background-image: none;
}

.ui-button .ui-icon.x_maximise {
  background-image: none;
}

.ui-button .ui-icon.x_minimise {
  background-image: none;
}

.ui-button .ui-icon.x_media {
  background-image: none;
}

.ui-button .ui-icon.x_next {
  background-image: none;
}

.ui-button .ui-icon.x_prev {
  background-image: none;
}

.ui-button .ui-icon.x_prev_hist {
  background-image: none;
}

.ui-button .ui-icon.x_colourChanger {
  background-image: none;
}

.ui-button .ui-icon.x_projectIntro {
  background-image: none;
}

.ui-button .ui-icon.x_saveSession {
  background-image: none;
}

#x_nextBtn:not(.customIconBtn) .ui-icon:before {
  content: "\f138";
}

#x_prevBtn:not(.customIconBtn) .ui-icon:before {
  content: "\f137";
}

#x_cssBtn:not(.customIconBtn) .ui-icon:before {
  content: "\f066";
}

#x_colourChangerBtn:not(.customIconBtn) .ui-icon:before {
  content: "\f042";
}

#x_mediaBtn:not(.customIconBtn) .ui-icon:before {
  content: "\f16a";
}

#x_glossaryBtn:not(.customIconBtn) .ui-icon:before {
  content: "\f02d";
}

#x_helpBtn:not(.customIconBtn) .ui-icon:before {
  content: "\f128";
}

#x_introBtn:not(.customIconBtn) .ui-icon:before {
  content: "\f129";
}

#x_menuBtn:not(.customIconBtn) .ui-icon:before {
  content: "\f0c9";
}

#x_saveSessionBtn:not(.customIconBtn) .ui-icon:before {
  content: "\f0c7";
}

#x_footerBlock button {
  color: #ffffff;
}

#x_footerBlock button.ui-state-hover {
  color: #FCBC2B;
}

#x_footerBlock button.ui-state-focus {
  color: #FCBC2B;
}

#x_footerBlock button.ui-state-active {
  color: #1D202D;
}

#x_footerBlock button {
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  font-size: 1.9em;
  width: 1.5em;
  padding-right: 0;
  margin-left: 5px;
}

#x_footerBlock button span.ui-button-text {
  display: none;
}

#x_footerBlock .x_floatLeft button, #x_footerBlock .x_floatRight button {
  padding: 0;
}

#x_footerChevron {
  color: #ffffff;
}

#x_footerChevron:hover, #x_footerChevron:focus {
  color: #FCBC2B;
}

.ui-dialog .ui-widget-header {
  border: 1px solid #9A9A9A;
  background: #027ab3;
  color: #ffffff;
  font-weight: bold;
}

.fa-x-close:before {
  content: "\f00d";
}

.ui-dialog .ui-dialog-titlebar-close {
  background: none;
  border: none;
  color: white;
}

#menuItems .menuItem {
  background: #3F4957;
  color: #000000;
}

#menuItems .menuItem:hover, #menuItems .ui-button .ui-button-text:hover {
  background: #FCBC2B;
  color: #000000;
}

#menuItems .menuItem.current {
  border: 2px solid #3F4957;
}

#x_sideBar {
  background-color: #3F4957;
}

#x_sideBarToggleBtn {
  border-color: #3F4957;
  color: #ffffff;
}

#x_sideBarToggleBtn:hover, #x_sideBarToggleBtn:focus, #x_sideBarToggleBtn:active {
  background-color: #FCBC2B;
  color: #3F4957;
}

#x_sideBarBtnHolder button {
  color: #ffffff;
}

#x_sideBar.sideBarSmall #x_sideBarBtnHolder button:not(:last-child) {
  border-color: #3F4957;
}

#x_sideBar.sideBarLarge #x_sideBarBtnHolder button span.ui-icon {
  border-color: #3F4957;
}

#x_sideBar.sideBarSmall #x_sideBarBtnHolder button:hover .ui-button-text, #x_sideBar.sideBarSmall #x_sideBarBtnHolder button:focus .ui-button-text, #x_sideBar.sideBarSmall #x_sideBarBtnHolder button:active .ui-button-text {
  color: #3F4957;
}

#x_sideBar.sideBarSmall #x_sideBarBtnHolder button:hover, #x_sideBar.sideBarSmall #x_sideBarBtnHolder button:focus, #x_sideBar.sideBarSmall #x_sideBarBtnHolder button:active {
  background-color: #FCBC2B;
  color: #3F4957;
}

#x_sideBar.sideBarLarge #x_sideBarBtnHolder button:hover span.ui-icon, #x_sideBar.sideBarLarge #x_sideBarBtnHolder button:focus span.ui-icon, #x_sideBar.sideBarLarge #x_sideBarBtnHolder button:active span.ui-icon {
  background-color: #FCBC2B;
  color: #3F4957;
}

/* progress bar */
.pbContainer {
  background-color: #ffffff;
}

.pbBar {
  background-color: #2196F3;
}

@media only screen and (max-width: 500px) {
  #x_footerProgress {
    display: block;
  }

  #x_pageNo {
    vertical-align: top;
    text-align: center;
    display: inline-block;
    padding: 12px 5px 0 5px;
    margin-right: -5px;
    height: 30px;
    width: auto;
    z-index: 100;
    font-size: 12px;
  }

  #x_footerBlock button {
    /*font-size: 1em;
    width: 1em;*/
    margin-left: 5px;
  }

  .pbContainer {
    display: block;
    margin-top: 1.2em;
  }

  .pbTxt {
    display: block;
    text-align: center;
  }
}
#x_pageHolder .label.panel.ui-draggable {
  transform: scale(1);
  transition: transform 0.5s ease-out 0s, box-shadow 0.5s ease-out 0s;
}
#x_pageHolder .label.panel.ui-draggable.ui-draggable-dragging {
  transform: scale(1.25);
  box-shadow: 2px 4px 1px #888888;
}
#x_pageHolder #feedback {
  animation: fadePop 0.25s linear;
}
@keyframes fadePop {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*start here and set the default values for all the variables*/
/*You should not edit the editorstyles.css file directly or change values directly unless you wish to override something*/
/*Use SASS and the files in the scss folder name _allvariables.scss to start any customisation*/
.panel1 {
  border-radius: 0;
  display: table;
  padding: 10px;
  font-style: normal;
  background-color: #C4551F;
  color: #ffffff;
}

.panel1 a {
  color: white !important;
}

.panel2 {
  border-radius: 0;
  display: table;
  padding: 10px;
  font-style: normal;
  background-color: #418545;
  color: #ffffff;
}

.panel2 a {
  color: white !important;
}

.panel3 {
  border-radius: 0;
  display: table;
  padding: 10px;
  font-style: normal;
  background-color: #4078C0;
  color: #ffffff;
}

.panel3 a {
  color: white !important;
}

.panel4 {
  border-radius: 0;
  display: table;
  padding: 10px;
  font-style: normal;
  background-color: #278384;
  color: #ffffff;
}

.panel4 a {
  color: white !important;
}

.panel5 {
  border-radius: 0;
  display: table;
  padding: 10px;
  font-style: normal;
  background-color: #603784;
  color: #ffffff;
  display: table;
}

.panel5 a {
  color: white !important;
}

.panel6 {
  border-radius: 0;
  display: table;
  padding: 10px;
  font-style: normal;
  background-color: #D13759;
  color: #ffffff;
}

.panel6 a {
  color: white !important;
}

.highlight1 {
  font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
  background: #39424e;
  display: table;
  font-weight: normal;
  margin-bottom: 7px;
  margin-top: 5px;
  padding: 10px;
  border-left: 5px solid;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-color: #C4551F;
}

.highlight2 {
  font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
  background: #39424e;
  display: table;
  font-weight: normal;
  margin-bottom: 7px;
  margin-top: 5px;
  padding: 10px;
  border-left: 5px solid;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-color: #418545;
}

.highlight3 {
  font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
  background: #39424e;
  display: table;
  font-weight: normal;
  margin-bottom: 7px;
  margin-top: 5px;
  padding: 10px;
  border-left: 5px solid;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-color: #4078C0;
}

.highlight4 {
  font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
  background: #39424e;
  display: table;
  font-weight: normal;
  margin-bottom: 7px;
  margin-top: 5px;
  padding: 10px;
  border-left: 5px solid;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-color: #278384;
}

.highlight5 {
  font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
  background: #39424e;
  display: table;
  font-weight: normal;
  margin-bottom: 7px;
  margin-top: 5px;
  padding: 10px;
  border-left: 5px solid;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-color: #603784;
}

.highlight6 {
  font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
  background: #39424e;
  display: table;
  font-weight: normal;
  margin-bottom: 7px;
  margin-top: 5px;
  padding: 10px;
  border-left: 5px solid;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-color: #D13759;
}

blockquote {
  font: 400 14px/24px Roboto, "Segoe UI", Tahoma, sans-serif;
  border-left: 10px solid;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "“" "”";
  background: #39424e;
  border-color: #ccc;
}

blockquote:before {
  content: open-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  color: #ccc;
}

blockquote p {
  display: inline;
}

blockquote:after {
  content: close-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-left: 0.1em;
  vertical-align: -0.6em;
  color: #ccc;
}

.bq1 {
  border-color: #C4551F;
}

.bq1:after {
  content: close-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-left: 0.1em;
  vertical-align: -0.6em;
  color: #C4551F;
}

.bq1:before {
  content: open-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  color: #C4551F;
}

.bq2 {
  border-color: #418545;
}

.bq2:after {
  content: close-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-left: 0.1em;
  vertical-align: -0.6em;
  color: #418545;
}

.bq2:before {
  content: open-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  color: #418545;
}

.bq3 {
  border-color: #4078C0;
}

.bq3:after {
  content: close-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-left: 0.1em;
  vertical-align: -0.6em;
  color: #4078C0;
}

.bq3:before {
  content: open-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  color: #4078C0;
}

.bq4 {
  border-color: #278384;
}

.bq4:after {
  content: close-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-left: 0.1em;
  vertical-align: -0.6em;
  color: #278384;
}

.bq4:before {
  content: open-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  color: #278384;
}

.bq5 {
  border-color: #603784;
}

.bq5:after {
  content: close-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-left: 0.1em;
  vertical-align: -0.6em;
  color: #603784;
}

.bq5:before {
  content: open-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  color: #603784;
}

.bq6 {
  border-color: #D13759;
}

.bq6:after {
  content: close-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-left: 0.1em;
  vertical-align: -0.6em;
  color: #D13759;
}

.bq6:before {
  content: open-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  color: #D13759;
}

.speech-bubble1 a, .speech-bubble2 a, .speech-bubble3 a, .speech-bubble4 a, .speech-bubble5 a, .speech-bubble6 a {
  color: white !important;
  text-decoration: underline;
}

q {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  color: #333;
  display: block;
  padding: 10px;
}

cite {
  font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
  font-size: 14px;
  font-style: normal;
  /*font-weight:400;
  margin-left:20px;*/
  padding: 10px;
}

.marker {
  font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
  background-color: #1D202D;
  color: #ffffff;
  border-radius: 0;
  display: table;
  padding: 10px;
}

var {
  font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
  background-color: #027ab3;
  color: #ffffff;
  display: table;
  border-radius: 0;
  font-style: normal;
  padding: 10px;
}

kbd {
  font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
  background-color: #FCBC2B;
  color: #ffffff;
  display: table;
  border-radius: 0;
  font-style: normal;
  padding: 10px;
}

samp {
  font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
  background-color: #9A9A9A;
  color: #ffffff;
  display: table;
  border-radius: 0;
  font-style: normal;
  padding: 10px;
}

q {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  color: #FCBC2B;
  display: block;
  /*margin-left:20px;
  margin-right:20px;*/
  padding: 10px;
}

cite {
  font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
  font-size: 14px;
  font-style: normal;
  /*font-weight:400;
  margin-left:20px;*/
  padding: 10px;
}

tt {
  font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
  background-color: #CC6600;
  color: #ffffff;
  display: table;
  border-radius: 0;
  font-style: normal;
  padding: 10px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.4);
}

[type=range] {
  -webkit-appearance: none;
  margin: 12px 0;
  width: 100%;
}
[type=range]:focus {
  outline: 0;
}
[type=range]:focus::-webkit-slider-runnable-track {
  background: #4a5566;
}
[type=range]:focus::-ms-fill-lower {
  background: #3F4957;
}
[type=range]:focus::-ms-fill-upper {
  background: #4a5566;
}
[type=range]::-webkit-slider-runnable-track {
  cursor: pointer;
  height: 8px;
  transition: all 0.2s ease;
  width: 100%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
  background: #3F4957;
  border: 2px solid #3F4957;
  border-radius: 2px;
}
[type=range]::-webkit-slider-thumb {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2), 0 0 4px rgba(13, 13, 13, 0.2);
  background: #027ab3;
  border: 2px solid #027ab3;
  border-radius: 12px;
  cursor: pointer;
  height: 24px;
  width: 24px;
  -webkit-appearance: none;
  margin-top: -10px;
}
[type=range]::-moz-range-track {
  cursor: pointer;
  height: 8px;
  transition: all 0.2s ease;
  width: 100%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
  background: #3F4957;
  border: 2px solid #3F4957;
  border-radius: 2px;
}
[type=range]::-moz-range-thumb {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2), 0 0 4px rgba(13, 13, 13, 0.2);
  background: #027ab3;
  border: 2px solid #027ab3;
  border-radius: 12px;
  cursor: pointer;
  height: 24px;
  width: 24px;
}
[type=range]::-ms-track {
  cursor: pointer;
  height: 8px;
  transition: all 0.2s ease;
  width: 100%;
  background: transparent;
  border-color: transparent;
  border-width: 12px 0;
  color: transparent;
}
[type=range]::-ms-fill-lower {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
  background: #343d48;
  border: 2px solid #3F4957;
  border-radius: 4px;
}
[type=range]::-ms-fill-upper {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
  background: #3F4957;
  border: 2px solid #3F4957;
  border-radius: 4px;
}
[type=range]::-ms-thumb {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2), 0 0 4px rgba(13, 13, 13, 0.2);
  background: #027ab3;
  border: 2px solid #027ab3;
  border-radius: 12px;
  cursor: pointer;
  height: 24px;
  width: 24px;
  margin-top: 0;
}

body {
  background: #3F4957;
  color: #ffffff;
  font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
}

.cke_editable {
  background: #3F4957;
}

#pageContents .fa {
  color: #ffffff;
  width: auto;
  height: auto;
}

.ui-button .ui-button-text {
  font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
  color: #ffffff;
  border: none;
}

button.ui-button-icon-only {
  background: #027ab3;
  border: none;
}

.ui-button {
  border-radius: 0;
  background: #027ab3;
  border: none;
  color: #ffffff;
}

.ui-state-active {
  border-radius: 0;
  background: #FCBC2B;
  border: none;
  color: #1D202D;
}

p {
  font-size: 1.1em;
}

h1 {
  font-size: 1em;
  margin: 0;
}

h2 {
  font-size: 1.2em;
  margin: 5px 0 0 0;
}

h3 {
  font-size: 1.2em;
  margin: 0;
}

a {
  color: #F8A302;
}

a:visited {
  color: #F8A302;
}

a:hover {
  color: #ffffff;
}

#x_pageDiv span.x_glossary, #x_pageDiv span.x_glossary:link, #x_pageDiv span.x_glossary:visited, #x_pageDiv span.x_glossary:hover, #x_pageDiv span.x_glossary:active {
  color: #ffffff;
}

#x_mainHolder {
  background: #3F4957;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border: none !important;
}

#x_pageDiv {
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 10px;
}

#infoHolder {
  border-radius: 0;
  background: #9A9A9A;
}

.panel {
  border-radius: 0;
  border: 1px solid #9A9A9A;
  background: #9A9A9A;
  box-shadow: none;
  color: #ffffff;
}

.panelPage {
  padding: 1%;
  color: #ffffff;
}

img {
  border-radius: 0;
}

/******lightboxes******/
.featherlight .featherlight-content {
  background-color: #3F4957;
}

@media (min-width: 1366px) {
  body:not(.sb_right):not(.sb_left) #x_mainHolder {
    max-width: 90%;
    max-height: 92%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  body:not(.sb_right):not(.sb_left) #x_mainHolder {
    max-width: 98%;
    max-height: 98%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
/* chevron */
.fa-x-next:before {
  content: "\f054";
}

.fa-x-prev:before {
  content: "\f053";
}

.fa-x-next-circle:before {
  content: "\f138";
}

.fa-x-prev-circle:before {
  content: "\f137";
}

/* arrow */
/*
.fa-x-next:before { content: "\f061"; }
.fa-x-prev:before { content: "\f060"; }
.fa-x-next-circle:before { content: "\f0a9"; }
.fa-x-prev-circle:before { content: "\f0a8"; }
*/
.fa-x-refresh:before {
  content: "\f021";
}

.fa-x-acc-hide:before {
  content: "\f0da";
}

.fa-x-acc-show:before {
  content: "\f0d7";
}

.fa-x-btn-hide:before {
  content: "\f0d8";
}

.fa-x-btn-show:before {
  content: "\f0d7";
}

.fa-x-zoom-in:before {
  content: "\f00e";
}

.fa-x-zoom-out:before {
  content: "\f010";
}

.fa-x-download:before {
  content: "\f019";
}

.fa-x-info-circle:before {
  content: "\f05a";
}

.fa-x-info:before {
  content: "\f129";
}

.fa-x-question:before {
  content: "\f128";
}

.fa-x-lightbulb:before {
  content: "\f0eb";
}

.fa-x-copy:before {
  content: "Å";
}

/*# sourceMappingURL=darkbluegrey.css.map */
