# Ignore Database Settings file, created after setup
database.php

# Ignore USER-FILES/ folder changes
USER-FILES/

# Ignore import/ folder changes
/import/

# Ignore PhPEditor 
.idea/

# Ignore error-log/ folder changes 
/error_logs/

# Ignore convert.log
/build/convert.log
.buildpath
*.project

# Ignore Saml2 Settings file
library/Xerte/Authentication/Saml2/settings.php

#ignore tsugi folder (if installed)
tsugi/

#ignore lrsdb_config.php
lrsdb_config.php

#ignore openai_config.php
/openai_config.php
/vendor_config.php