# Ignore Database Settings file, created after setup
database.php

# Ignore USER-FILES/ folder changes
USER-FILES/

# Ignore import/ folder changes
/import/

# Ignore PhPEditor 
.idea/

# Ignore error-log/ folder changes 
/error_logs/

# ignore data.csv
integration/data.csv

# Ignore convert.log
/build/convert.log
