/******Header******/
#x_headerBlock {
  color:			$whiteorlightest;
  background-repeat:no-repeat;
  background-position:right;
  background-image:	none;
  width: 100%;
  border-top-right-radius: $largeroundedcorners;
  ///*border-bottom-right-radius: $largeroundedcorners;*/
  //*margin-top: 5px;*/
  background: $darkestcolor;
  box-shadow: $interfaceboxshadow;
}