/******Header******/
#x_headerBlock {
  color:			$whiteorlightest;
  background-repeat:no-repeat;
  background-position:right;
  background-image:	none;
  background: $darkestcolor;
  box-shadow: $interfaceboxshadow;
}

body:not(.sb_right):not(.sb_left) #x_headerBlock {
  width: 100%;
  border-top-right-radius: $largeroundedcorners;
  border-top-left-radius: $largeroundedcorners;
}

#x_headerBlock #x_pageIntroBtn {
	color: white;
}

#x_headerBlock #x_pageIntroBtn.pageIntroBg {
	color: black;
	background-color: white;
}

#x_headerBlock #x_pageIntroBtn.ui-button.ui-state-hover, #x_headerBlock #x_pageIntroBtn.ui-button.ui-state-focus, #x_headerBlock #x_pageIntroBtn.ui-state-active {
	color: #117BAD;
}

#x_headerBlock #x_pageIntroBtn.pageIntroBg.ui-button.ui-state-hover, #x_headerBlock #x_pageIntroBtn.pageIntroBg.ui-button.ui-state-focus, #x_headerBlock #x_pageIntroBtn.pageIntroBg.ui-state-active {
	color: black;
	background-color: #117BAD;
}

/* progress bar */
#x_headerProgress .progressMarker {
  border-color: $bodybackgroundcolor;
  background-color: $blackordarkest;
}
#x_headerProgress .progressMarker.complete {
  border-color: $contrastcolor;
}

/* page resources */
#x_pageResourcesBtn.ui-button-icon-only {
  background: none;
}

#x_pageResourcesBtn .resourceNumber {
  background: $contrastcolor;
  color: $whiteorlightest;
}

#x_pageResourcesBtn.ui-button-icon-only:hover .resourceNumber, #x_pageResourcesBtn.ui-button-icon-only:active .resourceNumber, #x_pageResourcesBtn.ui-button-icon-only:focus .resourceNumber {
  background: $lightestcolor;
  color: $whiteorlightest;
}

.resourceDownloadBtn, .resourceDownloadBtn:hover, .resourceDownloadBtn:visited, .resourceDownloadBtn:focus {
  color: $whiteorlightest;
}