//***********************************Media*************************************
//default highlight if not overriden
.highlight {
  background: $lightestcolor;
}
//*****audio slideshow********/
.x_audioSlideshow_page .slide {
  margin-left: 5px;
}
//*****multiple perspectives******/
#thumbHolder .thumbBox h3, .x_responsive #thumbHolder .thumbBox h3{
  color: $darkestcolor;
}
//*****Synched Video*******/
//add padding to right holder
#x_mainHolder.x_videoSynch_page .right{
  padding-top: 10px;
  padding-left: 20px;
}
//*****transcript reader******/
.x_transcriptReader_page .highlight {
  background:transparentize($whiteorlightest, .6);
}
//***********************************Navigators*************************************/
//*****Accordion page*******/
.ui-accordion .ui-accordion-content {
  border-radius: $smallroundedcorners;
  background: $lightestcolor;
  color:$blackordarkest;
}
.ui-accordion .ui-accordion-header {
  border-radius: $smallroundedcorners;
  background: $contrastcolor;
  color:#ffffff;
}
.ui-accordion .ui-accordion-header a {
  border-radius: $smallroundedcorners;
  color: $whiteorlightest !important; //doesn't work without important
  background: $contrastcolor;
}
.ui-accordion .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  text-decoration: none;
  background: $accent1;
  border-radius: $smallroundedcorners;
  color: $blackordarkest;
}

.ui-tabs-panel a:visited, .ui-accordion-content a:visited {
  color: $linkcolor;
}
.ui-tabs-panel a:link, .ui-accordion-content a:link {
  color: $linkcolor;
}

.ui-tabs-panel a:hover, .ui-accordion-content a:hover {
  color: $linkhover;
}

//*****button navigator*****/
.ui-button {
  border-radius: $smallroundedcorners;
  background: $contrastcolor;
  border: none;
  color: #ffffff;
}
.ui-buttonset .ui-button {
  margin-left: 0;
  margin-right: .2em;
}
.ui-state-active{
  border-radius: $smallroundedcorners;
  background: $brightcolor;
  border: none;
  color: $whiteorlightest;
}
.x_nav_page #pageContents.button button.selected {
  background-color: $brightcolor;
}
//***Flash cards***/
.front.panel{
  background:$lightestcolor;
  border:$lightestcolor;
  color:$fontcolorforlightestcolor;
}
.back.panel{
  background:$contrastcolor;
  border:$contrastcolor;
  color:$fontcolorforcontrastcolor;
}
.back.panel a{
  color:$whiteorlightest;
}
//*****hyperlinks******/
.x_links_page #linkHolder a{
  color:$linkcolor;
}
.x_links_page #linkHolder a:visited{
  color:$linkvisited;
}
.x_links_page #linkHolder a:hover{
  color:$linkhover;
}
//*****navigator*****/
#pageContents.button button.selected {
  background-color: $lightestcolor;
}
#pageContents.slide #btnHolder button {
  background: $contrastcolor;
  border-color: $contrastcolor;
}
//****tabbed navigator****/
.ui-tabs .ui-tabs-nav li {
   border-radius: $smallroundedcorners;
   background: $contrastcolor;
   border:none;
   color:$fontcolorforcontrastcolor;
 }

.paneInfo{
  /*color:$fontcolorfobrightcolor;*/
}
.paneList a, .paneList a:link, .paneList a:visited{
  /*color: $linkcolor !important;*/
}
.ui-tabs-panel a:link, /*.ui-accordion-content a:link*/ {
  /*color: $linkcolor;*/
}
.ui-tabs .ui-tabs-nav {
  border-radius: $smallroundedcorners;
  background: none;
  border: none;
}
.ui-tabs .ui-tabs-nav li a {
  color: $whiteorlightest;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  text-decoration: none;
  background: $brightcolor;
  color:$whiteorlightest !important;
  border-radius: $smallroundedcorners;
  border: none;
}

a.topic.highlight {
  background: $brightcolor;
  color:$fontcolorfobrightcolor;
}
a.topic.highlight:hover {
  background: $lightestcolor;
  color:$fontcolorforlightestcolor;
}
div.infoHolder.ui-tabs.ui-widget.ui-widget-content.ui-corner-all{
  background:$lightestcolor;
}
//***********************************Interactivity*************************************/
//most text areas unless changed for specifc pages
#pageContents textarea {
  border-radius: $mediumroundedcorners;
  padding: 10px;
}
//most input boxes unless changed for specifc pages
#pageContents input {
  border-radius: $smallroundedcorners;
  padding-left: 10px;
}
//*****highlight text******/
.x_textHighlight_page .ui-widget-content button.ui-state-default {
  border-radius: $smallroundedcorners;
  background: $contrastcolor;
  border: none;
  color: #ffffff;
}
.x_textHighlight_page .ui-widget-content button.ui-state-default.ui-state-active {
  background: $brightcolor;
  color: $whiteorlightest;
}
.x_textHighlight_page .ui-tabs {
	border-radius:$mediumroundedcorners;
	background: $lightestcolor;
}
//*****annotated diagram******/
#listholder a.listitem, a:visited {
  color:$contrastcolor ;
}
.x_annotatedDiagram_page .highlight{
  background:$lightestcolor;
}
.x_annotatedDiagram_page .hotspot{
  background:none;
}
.x_annotatedDiagram_page #infoHolder{
  background:$defaultpagebackground;
}
//*******Drag and Drop Labelling*********/
.target.ui-droppable.border.highlight {
  //show transparent background when clicking target hotspots
  background-color: transparentize($lightestcolor, .6) !important;
}
.x_dragDropLabel_page #infoHolder{
  padding:20px;
  margin-right:20px;
}
.x_dragDropLabel_page .label.panel{
  background:transparentize($brightcolor, .2 )!important;
  border-color:$brightcolor;
  color:$whiteorlightest;
}
.x_dragDropLabel_page #targetHolder .highlight{
  // background-color: rgba(83, 70, 69, 0.30);
  background:none;
}
//*****categories*****/
#categoryHolder .category {
  border-radius: $mediumroundedcorners;
}
#categoryHolder h3 {
  color:$blackordarkest;
}
.x_categories_page #dragDropHolder {
  background: $whiteorlightest;
  padding:10px;
  border-radius: $mediumroundedcorners;
}
.x_categories_page .label.panel{
  background:$brightcolor;
  border:$brightcolor;
  color:$whiteorlightest ;
}
#categoryHolder .highlight {
  border-radius: $smallroundedcorners;
  background: $lightestcolor;
}
//*******decision tree********//
.x_decision_page .highlight{
  background: $lightestcolor;
}
//*****Dictation*****/
.x_dictation_page #answerTxt {
  width: 98%;
  margin-bottom: 10px;
  border-radius: $mediumroundedcorners;
  padding:10px;
}
//*****gap fill*****/
#targetHolder .target {
  border-radius: $mediumroundedcorners;
}
#targetHolder .highlight {
  background:$whiteorlightest;
}
#labelHolder .label.panel {
  //background: purple;
}
.x_gapFill_page #targetHolder .highlight {
  background:transparentize($whiteorlightest, .5);
}
.x_gapFill_page .label.panel {
  background: $brightcolor;
  border-color:$brightcolor !important;
  color:$whiteorlightest;
}
.x_gapFill_page .target.correct{
  color:green;
  font-weight:bold;
  background-color:transparentize($whiteorlightest, .8);
}
//*****hotspot image*****/
a.hotspot, a.hotspot.selected {
  background: none;
}
.hsinfo{
  padding:1%;
}
.x_hotspotImage_page #infoHolder {
  background: none;
}
//******Interactive lists*******/
.x_interactiveText_page .highlight{
  background: $lightestcolor;
}
//******Interactive lists*******/
.x_list_page .highlight{
  background: $contrastcolor;
  color:$fontcolorforcontrastcolor;
}
//*********matching texts*********/
.x_textMatch_page #dragDropHolder {
  background: $lightestcolor;
  padding:10px;
  border-radius: $mediumroundedcorners;
}
.x_textMatch_page .label.panel{
  background:$brightcolor;
  border-color:$brightcolor;
  color:$whiteorlightest;
}

//*****model answer*****/
.x_modelAnswer_page #answerTxt {
  border-radius: $mediumroundedcorners;
  width: 98%;
}
//*****opinion********/
.x_opinion_page #pageContents input {
  padding-left: 0;
}
.qPanel {
  overflow-x:hidden;
}
.qSeparator hr {
  background-color: lighten($lightestcolor, 15%);
  border-color: lighten($lightestcolor, 15%);
  border: solid 1px lighten($lightestcolor, 15%);
}
.sliderHolder .labelHolder a p {
  color: $blackordarkest;
}

//*****sortable grid*****/
.x_grid_page #gridBorders {
  border-radius: $smallroundedcorners;
}
.x_grid_page #grid .listHolder.constrainC li {
  border-radius: $smallroundedcorners;
}
.x_grid_page #grid ul li.header {
  color: $whiteorlightest ;
  background:$accent1;
}
.x_grid_page table.simple {
  border: transparent;
}
.x_grid_page table.header.simple tr:first-child{
  border-bottom: transparent;
  background:$darkestcolor;
}
.x_grid_page table.header.shaded tr:first-child {
  background: $blackordarkest;
}
//the draggable items
.x_grid_page #grid ul li{
  background:$brightcolor;
  border-color: transparent;
  color:$whiteorlightest !important;
}
//even rows of the table
.x_grid_page table tr.shaded {
  background: $contrastcolor;
  color:$blackordarkest !important;
}
//odd rows of the table
.x_grid_page table tr {
  background: $lightestcolor;
  color:white !important;
}
.x_grid_page #grid ul li.static {
  background: $blackordarkest;
  border-color: transparent;
}
/*****timeline matching pairs*****/
.x_timeline_page #dragDropHolder {
  background: $whiteorlightest;
}
//the target boxes
.x_timeline_page #targetHolder .target {
  border-radius: $mediumroundedcorners;
  background-color:$lightestcolor;
}
.x_timeline_page .label.panel.ui-draggable {
  background: $brightcolor;
  color: $fontcolorfobrightcolor;
  border-color:$brightcolor;
}
//***********************************Connectors*************************************/
//*****menu connector*****/
#subMenuItems .subMenuItem {
  background: $contrastcolor;
  color:$fontcolorforcontrastcolor;
}
//***********************************Charts*************************************/
//***Charts Table***/
.x_table_page table.header.simple tr:first-child {
  border:none;
}
.x_table_page table.simple {
  border: none;
}
//***********************************Games*************************************/
//*****games memory*****/
#pageContents .card {
  border-radius: $smallroundedcorners;
  border-color: $contrastcolor;
}
#cardTopHolder .card{
  border-color: $contrastcolor;
}
//*****games puzzle*****/
#puzzle {
  border-radius: $mediumroundedcorners;
}
//*****memory******/
#pageContents .card {
  color: $darkestcolor;
}
#cardTopHolder .card {
  background-image: url('card_back.svg') !important; //doesn't work without important
}
//***********************************Misc*************************************/
//*****youtube feed page*****/
.x_youtuberss_page #resultsHolder div {
  width:97%;
  min-height: 50px;
  padding-top: 5px;
  border-radius: $mediumroundedcorners;
  background-color: $lightestcolor;
  margin:.5em;
}
.x_youtuberss_page #resultsHolder div a{
  color: #0000A0;
}
.x_youtuberss_page .shadedDiv {
   background-color: lighten($lightestcolor, 20%) !important; //doesn't work without important
   border-radius: $mediumroundedcorners;
 }
.x_youtuberss_page .shadedDiv p{
  color:$blackordarkest !important;
}
//*****qr code******/
div#shorturltodisplay a{
  color:$darkestcolor;
}
//*****RSS feed******/
.x_rss_page #resultsHolder div {
  border-radius: $mediumroundedcorners;
  background-color: $lightestcolor;
}
.x_rss_page #resultsHolder div p {
  color: $blackordarkest;
}
.x_rss_page #resultsHolder .shadedDiv {
  background-color: lighten($lightestcolor, 20%) !important; //doesn't work without important
  border-radius: $mediumroundedcorners;
}
.x_rss_page #resultsHolder div a {
  color: darkblue;
}
//*****results page*****/
.x_results_page td {
  background:$lightestcolor;
  color: $mainfontcolour;
}
.x_results_page #questionScores  th{
  background-color: $darkestcolor;
}
.x_results_page tr.alt td{
  background: $contrastcolor;
  color:$fontcolorforcontrastcolor;
}
.x_results_page .details th, .x_results_page .details tr:first-of-type td.correct {
  background: $darkestcolor;
  color: $fontcolorfordarkestcolor;
}
.x_results_page #general_summary th {
  background: #ffffff;//hide otherwise black line at to of summary table
}
.fas.fa-check-circle{
  color:green;
}
.fas.fa-times-circle{
  color:#CD2A2A;
}
.fas.fa-circle.blue{
  color:white;
  background:black;
  border-radius: 12px;
}
.far.fa-circle.blue{
  color:white;
  border-radius: 12px;
}
.x_results_page tr.alt .far.fa-circle.blue {
  color: #ffffff !important;
  border-radius: 12px;
}

.x_results_page tr .far.fa-circle.blue {
  color: #010101 !important;
  border-radius: 12px;
}
//*****audio record page*****/
.x_audioRecord_page .deleteClipBtn {
  color: $blackordarkest;
}
.x_audioRecord_page .clip.highlight {
  background-color: green;
}
.x_audioRecord_page #recBtn.recording .ui-icon, .x_audioRecord_page #recBtn.recording .ui-button-text {
  color: $whiteorlightest;
}
//***********************************Media query/responsive changes*************************************/
//*****change tick/cross size on all pages where used******/
.tick, img.result{
  @media (min-width: 768px) {
    width: 2.5vmin;
  }
}


//***********************************Tables*************************************/
//default background of table rows
.x_table_page table tr,
.x_interactiveText_page table tr,
.x_documentation_page table tr,
.x_results_page table tr {
	background: $contrastcolor;
	color: $fontcolorforcontrastcolor;
}

//background of shaded/alternate rows
table tr.shaded {
	background: $brightcolor;
	color: $fontcolorfobrightcolor;
}

// header/footer shaded
table.header.shaded thead tr:first-child,
table.header.shaded tr.header,
table.header.shaded :not(tbody) > tr:first-child,
table.footer.shaded tbody tr:last-child {
	background:	$blackordarkest;
	color: $whiteorlightest;
}

table.headerCol.shaded td.header {
	background-color: inherit;
}
