/******Header******/
#x_headerBlock {
  color:			$lightestcolor;
  background-repeat:no-repeat;
  background-position:right;
  background-image:	none;
  width: 100%;
  border-top-right-radius: $largeroundedcorners;
  ///*border-bottom-right-radius: $largeroundedcorners;*/
  //*margin-top: 5px;*/
  background: $blackordarkest !important;
  box-shadow: $interfaceboxshadow;
}


#x_headerBlock #x_pageIntroBtn {
	color: $lightestcolor;
}

#x_headerBlock #x_pageIntroBtn.pageIntroBg {
	color: $blackordarkest;
	background-color: $lightestcolor;
}

#x_headerBlock #x_pageIntroBtn.ui-button.ui-state-hover, #x_headerBlock #x_pageIntroBtn.ui-button.ui-state-focus, #x_headerBlock #x_pageIntroBtn.ui-state-active {
	color: yellow;
}

#x_headerBlock #x_pageIntroBtn.pageIntroBg.ui-button.ui-state-hover, #x_headerBlock #x_pageIntroBtn.pageIntroBg.ui-button.ui-state-focus, #x_headerBlock #x_pageIntroBtn.pageIntroBg.ui-state-active {
	color: $blackordarkest;
	background-color: yellow;
}
