/* flashCards.html */
	
	#x_pageHolder {
		overflow-x: hidden;
	}
	
	h3.cardTitle {
		padding: 4px;
	}
	
	#cardCtrls {
		display: grid;
		gap: 1rem;
		grid-template-rows: auto auto;
		width: 100%;
	}

	#cardCtrls:not(.noBtns) {
		grid-template-columns: 2.4em 1fr 2.4em; /* fixed - flexible - fixed */
	}

	#leftBtn, #rightBtn {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	#cardHolder {
		width: 100%;
		height: 1px;
		min-height: 72.5%;
	}
	
	.btnHolder, #cards {
		vertical-align: middle;
		text-align: center;
	}
	
	#cards .card {
		vertical-align: top;
	}
	
	#pageContents:not(.horiz) #cards.small .card {
		min-width: 40%;
	}
	
	#pageContents:not(.horiz) #cards.medium .card {
		min-width: 60%;
	}
	
	#pageContents:not(.horiz) #cards.large .card {
		min-width: 80%;
	}

	#pageContents:not(.horiz) #cards.small .card,
	#pageContents:not(.horiz) #cards.medium .card,
	#pageContents:not(.horiz) #cards.large .card,
	#pageContents:not(.horiz) #cards.custom .card {
		width: 200px;
		max-width: 100%;
	}

	#pageContents.horiz .card {
		min-width: 150px;
	}

	#pageContents.displaySingle .card, #pageContents.displayMultiple.vert .card {
		margin-left: auto;
		margin-right: auto;
	}

	#pageContents.displayMultiple.vert .card {
		margin-bottom: 1em;
	}
	
	#pageContents.displayMultiple.horiz #cardHolder, #pageContents.displayMultiple.horiz #cards {
		display: block;
	}
	
	#pageContents.displayMultiple.horiz #cardCtrls {
		display: inline-block;
		width: 100%;
		height: auto;
	}
	
	#pageContents.displayMultiple.horiz #cards {
		width: auto;
		margin: 0 auto;
		height: 100%;
		overflow: hidden;
		white-space: nowrap;
	}
	
	#pageContents.displayMultiple.horiz #cards .card {
		display: inline-block;
		margin: 3px 1em 8px;
		white-space: normal;
	}
	
	#pageContents.displayMultiple.horiz #leftBtn {
		float: left;
		z-index: 5;
	}
	
	#pageContents.displayMultiple.horiz #rightBtn {
		float: right;
	}
	
	.card .cardSide {
		padding: 0em;
		text-align: left;
		overflow-y: hidden;
	}
	
	.card:not(.fitHeight) .cardSide {
		width: auto !important;
		height: auto !important;
	}
	
	.cardInner {
		overflow: auto;
		backface-visibility: hidden;
		margin: 1em 1em 0;
	}

	.card.singleSided .cardInner {
		margin-bottom: 1em;
	}
	
	.btnHolder button {
		background: none;
		border: none;
		width: 2em;
		height: 2em;
		margin: 0;
	}
	
	.btnHolder button .ui-icon {
		font-size: 1.9em;
		margin: 0 !important;
		top: 0;
		left: 0;
	}

	#leftBtn button .ui-icon {
		left: .05em;
	}
	
	#cardCtrls .btnHolder button:not(:disabled) {
		color: #434343;
		background: none;
		cursor: pointer;
	}

	#cardCtrls .btnHolder button:disabled {
		background: none;
	}
	
	#cardCtrls .btnHolder button:hover, #cardCtrls .btnHolder button:focus { color: #666666; }
	#cardCtrls .btnHolder button:active { color: #FF9900; }
	
	button.flipBtn.ui-button-icon-only .ui-icon[class*=" fa-"] {
		margin-left: -0.5em;
	}
	
	.flipBtnHolder {
		width: 100%;
		text-align: center;
		margin: 0.5em 0;
		position: absolute;
		bottom: 0;
	}

    .flipBtn{
	z-index: 1;
    }
	
	#cardNoHolder {
		grid-column: 1 / -1;
		display: grid;
		place-items: center;
	}
	
	#cardNoTxt {
		vertical-align: middle;
		font-weight: bold;
	}
	
	.mediaHolder {
		text-align: center;
	}
	
	.mediaHolder.cardVideo, .mediaHolder.cardAudio {
		width: 100%;
		margin: 0.5em auto;
	}
	
	iframe.mediaHolder {
		width: 98%;
		/*height: 100%;*/
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		display: block;
	}
	
	.mediaHolder img {
		max-width: 100%; 
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}
	
	.ui-effects-wrapper {
		overflow: visible !important;
	}
	.flex {
		display: flex;
		flex-direction: column;
		height: calc(100% - 2.4em - 1em ); /* minus flip button height offset & card-inner margin offset*/
	}

	.card.singleSided .flex {
		height: calc(100% - 1em /* card-inner margin offset */ );
	}

	.card:not(.singleSided) .cardTitle.noAlign {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: inherit;
	}

	.cardTitle.noAlign + .text-content {
		overflow: auto;
	}

	.card .front, .card .back, .card .cardInner {
		box-sizing: border-box;
	}

	#shuffleBtn {
		margin-top: .5em;
	}

	#pageContents.vert #shuffleBtn {
		margin-bottom: .5em;
	}

	.cardImg img {
		box-sizing: border-box;
	}
