/******Header******/
#x_headerBlock {
  color:			$blackordarkest;
  background-repeat:no-repeat;
  background-position:right;
  background-image:	none;
  width: 100%;
  border-top-right-radius: $largeroundedcorners;
  ///*border-bottom-right-radius: $largeroundedcorners;*/
  //*margin-top: 5px;*/
  background: $whiteorlightest;
  box-shadow: $interfaceboxshadow;
}


#x_headerBlock #x_pageIntroBtn {
	color: #84849a;
}

#x_headerBlock #x_pageIntroBtn.pageIntroBg {
	color: white;
	background-color: #84849a;
}

#x_headerBlock #x_pageIntroBtn.ui-button.ui-state-hover, #x_headerBlock #x_pageIntroBtn.ui-button.ui-state-focus, #x_headerBlock #x_pageIntroBtn.ui-state-active {
	color: #C4551F;
}

#x_headerBlock #x_pageIntroBtn.pageIntroBg.ui-button.ui-state-hover, #x_headerBlock #x_pageIntroBtn.pageIntroBg.ui-button.ui-state-focus, #x_headerBlock #x_pageIntroBtn.pageIntroBg.ui-state-active {
	color: white;
	background-color: #C4551F;
}

/* progress bar */
#x_headerProgress .progressMarker {
  border-color: #BFBFBF;
  background-color: white;
}
#x_headerProgress .progressMarker.complete {
  border-color: $progressBarColor;
}

/* page resources */

#x_pageResourcesBtn.ui-button-icon-only {
  background: none;
  color: darken($lightestcolor, 40%);
}

#x_pageResourcesBtn .resourceNumber {
  background: $contrastcolor;
  color: $whiteorlightest;
}

#x_pageResourcesBtn.ui-button-icon-only:hover, #x_pageResourcesBtn.ui-button-icon-only:active, #x_pageResourcesBtn.ui-button-icon-only:focus {
  color: $blackordarkest;
}

.resourceLink, .resourceLink:visited, .resourceLink:focus {
  color: $mainfontcolour;
}

.resourceDownloadBtn, .resourceDownloadBtn:visited, .resourceDownloadBtn:focus {
  color: $whiteorlightest;
}