//*define color pallette*/
$darkestcolor: #333333;
$lightestcolor:#ccc;
$brightcolor:orange;
$contrastcolor:#999999;
$whiteorlightest:#ffffff;
$blackordarkest:black;
$mainhovercolor:white;
$hintcolor:red;
$alertcolor:$hintcolor;
$linkcolor: $brightcolor;
$panelcolor:#666666;
$accent1:#89C2C0;
$accent2: #00A1A3;
$accent3:#D13759;

//*set background colors*/
$bodybackgroundcolor:$lightestcolor;
$defaultpagebackground:$lightestcolor;

//*set font family*/
$mainfonts: "Helvetica Neue", Helvetica, Arial, sans-serif;
$secondaryfonts:"Helvetica Neue", Helvetica, Arial, sans-serif;

//*define font colors to match the background colors*/
$mainfontcolour: $darkestcolor;
$fontcolorfordarkestcolor:$whiteorlightest;
$fontcolorforlightestcolor:$darkestcolor;
$fontcolorfobrightcolor:$whiteorlightest;
$fontcolorforcontrastcolor:$whiteorlightest;
$fontcolorformainhovercolor:$whiteorlightest;

//*define rounded corner and other sizes*/
$largeroundedcorners: 6vmin;
$mediumroundedcorners: 2vmin;
$smallroundedcorners: 1vmin;
$imageroundedcorners: 2vmin;
$contentmargin: 2%;
$interfaceboxshadow:3px 3px 5px grey;;
$defaultpagepadding:2%;
