/* change this file to rebrand your version of Xerte Online Toolkits */

body {
	font-family: Arial, sans-serif;
}

#x_mainHolder {
	border:		1px solid #ffffff;
}

#x_headerBlock, h2, h1 {
	color:			#000000;
	background:		#ffffff;
	background-repeat:no-repeat;
	background-position:right; 
	background-image:	none; 
	font-size:1.2em;
	font-weight: normal;
}
x_headerBlock.x_floatLeft{
	float: right;
}

#x_footerBlock {
	font-size:		1em;
	color:			#000000;
	background:		#ffffff;
	background-image:	none;
}

#x_footerBg {
	background-image:none;
	/*background-repeat:	repeat-x;*/
}

#x_pageNo {
	background:	none;
}

h1 {
	font-size:	1em;
	margin:		0px;
}

h2 {
	font-size:	1.2em;
	margin:		5px 0px 0px;
}

h3 {
	font-size:	1em;
	margin:		0px;
}

/* see pngs in modules/xerte/parent_templates/Nottingham/common_html5 to see how replacement images for buttons should be made (with 4 states in one image file) */
/* the easiest way is to keep button dimensions the same (42 x 40px) so background-positions below don't need adjusting */

.ui-button .ui-icon.x_help {					background-image: url("help.svg"); background-position: 0px 0px; }
.ui-button.ui-state-hover .ui-icon.x_help {		background-position: -42px 0px; }
.ui-button.ui-state-focus .ui-icon.x_help {		background-position: -42px 0px; }
.ui-button.ui-state-active .ui-icon.x_help {	background-position: -84px 0px; }

.ui-button .ui-icon.x_info {					background-image: url("info.svg"); background-position: 0px 0px; }
.ui-button.ui-state-hover .ui-icon.x_info {		background-position: -42px 0px; }
.ui-button.ui-state-focus .ui-icon.x_info {		background-position: -42px 0px; }
.ui-button.ui-state-active .ui-icon.x_info {	background-position: -84px 0px; }

.ui-button .ui-icon.x_home {					background-image: url("home.svg"); background-position: 0px 0px; }
.ui-button.ui-state-hover .ui-icon.x_home {		background-position: -42px 0px; }
.ui-button.ui-state-focus .ui-icon.x_home {		background-position: -42px 0px; }
.ui-button.ui-state-active .ui-icon.x_home {	background-position: -84px 0px; }

.ui-button .ui-icon.x_glossary {				background-image: url("glossary.svg"); background-position: 0px 0px; }
.ui-button.ui-state-hover .ui-icon.x_glossary {	background-position: -42px 0px; }
.ui-button.ui-state-focus .ui-icon.x_glossary {	background-position: -42px 0px; }
.ui-button.ui-state-active .ui-icon.x_glossary {background-position: -84px 0px; }

.ui-button .ui-icon.x_maximise {				background-image: url("maximise.svg"); background-position: 0px 0px; }
.ui-button.ui-state-hover .ui-icon.x_maximise {	background-position: -42px 0px; }
.ui-button.ui-state-focus .ui-icon.x_maximise {	background-position: -42px 0px; }
.ui-button.ui-state-active .ui-icon.x_maximise {background-position: -84px 0px; }

.ui-button .ui-icon.x_minimise {				background-image: url("minimise.svg"); background-position: 0px 0px; }
.ui-button.ui-state-hover .ui-icon.x_minimise {	background-position: -42px 0px; }
.ui-button.ui-state-focus .ui-icon.x_minimise {	background-position: -42px 0px; }
.ui-button.ui-state-active .ui-icon.x_minimise {background-position: -84px 0px; }

.ui-button .ui-icon.x_media {					background-image: url("media.svg"); background-position: 0px 0px; }
.ui-button.ui-state-hover .ui-icon.x_media {	background-position: -42px 0px; }
.ui-button.ui-state-focus .ui-icon.x_media {	background-position: -42px 0px; }
.ui-button.ui-state-active .ui-icon.x_media {	background-position: -84px 0px; }

.ui-button .ui-icon.x_next {					background-image: url("next.svg"); background-position: 0px 0px; }
.ui-button.ui-state-hover .ui-icon.x_next {		background-position: -42px 0px; }
.ui-button.ui-state-focus .ui-icon.x_next {		background-position: -42px 0px; }
.ui-button.ui-state-active .ui-icon.x_next {	background-position: -84px 0px; }

.ui-button .ui-icon.x_prev {					background-image: url("previous.svg"); background-position: 0px 0px; }
.ui-button.ui-state-hover .ui-icon.x_prev {		background-position: -42px 0px; }
.ui-button.ui-state-focus .ui-icon.x_prev {		background-position: -42px 0px; }
.ui-button.ui-state-active .ui-icon.x_prev {	background-position: -84px 0px; }

.ui-button .ui-icon.x_prev_hist {					background-image: url("previous_hist.svg"); background-position: 0px 0px; }
.ui-button.ui-state-hover .ui-icon.x_prev_hist {	background-position: -42px 0px; }
.ui-button.ui-state-focus .ui-icon.x_prev_hist {	background-position: -42px 0px; }
.ui-button.ui-state-active .ui-icon.x_prev_hist {	background-position: -84px 0px; }

.ui-button .ui-icon.x_colourChanger { background-image: url("colour_changer.svg");background-position: 0px 0px;}
.ui-button.ui-state-hover .ui-icon.x_colourChanger {	background-position: -42px 0px; }
.ui-button.ui-state-focus .ui-icon.x_colourChanger {	background-position: -42px 0px; }
.ui-button.ui-state-active .ui-icon.x_colourChanger {	background-position: -84px 0px; }

.ui-dialog .ui-widget-header {
border: 1px solid #000000;
background: #ffffff url(ui-bg_highlight-soft_75_2d2a2a_1x100.png) 50% 50% repeat-x;
color: #000000;
font-weight: bold;
}

/* --@media TABLETS and above-------------------------------------------------------------- */
@media (min-width: 768px) {
/*--start of text size changes-----------------------------------------*/
p {
  font-size: 3.0vmin;
}
body {
	font-family:	Arial, sans-serif;
	font-size: 3.0vmin;
}
body ul{
	font-size: 3.0vmin;
}

li.bullet {
    font-size: 3.0vmin;
}
h3 {
    font-size: 3.0vmin;
}
panelPage h3 {
    font-size: 3.0vmin;
}
mainTxt h3 {
    font-size: 3.0vmin;
}
#infoHolder {
    font-size: 3.0vmin;
}
.splitScreen.medium {
/*possibly better slightly smaller than other text e.g. 2.5vmin*/
    font-size: 3.0vmin;
}
#linkHolder .panel.linkBlock {
/*better slightly smaller than other text*/
    font-size: 2.5vmin;
}
.topic {
/*possibly better slightly smaller than other text e.g. 2.5vmin*/
    font-size: 3.0vmin;
}
#optionHolder {
    font-size: 3.0vmin;
}
.listItem {
/*possibly better slightly smaller than other text e.g. 2.5vmin*/
    font-size: 3.0vmin;
}
#categoryHolder {
    font-size: 3.0vmin;
}
#dragDropHolder {
/*possibly better slightly smaller than other text e.g. 2.5vmin*/
    font-size: 2.5vmin;
}
#dragDropHolder .label {
/*possibly better slightly smaller than other text e.g. 2.5vmin*/
    font-size: 2.5vmin;
}
#pageContents h3{
  font-size:3.0vmin;
}
#pageContents .question {
    font-size: 3.0vmin;
}
#pageContents .question input {
    font-size: 3.0vmin;
}
#labelHolder {
    font-size: 3.0vmin;
}
mainPanel .panel {
    font-size: 3.0vmin;
}
#infoHolder {
    font-size: 3.0vmin;
}
#targetHolder h3 {
    font-size: 3.0vmin;
}
#answerTxt {
    font-size: 3.0vmin;
}
#pageContents textarea {
    font-size: 3.0vmin;
}
#targetHolder .target {
    font-size: 2.5vmin;
    /*remove padding in gap fill targets*/
    padding: 0.6vmin !important;
}
#targetHolder p {
    /*reduce font-size in matching sentences targets*/
    font-size: 2.5vmin;
}
.labelTxt p{
/*reduce font-size in matching sentences labels*/
    font-size:2.5vmin;
}
#resultsHolder div img {
    width: 8.0vmin !important;
    padding-right: 8px;
    clear:both;
}
#hsInfo {
    font-size: 3.0vmin;
}
#x_headerBlock h2 {
  font-size:5.0vmin;
  font-weight:bold;
}
#x_headerBlock h1 {
  font-size:2.5vmin;
}
.ui-accordion .ui-accordion-header a {
/*possibly better slightly smaller than other text e.g. 2.5vmin*/
    font-size: 3.0vmin;
    /*padding: .3em .3em .3em 1.7em;*/
}
.ui-button-text-only .ui-button-text {
/*reduce padding inside buttons e.g. zoom, submit, check etc*/
    padding: .1em 1em;
}
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text {
    padding: .1em;
}
#slideTxt {
/*possibly better slightly smaller than other text e.g. 2.5vmin*/
    font-size: 3.0vmin;
}
.ui-tabs .ui-tabs-nav li a {
/*possibly better slightly smaller than other text e.g. 2.5vmin*/
    font-size: 3.0vmin;
    /*reduce padding in tabnave buttons*/
    padding: .4em .4em;
}
.ui-button-text-only .ui-button-text {
/*possibly better slightly smaller than other text e.g. 2.5vmin*/
    /*padding: .3em 1em;*/
    font-size: 3.0vmin;
}
#thumbHolder .thumbBox h3{
/*possibly better slightly smaller than other text e.g. 2.5vmin*/
    font-size: 2.5vmin;
}
#thumbHolder .thumbBox {
/****This probably needs a better solution****/
    width: 18.0vmin !important;
}
#resultsHolder div p, #resultsHolder div a {
/*possibly better slightly smaller than other text e.g. 2.5vmin*/
    font-size: 3.0vmin;
}
#optionHolder input {
    width: 3.0vmin;
    height: 3.0vmin;
}
figcaption {
    font-size:2.5vmin;
    margin-top:2%;
}
/*--end of text size changes-----------------------------------------*/
}
/*--end of TABLETS and above-----------------------------------------*/


/*--other @media queries not used or disabled at moment-----------------------------------------*/
/* --LARGE DESKTOP-------------------------------------------------------------- */
@media (min-width: 1200px) {

}
/* --DESKTOP-------------------------------------------------------------- */
@media (max-width: 980px) {

}
/* --TABLETS TO DESKTOPS-------------------------------------------------------------- */
@media (min-width: 768px) and (max-width: 980px) {

}
/* --TABLETS-------------------------------------------------------------- */
@media (max-width: 767px) {

}

/* --LANDSCAPE PHONES-------------------------------------------------------------- */
@media (max-width: 480px) {

}