/******Header******/
#x_headerBlock {
  color: $mainfontcolour;
  background-repeat:no-repeat;
  background-position:right;
  background-image:	none;
  width: 100%;
  border-top-right-radius: $largeroundedcorners;
  background: $bodybackgroundcolor;
  box-shadow: $interfaceboxshadow;
}

#x_headerBlock #x_pageIntroBtn {
	color: $btntxtcolor;
}

#x_headerBlock #x_pageIntroBtn.pageIntroBg {
	color: $panelcolor;
	background-color: $btntxtcolor;
}

#x_headerBlock #x_pageIntroBtn.ui-button.ui-state-hover, #x_headerBlock #x_pageIntroBtn.ui-button.ui-state-focus, #x_headerBlock #x_pageIntroBtn.ui-state-active {
	color: $contrastcolor;
}

#x_headerBlock #x_pageIntroBtn.pageIntroBg.ui-button.ui-state-hover, #x_headerBlock #x_pageIntroBtn.pageIntroBg.ui-button.ui-state-focus, #x_headerBlock #x_pageIntroBtn.pageIntroBg.ui-state-active {
	color: $panelcolor;
	background-color: $contrastcolor;
}

/* progress bar */
#x_headerProgress .pbContainer {
  background-color: $btntxtcolor;
  border: none;
}
#x_headerProgress .pbBar {
  background-color: $contrastcolor;
  border-color: $contrastcolor;
}
#x_headerProgress .progressMarker {
  border-color: $btntxtcolor;
  background-color: $bodybackgroundcolor;
}
#x_headerProgress .progressMarker.complete {
  border-color: $contrastcolor;
}

/* page resources */
#x_pageResourcesBtn .resourceNumber {
  background: $contrastcolor;
  color: $blackordarkest;
}

#x_pageResourcesBtn.ui-button-icon-only:hover .resourceNumber, #x_pageResourcesBtn.ui-button-icon-only:active .resourceNumber, #x_pageResourcesBtn.ui-button-icon-only:focus .resourceNumber {
  background: $blackordarkest;
  color: $whiteorlightest;
}

.resourceIcon {
  border: none;
}

.resourceLink, .resourceLink:visited, .resourceLink:focus,
.resourceDownloadBtn, .resourceDownloadBtn:visited, .resourceDownloadBtn:focus {
  color: $mainfontcolour;
}