//*****lines*****/
.x_columnPage_page #textHolder, .x_textGraphics_page #imgCaption.transcript, .x_imageSequence_page #controlBar, .x_mediaLesson_page .panel h3, .x_nav_page #pageContents.col #textHolder,
.x_nav_page #pageContents.slide #btnHolder.top, .x_tabNavExtra_page .paneList, .x_table_page #footnote,
.x_decision_page #overviewHolder .overviewStep,
.x_documentation_page #pages:not(:last-child),
.x_gapFill_page #labelHolder, .x_gapFill_page #feedbackTxt,
.x_interactiveText_page #pageContents.show2 #btnHolder,
.x_interactiveText_page #pageContents.show #btnHolder,
.x_interactiveText_page #pageContents.find #btnHolder, #pageContents.find2 #btnHolder,
.x_interactiveText_page #groupInfo h3,
.x_mcq_page #feedback h3,
.x_quiz_page #feedbackGroup h3,
.x_textCorrection_page h3.fbLabel,
.x_crossword_page #x_pageDiv #clues-container h3, .x_crossword_page #x_pageDiv #clues h3,
.x_results_page #txtHolder,
.x_results_page #general_summary + #specific,
.x_SictTimeline_page #pageContents .tl-text .tl-headline-date, .x_SictTimeline_page #pageContents .tl-text h3.tl-headline-date,
.x_audioRecord_page #recordedClips .clip, .x_audioRecord_page #feedbackTxt {
  border-color: $bordercolor;
}

//*****hrs*****/
.x_mediaLesson_page hr,
.x_dragDropLabel_page #pageContents #textHolder hr,
.x_hotspotImage_page #infoHolder hr,
.x_opinion_page .qSeparator hr {
  background-color: $bordercolor;
}


//***********************************Tables*************************************/
//default background of table rows
.x_grid_page table tr,
.x_table_page table tr,
.x_interactiveText_page table tr,
.x_documentation_page table tr,
.x_results_page table tr {
  background: $panelcolor
}
//background of shaded/alternate rows
table tr.shaded {
  background: $panelcolor;
}
// header/footer shaded
table.header.shaded thead tr:first-child,
table.header.shaded tr.header,
table.header.shaded :not(tbody) > tr:first-child,
.x_grid_page table.header.shaded tr:first-child,
table.footer.shaded tbody tr:last-child,
table.headerCol.shaded td.header {
  background: $panelcolor;
}
table, table td, table th, table tr {
  border-color: $bordercolor !important;
}

//***********************************Sliders************************************
.ui-slider {
  background: $panelcolor;
  border-color: $bordercolor;
  border-radius: 20px !important;
}
.ui-slider .ui-slider-handle {
  border: 4px solid $bordercolor !important;
  background: $panelcolor !important;
  border-radius: 20px;
}
.ui-slider .ui-slider-handle:focus, .ui-slider .ui-slider-handle:hover {
  border-color: $contrastcolor !important;
  background: $panelcolor !important;
}
//***********************************Media*************************************
.ui-widget-content {
  //color: $whiteorlightest;
}
//*****audio slideshow********/
.x_audioSlideshow_page .slide {
  margin-left: 5px;
}
//*****multiple perspectives******/
.x_perspectives_page #thumbHolder .thumbBox h3, .x_responsive #thumbHolder .thumbBox h3{
  color: $blackordarkest;
}
.x_perspectives_page #thumbBar button { color: $mainfontcolour; }
.x_perspectives_page #thumbBar button.ui-state-hover { color: $contrastcolor; }
.x_perspectives_page #thumbBar button.ui-state-focus { color: $contrastcolor; }
.x_perspectives_page #thumbBar button.ui-state-active { color: $contrastcolor; }

.x_perspectives_page #thumbHolder .thumbBox.border {
  background: $panelcolor;
  border-color: $panelcolor;
}
.x_perspectives_page #thumbHolder .thumbBox.border.current {
  border-color: $contrastcolor;
}

//*****image sequence*****/
.x_imageSequence_page #seriesMenu > button { color: $mainfontcolour; }
.x_imageSequence_page #seriesMenu > button.ui-state-hover { color: $contrastcolor; }
.x_imageSequence_page #seriesMenu > button.ui-state-focus { color: $contrastcolor; }
.x_imageSequence_page #seriesMenu > button.ui-state-active { color: $contrastcolor; }

.x_imageSequence_page #seriesMenu .thumbs {
  background: $panelcolor;
  border-color: $bordercolor;
}
.x_imageSequence_page #seriesMenu .thumbs.selected {
  background: $contrastcolor;
  border-color: $contrastcolor;
}
.x_imageSequence_page .magnifyLabel {
  color: $mainfontcolour;
}
.x_imageSequence_page .imgCtrl button {
  background: $panelcolor;
  color: $mainfontcolour;
  border: 1px solid $bordercolor;
}
.x_imageSequence_page .imgCtrl button:hover, .x_imageSequence_page .imgCtrl button:focus {
  background: $contrastcolor;
  color: $panelcolor;
  border-color: $contrastcolor;
}
.x_imageSequence_page .magnifyBtn .slider {
  background: $panelcolor;
  color: $mainfontcolour;
  border: 1px solid $bordercolor;
}
.x_imageSequence_page input:hover + .slider, .x_imageSequence_page input:focus + .slider {
  background: $contrastcolor;
}
.x_imageSequence_page input:hover + .slider:before, .x_imageSequence_page input:focus + .slider:before {
  background: $panelcolor;
}
.x_decision_page .ui-slider {
  height: 10px;
}
//*****Synched Video*******/
#x_mainHolder.x_videoSynch_page .right{
  padding-top: 10px;
  padding-left: 20px;
}
//*****transcript reader******/
.x_transcriptReader_page .highlight {
  background: $panelcolor;
}
//*****image compare*****/
.x_imageCompare_page #slider {
  background: $panelcolor;
  border: 1px solid $bordercolor;
}
.x_imageCompare_page #slider_handle {
  background: $panelcolor;
  border: 4px solid $mainfontcolour;
}
.x_imageCompare_page #slider:focus #slider_handle,.x_imageCompare_page #slider:hover #slider_handle {
  border-color: $contrastcolor;
}
.x_imageCompare_page #slider_handle.vertical {
  height: 10px;
  bottom: 4px;
}
.x_imageCompare_page #slider_handle.horizontal {
  width: 10px;
  right: 4px;
}
//*****thumbnailViewer******/
.x_thumbnailViewer_page #thumbOverlayLeft,
.x_thumbnailViewer_page #thumbOverlayRight {
  background: $bodybackgroundcolor;
}
.x_thumbnailViewer_page #thumbBar button { color: $mainfontcolour; }
.x_thumbnailViewer_page #thumbBar button.ui-state-hover { color: $contrastcolor; }
.x_thumbnailViewer_page #thumbBar button.ui-state-focus { color: $contrastcolor; }
.x_thumbnailViewer_page #thumbBar button.ui-state-active { color: $contrastcolor; }

.x_thumbnailViewer_page #thumbHolder .thumbBox.selected {
  border-color: $contrastcolor;
}
.x_thumbnailViewer_page #panelTxt div {
  background: $panelcolor;
  color: $mainfontcolour;
  border: 1px solid $bordercolor;
}
.x_thumbnailViewer_page .ui-button#imgCloseBtn {
  background: $panelcolor;
  color: $mainfontcolour;
  border: 1px solid $bordercolor;
}
.x_thumbnailViewer_page .ui-button#imgCloseBtn:hover, .x_thumbnailViewer_page .ui-button#imgCloseBtn:focus, .x_thumbnailViewer_page .ui-button#imgCloseBtn:active {
  background: $contrastcolor;
  color: $panelcolor;
  border-color: $contrastcolor;
}

//*****timeline media*****/
.x_SictTimeline_page .tl-timeline {
  background: $panelcolor;
  color: $mainfontcolour;
}

.x_SictTimeline_page .tl-slider-background.tl-animate, .x_SictTimeline_page .tl-timenav {
  background: $panelcolor !important;
}
.x_SictTimeline_page #pageContents .tl-text,
.x_SictTimeline_page #pageContents .tl-text p,
.x_SictTimeline_page #pageContents .tl-timemarker-text h2,
.x_SictTimeline_page #pageContents .tl-text .tl-headline-date,
.x_SictTimeline_page #pageContents .tl-text h3.tl-headline-date
.x_SictTimeline_page #pageContents .tl-timemarker .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-media-container [class^="tl-icon-"],
.x_SictTimeline_page #pageContents .tl-timemarker .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-media-container [class*=" tl-icon-"],
.x_SictTimeline_page #pageContents .tl-timeaxis .tl-timeaxis-content-container .tl-timeaxis-major .tl-timeaxis-tick,
.x_SictTimeline_page #pageContents .tl-timeaxis .tl-timeaxis-content-container .tl-timeaxis-minor .tl-timeaxis-tick,
.x_SictTimeline_page .tl-timeline h1, .x_SictTimeline_page .tl-timeline h2, .x_SictTimeline_page .tl-timeline h3, .x_SictTimeline_page .tl-timeline h4, .x_SictTimeline_page .tl-timeline h5, .x_SictTimeline_page .tl-timeline h6,
.x_SictTimeline_page .tl-caption,
.x_SictTimeline_page .tl-slidenav-previous .tl-slidenav-content-container .tl-slidenav-icon,
.x_SictTimeline_page .tl-slidenav-next .tl-slidenav-content-container .tl-slidenav-icon,
.x_SictTimeline_page .tl-slidenav-previous .tl-slidenav-content-container .tl-slidenav-title,
.x_SictTimeline_page .tl-slidenav-next .tl-slidenav-content-container .tl-slidenav-title,
.x_SictTimeline_page .tl-slidenav-previous .tl-slidenav-content-container .tl-slidenav-description,
.x_SictTimeline_page .tl-slidenav-next .tl-slidenav-content-container .tl-slidenav-description {
  color: $mainfontcolour !important;
  text-shadow: none;
}
.x_SictTimeline_page .tl-slidenav-icon:hover:before, .x_SictTimeline_page .tl-slidenav-icon:focus:before {
  color: $contrastcolor;
}
.x_SictTimeline_page .tl-timemarker-content,
.x_SictTimeline_page .tl-timeaxis-background,
.x_SictTimeline_page .tl-timeline .tl-attribution {
  background: $panelcolor !important;
}
.x_SictTimeline_page .tl-timeline p a {
  color: $mainfontcolour;
}
.x_SictTimeline_page .tl-timeline p a:hover, .x_SictTimeline_page .tl-timeline p a:focus, .x_SictTimeline_page .tl-timeline p a:active {
  color: $contrastcolor;
}
.x_SictTimeline_page .tl-menubar-button {
  background: none;
}

//***********************************Navigators*************************************/
//*****Accordion page*******/
.x_nav_page #pageContents.acc .ui-accordion .ui-accordion-content {
  background: $panelcolor;
  border-color: $bordercolor;
}
.x_nav_page #pageContents.acc .ui-accordion .ui-accordion-header {
  background: $panelcolor;
  border: 1px solid $bordercolor;
}
.x_nav_page #pageContents.acc .ui-accordion .ui-accordion-header-active {
  border-bottom: 1px solid $bordercolor !important;
}
.x_nav_page #pageContents.acc .ui-accordion .ui-accordion-header.ui-state-hover, .x_nav_page #pageContents.acc .ui-accordion .ui-accordion-header.ui-state-focus {
  background: $contrastcolor;
  border-color: $contrastcolor;
  border-bottom-color: $contrastcolor !important;
}
.x_nav_page #pageContents.acc .ui-accordion .ui-accordion-header a, .x_nav_page #pageContents.acc .ui-accordion .ui-accordion-header .ui-accordion-header-icon {
  color: $mainfontcolour;
  background: none !important;
}
.x_nav_page #pageContents.acc .ui-accordion .ui-accordion-header.ui-state-hover a, .x_nav_page #pageContents.acc .ui-accordion .ui-accordion-header.ui-state-focus a,
.x_nav_page #pageContents.acc .ui-accordion .ui-accordion-header.ui-state-hover .ui-accordion-header-icon, .x_nav_page #pageContents.acc .ui-accordion .ui-accordion-header.ui-state-focus .ui-accordion-header-icon {
  color: $panelcolor !important;
}
.x_nav_page .ui-accordion .ui-accordion-content {
  margin-top: 0;
}
//*****tabs*****/
.ui-tabs {
  background: $panelcolor;
  border-color: $panelcolor;
}
.ui-tabs .ui-tabs-panel {
  background: $panelcolor;
  border: 1px solid $bordercolor;
}
.ui-tabs .ui-tabs-nav {
  background: none;
  padding: 0;
  border: none;
  //border-bottom: 1px solid $bordercolor !important;
}
.ui-tabs .ui-tabs-nav li {
  background: $panelcolor;
  border: 1px solid $bordercolor;
  margin-top: 1px;
}
.ui-tabs .ui-tabs-nav li a, .ui-tabs .ui-tabs-nav li.ui-state-active a {
  color: $mainfontcolour;
}
.ui-tabs .ui-tabs-nav li.ui-state-active,
#tabHolder .navChildTitle.ui-tabs-active{
  border-bottom: none !important;
  background: $panelcolor;
  color: $contrastcolor;
  border-color: $contrastcolor;
}
.ui-tabs .ui-tabs-nav li.ui-state-active a,
#tabHolder .navChildTitle.ui-tabs-active a{
  color: $contrastcolor;
}
.ui-tabs .ui-tabs-nav li.ui-state-hover:not(.ui-state-active), .ui-tabs .ui-tabs-nav li.ui-state-focus:not(.ui-state-active) {
  background: $contrastcolor;
  border-color: $contrastcolor;
}
.ui-tabs .ui-tabs-nav li.ui-state-hover:not(.ui-state-active) a, .ui-tabs .ui-tabs-nav li.ui-state-focus:not(.ui-state-active) a {
  color: $panelcolor;
}
.ui-tabs-panel a:visited, .ui-accordion-content a:visited {
  color: $linkcolor;
}
.ui-tabs-panel a:link, .ui-accordion-content a:link {
  color: $linkcolor;
}
.ui-tabs-panel a:hover, .ui-accordion-content a:hover {
  color: $linkhover;
}
.x_tabNavExtra_page #topicHolder .topic,
.x_list_page #listHolder .listItem {
  border: 1px solid $bordercolor;
  color: $mainfontcolour;
  background: $panelcolor;
  margin-bottom: .2em;
  font-weight: normal;
}
.x_tabNavExtra_page #topicHolder .topic.highlight,
.x_list_page #listHolder .listItem.highlight {
  border-color: $contrastcolor;
  color: $contrastcolor;
}
.x_tabNavExtra_page #topicHolder .topic:not(.highlight):focus, .x_tabNavExtra_page #topicHolder .topic:not(.highlight):hover,
.x_list_page #listHolder .listItem:not(.highlight):focus, .x_list_page #listHolder .listItem:not(.highlight):hover {
  background: $contrastcolor;
  border-color: $contrastcolor;
  color: $panelcolor;
}
//*****button navigator*****/
.ui-button {
  border-radius: $smallroundedcorners;
  background: $defaultpagebackground;
  border: 1px solid $bordercolor;
  color: $mainfontcolour;
}
.panel .ui-button, .featherlight-content .ui-button {
  background: $panelcolor;
}
.ui-button:not(.ui-button-disabled):hover, .ui-button:not(.ui-button-disabled):active, .ui-button:not(.ui-button-disabled):focus,
.ui-button:not(.ui-button-disabled):hover p, .ui-button:not(.ui-button-disabled):active p, .ui-button:not(.ui-button-disabled):focus p {
  background: $contrastcolor;
  color: $panelcolor;
  border-color: $contrastcolor;
}
.ui-buttonset .ui-button {
  margin-left: 0;
  margin-right: .2em;
}
.ui-state-active{
  border-radius: $smallroundedcorners;
  color: $mainfontcolour;
}
.x_nav_page #pageContents.button button.selected {
  border-color: $contrastcolor;
  background: $panelcolor;
  color: $contrastcolor;
}
//***Flash cards***/
.x_flashCards_page .front.panel{
  background:$panelcolor;
  border-color:$bordercolor;
  color:$mainfontcolour;
}
.x_flashCards_page .back.panel{
  background:$panelcolor;
  border-color:$bordercolor;
  color:$mainfontcolour;
}
.x_flashCards_page .circleBtn.ui-button {
  background: $panelcolor;
  color: $mainfontcolour;
  border-color: $bordercolor;
}
.x_flashCards_page .panel .circleBtn.ui-button {
  background: $panelcolor;
}
.x_flashCards_page .circleBtn.ui-button:hover, .x_flashCards_page .circleBtn.ui-button:focus, .x_flashCards_page .circleBtn.ui-button:active {
  background: $contrastcolor;
  border-color: $contrastcolor;
  color: $panelcolor;
}
.x_flashCards_page .circleBtn.ui-button:hover .ui-icon, .x_flashCards_page .circleBtn.ui-button:focus .ui-icon, .x_flashCards_page .circleBtn.ui-button:active .ui-icon {
  color: $panelcolor;
}
.x_flashCards_page #cardCtrls .btnHolder button {
  color: $mainfontcolour;
}
.x_flashCards_page #cardCtrls .btnHolder button:hover, .x_flashCards_page #cardCtrls .btnHolder button:focus, .x_flashCards_page #cardCtrls .btnHolder button:active {
  color: $contrastcolor;
}
//*****hyperlinks******/
.x_links_page #linkHolder a{
  color:$linkcolor;
}
.x_links_page #linkHolder a:visited{
  color:$linkvisited;
}
.x_links_page #linkHolder a:hover{
  color:$linkhover;
}


//***********************************Interactivity*************************************/
#pageContents textarea,
#pageContents input {
  border-radius: $smallroundedcorners;
  padding-left: 10px;
}
//*****draggable labels*****/
.label.panel.ui-draggable,
.x_categories_page .label.panel {
  background: $panelcolor;
  color:$mainfontcolour;
  border: 2px solid $bordercolor !important;
}
.label.panel.ui-draggable.selected, .label.panel.ui-draggable.focus,
.x_categories_page #dragDropHolder .label.selected, .x_categories_page #dragDropHolder .label.focus{
  border-color: $contrastcolor !important;
  color: $contrastcolor;
}
//*****highlight text******/
.x_textHighlight_page #selectBtn {
  border-radius: $smallroundedcorners;
  background: $panelcolor;
  border: 1px solid $bordercolor;
  color: $mainfontcolour;
}
.x_textHighlight_page #selectBtn.ui-button:not(.ui-button-disabled):hover, .x_textHighlight_page #selectBtn.ui-button:not(.ui-button-disabled):active, .x_textHighlight_page #selectBtn.ui-button:not(.ui-button-disabled):focus,
.x_textHighlight_page #selectBtn.ui-button:not(.ui-button-disabled):hover p, .x_textHighlight_page #selectBtn.ui-button:not(.ui-button-disabled):active p, .x_textHighlight_page #selectBtn.ui-button:not(.ui-button-disabled):focus p {
  background: $contrastcolor;
  color: $panelcolor;
  border-color: $contrastcolor;
}
.x_textHighlight_page .paneHolder {
  background: $panelcolor;
}
//*****annotated diagram******/
#listholder a.listitem, a:visited {
  color: $mainfontcolour;
}
.x_annotatedDiagram_page .highlight{
  background: $panelcolor;
}
.x_annotatedDiagram_page .hotspot{
  background:none;
}
.x_annotatedDiagram_page #infoHolder{
  background: $panelcolor;
}
//*****audio record page*****/
.x_audioRecord_page #recBtn.recording .ui-icon, .x_audioRecord_page #recBtn.recording .ui-button-text {
  color: $accent3 !important;
}
//*****categories*****/
.x_categories_page #categoryHolder h3 {
  color:$mainfontcolour;
}
.x_categories_page #dragDropHolder {
  padding:10px;
}
.x_categories_page #categoryHolder .category {
  border: 1px solid $bordercolor;
}
.x_categories_page #categoryHolder .highlight {
  background: $panelcolor;
}
.x_categories_page .label.panel.selected p {
  color: $contrastcolor;
}
//*******decision tree********//
.x_decision_page .highlight{
  background: none;
}
.x_decision_page .optionGroup.highlight {
  background: none;
}
.x_decision_page .ui-slider .ui-slider-handle {
  top: -6px;
  height: 14px;
  width: 14px;
}
//*****Dictation*****/
.x_dictation_page #answerTxt {
  width: 98%;
  margin-bottom: 10px;
  border-radius: $mediumroundedcorners;
  padding:10px;
}
//*****gap fill*****/
.x_gapFill_page #targetHolder .target {
  border-radius: $mediumroundedcorners;
}
.x_gapFill_page #targetHolder input[readonly].judged.correct+span:before,
.x_gapFill_page #targetHolder input[correct].judged+span:before,
.x_gapFill_page #targetHolder .target.correct+span:before,
.x_gapFill_page #targetHolder select[disabled].correct+span:before,
.x_gapFill_page #targetHolder input[readonly].correct,
.x_gapFill_page #targetHolder .target.correct,
.x_gapFill_page #targetHolder input[correct] {
  color: $accent1;
}
.x_gapFill_page #targetHolder .highlight {
  background: $panelcolor;
}
.x_gapFill_page #targetHolder.bg .highlight {
  border: 1px solid $bordercolor;
}
.x_gapFill_page #targetHolder input[readonly].correct,
.x_gapFill_page #targetHolder:not(.underline):not(.outline) .target.correct,
.x_gapFill_page #targetHolder input[correct],
.x_gapFill_page #targetHolder select[disabled].correct {
  background: inherit;
  border: 1px solid $bordercolor;
}
.x_gapFill_page #targetHolder select[disabled].answerShown,
.x_gapFill_page #targetHolder input[readonly] {
  background: inherit;
  border: 1px solid $bordercolor;
  color: $mainfontcolour;
}
.x_gapFill_page #targetHolder input.incorrect, #targetHolder input[incorrect] {
  color: $mainfontcolour;
}
.x_gapFill_page #targetHolder .target.answerShown {
  color: $mainfontcolour;
}
.x_gapFill_page #targetHolder.outline .target.highlight {
  border: 1px dashed $bordercolor;
}
.x_gapFill_page #targetHolder.underline .target.highlight {
  border-bottom: 1px solid $bordercolor;
  border-top: 1px solid transparent;
}
.x_gapFill_page #targetHolder select[disabled],
.x_gapFill_page #targetHolder .target.incorrect,
.x_gapFill_page #targetHolder input[readonly]{
  background: inherit;
}
.x_gapFill_page #targetHolder .target.selected {
  border-color: $contrastcolor !important;
}
//*****audio record*****/
.x_audioRecord_page .deleteClipBtn:hover, .x_audioRecord_page .deleteClipBtn:focus {
  color: $contrastcolor;
}
//*****hotspot image*****/
a.hotspot, a.hotspot.selected {
  background: none;
}
.hsinfo{
  padding:1%;
}
//******Interactive lists*******/
.x_list_page a.listItem:link {
  background: $panelcolor !important;
}
//******Interactive text*******/
.x_interactiveText_page #passageHolder a.listItem:hover, #passageHolder a.listItem:active {
  color: $contrastcolor;
}
.x_interactiveText_page #passageHolder a.listItem.highlight {
  color: $panelcolor;
  background: $contrastcolor;
}
.x_interactiveText_page .highlight{
  background: $contrastcolor;
}
.x_interactiveText_page .optionGroup.highlight {
  background: none;
}
//*********matching texts*********/
.x_textMatch_page .target.highlight {
  background: $panelcolor;
  border: 1px solid $bordercolor;
}
.x_textMatch_page #dragDropHolder .label.selected p {
  color: $contrastcolor;
}
//*****model answer*****/
.x_modelAnswer_page #answerTxt {
  border-radius: $mediumroundedcorners;
  width: 98%;
}
.x_modelAnswer_page #copyTxt {
  color: $accent3;
}
//*****opinion********/
.x_opinion_page #pageContents input {
  padding-left: 0;
}
.x_opinion_page .sliderHolder .labelHolder a p {
  color: $mainfontcolour;
}
.x_opinion_page .qSeparator hr {
  border-color: $bordercolor;
}
//*****sortable grid*****/
.x_grid_page #grid .listHolder li.shadow {
  box-shadow: none;
  border: 2px solid $bordercolor;
}
.x_grid_page #grid .listHolder li.ui-draggable-dragging {
  background: $panelcolor;
  border-color: $bordercolor;
}
.x_grid_page #grid .listHolder li.selected {
  border-color: $contrastcolor;
  color: $contrastcolor !important;
}
.x_grid_page #grid ul:not(.preview) li.ui-state-highlight {
  border-color: $contrastcolor;
}
.x_grid_page #grid ul li{
  background:$panelcolor;
  border-color: transparent;
  color:$mainfontcolour !important;
}
.x_grid_page #grid ul li.static {
  background: none;
  border-color: transparent;
}
/*****timeline matching pairs*****/
.x_timeline_page #targetHolder .target.bg {
  background-color: $panelcolor;
  border: 1px solid $bordercolor;
}
.x_timeline_page .label.panel.ui-draggable.selected p {
  color: $contrastcolor;
}

//***********************************Charts*************************************/
//***Charts Table***/
.x_table_page table.header.simple tr:first-child {
  border:none;
}
.x_table_page table.simple {
  border: none;
}

//***********************************Games*************************************/
//*****Crossword*****/
.x_crossword_page .crossword-input[type=text] {
  background: $panelcolor;
}
.x_crossword_page .highlighted .crossword-input[type=text] {
  background: $panelcolor;
}
.x_crossword_page #crossword .correct {
  background: $accent1;
}
//*****games memory*****/
.x_memory_page #pageContents .card {
  border-radius: $smallroundedcorners;
}
.x_memory_page #cardTopHolder .card.focus {
  border-color: $contrastcolor;
}
//*****memory******/
.x_memory_page #pageContents .card {
  background-color:$panelcolor;
  border-color: $bordercolor;
}
.x_memory_page #cardBottomHolder .card .label {
  background-color: $panelcolor;
}
.x_memory_page #cardTopHolder .card {
  background-image: url('card_back.svg') !important; //doesn't work without important
}
//*****wordsearch*****/
.x_wordsearch_page #puzzle {
  background: $panelcolor;
}
.x_wordsearch_page #puzzle .puzzleSquare {
  background: none;
  color: $mainfontcolour;
}
.x_wordsearch_page #puzzle .puzzleSquare.found {
  background: $accent1;
}
.x_wordsearch_page #puzzle .puzzleSquare.selected {
  background: $accent4;
  color: $mainfontcolour;
}
.x_wordsearch_page #puzzle .puzzleSquare.solved {
  background: $accent6;
  color: $panelcolor;
}
.x_wordsearch_page #words .wordFound {
  color: $accent1;
}
#puzzle {
  border-radius: $mediumroundedcorners;
}
//*****hangman*****/
.x_hangman_page #clue .dash {
  border-color: $bordercolor;
}


//***********************************Misc*************************************/
//*****youtube feed page*****/
.x_youtuberss_page #resultsHolder div {
  width:97%;
  min-height: 50px;
  padding-top: 5px;
  border-radius: $mediumroundedcorners;
  background-color: $panelcolor;
  margin:.5em;
}
.x_youtuberss_page .shadedDiv {
  background-color: $panelcolor !important; //doesn't work without important
  border-radius: $mediumroundedcorners;
  border-bottom: 1px solid $bordercolor;
}
//*****RSS feed******/
.x_rss_page #resultsHolder .shadedDiv {
  background-color: $panelcolor !important;
  border-bottom: 1px solid $bordercolor;
}
//*****RSS feed******/
.x_rssdownload_page #resultsHolder .shadedDiv {
  background-color: $panelcolor !important;
  border-bottom: 1px solid $bordercolor;
}
//*****results page*****/
.x_results_page #general_summary, .x_results_page #general_summary td, .x_results_page #general_summary th,
.x_results_page #questionScores, .x_results_page #questionScores td, .x_results_page #questionScores th,
.x_results_page #fullResults table, .x_results_page #fullResults td, .x_results_page #fullResults th {
  border: 1px solid $bordercolor;
}
.x_results_page th, .x_results_page tr.alt td {
  background: inherit;
}
.x_results_page .fas.fa-times-circle {
  color: $accent3;
}
.x_results_page .fas.fa-check-circle {
  color: $accent1;
}
.x_results_page .fas.fa-times-circle, .x_results_page .fas.fa-check-circle {
  background: none;
}
.x_results_page .blue {
  color: $contrastcolor;
}

//*****hotspot image connector*****/
#hotspot_bubble {
  color: $mainfontcolour;
  background: $panelcolor;
  border-color: $bordercolor;
}