body { font-family: Tahoma, Helvetica, Arial; }
.cell { font-family: Tahoma, Helvetica, Arial; }

CAPTION.MYTABLE {
   border-style:solid;
   border-width:2px;
   border-color:black;
}

TABLE.MYTABLE { 
   border-style:solid;
   border-color:black;
   border-width:2px;
}

TABLE.MYTABLE_THIN { 
   border-style:solid;
   border-color:black;
   border-width:1px;
}

TR.MYTABLE { 
}

TD.MYTABLE {  
   border-left-style:solid;
   border-bottom-style:solid;
   border-width:1px;
   border-color:#BBBBBB;
   font-size: 12px;
}

TD.MYTABLE_BLACK_BOTTOM {  
   border-left-style:solid;
   border-bottom-style:solid;
   border-width:1px;
   border-left-color:#BBBBBB;
   border-bottom-color:black;
   font-size: 12px;
}

TH.MYTABLE {  
   border-left-style:solid;
   border-bottom-style:solid;
   border-width:1px;
   border-left-color:#BBBBBB;
   border-bottom-color:black;
   font-size: 12px;
}

TD.MYTABLE1 {  
   border-left-style:none;
   border-bottom-style:none;
   font-size: 12px;
}

PRE { background: #EEEEEE }
