@charset "UTF-8";
/* roboto-regular - latin-ext_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/roboto-v29-latin-ext_latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("fonts/roboto-v29-latin-ext_latin-regular.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-v29-latin-ext_latin-regular.woff2") format("woff2"), url("fonts/roboto-v29-latin-ext_latin-regular.woff") format("woff"), url("fonts/roboto-v29-latin-ext_latin-regular.ttf") format("truetype"), url("fonts/roboto-v29-latin-ext_latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/*black*/
/*blue*/
/*set background colors*/
/* default #2196F3;*/
/*set font family*/
/*define font colors to match the background colors*/
/*define rounded corner and other sizes*/
/*6vmin;*/
/*2vmin;*/
/*1vmin;*/
/*2vmin;*/
/*3px 3px 5px grey*/
/*start here and set the default values for all the variables*/
/******Header******/
#x_headerBlock {
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: right;
  background-image: none;
  background: #222222;
  box-shadow: none;
}

body:not(.sb_right):not(.sb_left) #x_headerBlock {
  width: 100%;
  border-top-right-radius: 3vmin;
  border-top-left-radius: 3vmin;
}

#x_headerBlock #x_pageIntroBtn {
  color: white;
}

#x_headerBlock #x_pageIntroBtn.pageIntroBg {
  color: black;
  background-color: white;
}

#x_headerBlock #x_pageIntroBtn.ui-button.ui-state-hover, #x_headerBlock #x_pageIntroBtn.ui-button.ui-state-focus, #x_headerBlock #x_pageIntroBtn.ui-state-active {
  color: #117BAD;
}

#x_headerBlock #x_pageIntroBtn.pageIntroBg.ui-button.ui-state-hover, #x_headerBlock #x_pageIntroBtn.pageIntroBg.ui-button.ui-state-focus, #x_headerBlock #x_pageIntroBtn.pageIntroBg.ui-state-active {
  color: black;
  background-color: #117BAD;
}

/* progress bar */
#x_headerProgress .progressMarker {
  border-color: #BFBFBF;
  background-color: #000000;
}

#x_headerProgress .progressMarker.complete {
  border-color: #117BAD;
}

/* page resources */
#x_pageResourcesBtn.ui-button-icon-only {
  background: none;
}

#x_pageResourcesBtn .resourceNumber {
  background: #117BAD;
  color: #ffffff;
}

#x_pageResourcesBtn.ui-button-icon-only:hover .resourceNumber, #x_pageResourcesBtn.ui-button-icon-only:active .resourceNumber, #x_pageResourcesBtn.ui-button-icon-only:focus .resourceNumber {
  background: orange;
  color: #ffffff;
}

.resourceDownloadBtn, .resourceDownloadBtn:hover, .resourceDownloadBtn:visited, .resourceDownloadBtn:focus {
  color: #ffffff;
}

.highlight {
  background: orange;
}

.x_audioSlideshow_page .slide {
  margin-left: 5px;
}

#thumbHolder .thumbBox h3, .x_responsive #thumbHolder .thumbBox h3 {
  color: #222222;
}

#x_mainHolder.x_videoSynch_page .right {
  padding-top: 10px;
  padding-left: 20px;
}

.x_transcriptReader_page .highlight {
  background: rgba(255, 255, 255, 0.4);
}

.ui-accordion .ui-accordion-content {
  border-radius: 1vmin;
  background: orange;
  color: #000000;
}

.ui-accordion .ui-accordion-header {
  border-radius: 1vmin;
  background: #117BAD;
  color: #ffffff;
}

.ui-accordion .ui-accordion-header a {
  border-radius: 1vmin;
  color: #ffffff !important;
  background: #117BAD;
}

.ui-accordion .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  text-decoration: none;
  background: #E61717;
  border-radius: 1vmin;
  color: #000000;
}

.ui-tabs-panel a:visited, .ui-accordion-content a:visited {
  color: blue;
}

.ui-tabs-panel a:link, .ui-accordion-content a:link {
  color: blue;
}

.ui-tabs-panel a:hover, .ui-accordion-content a:hover {
  color: red;
}

.ui-button {
  border-radius: 1vmin;
  background: #117BAD;
  border: none;
  color: #ffffff;
}

.ui-buttonset .ui-button {
  margin-left: 0;
  margin-right: 0.2em;
}

.ui-state-active {
  border-radius: 1vmin;
  background: green;
  border: none;
  color: #ffffff;
}

.x_nav_page #pageContents.button button.selected {
  background-color: green;
}

.front.panel {
  background: orange;
  border: orange;
  color: #000000;
}

.back.panel {
  background: #117BAD;
  border: #117BAD;
  color: #ffffff;
}

.back.panel a {
  color: #ffffff;
}

.x_links_page #linkHolder a {
  color: blue;
}

.x_links_page #linkHolder a:visited {
  color: green;
}

.x_links_page #linkHolder a:hover {
  color: red;
}

#pageContents.button button.selected {
  background-color: orange;
}

#pageContents.slide #btnHolder button {
  background: #117BAD;
  border-color: #117BAD;
}

.ui-tabs .ui-tabs-nav li {
  border-radius: 1vmin;
  background: #117BAD;
  border: none;
  color: #ffffff;
}

.paneInfo {
  /*color:$fontcolorfobrightcolor;*/
}

.paneList a, .paneList a:link, .paneList a:visited {
  /*color: $linkcolor !important;*/
}

.ui-tabs-panel a:link {
  /*color: $linkcolor;*/
}

.ui-tabs .ui-tabs-nav {
  border-radius: 1vmin;
  background: none;
  border: none;
}

.ui-tabs .ui-tabs-nav li a {
  color: #ffffff;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  text-decoration: none;
  background: green;
  color: #ffffff !important;
  border-radius: 1vmin;
  border: none;
}

a.topic.highlight {
  background: green;
  color: #ffffff;
}

a.topic.highlight:hover {
  background: orange;
  color: #000000;
}

div.infoHolder.ui-tabs.ui-widget.ui-widget-content.ui-corner-all {
  background: orange;
}

#pageContents textarea {
  border-radius: 2vmin;
  padding: 10px;
}

#pageContents input {
  border-radius: 1vmin;
  padding-left: 10px;
}

.x_textHighlight_page .ui-widget-content button.ui-state-default {
  border-radius: 1vmin;
  background: #117BAD;
  border: none;
  color: #ffffff;
}

.x_textHighlight_page .ui-widget-content button.ui-state-default.ui-state-active {
  background: green;
  color: #ffffff;
}

.x_textHighlight_page .ui-tabs {
  border-radius: 2vmin;
  background: orange;
}

#listholder a.listitem, a:visited {
  color: #117BAD;
}

.x_annotatedDiagram_page .highlight {
  background: orange;
}

.x_annotatedDiagram_page .hotspot {
  background: none;
}

.x_annotatedDiagram_page #infoHolder {
  background: #ffffff;
}

.target.ui-droppable.border.highlight {
  background-color: rgba(255, 165, 0, 0.4) !important;
}

.x_dragDropLabel_page #infoHolder {
  padding: 20px;
  margin-right: 20px;
}

.x_dragDropLabel_page .label.panel {
  background: rgba(0, 128, 0, 0.8) !important;
  border-color: green;
  color: #ffffff;
}

.x_dragDropLabel_page #targetHolder .highlight {
  background: none;
}

#categoryHolder .category {
  border-radius: 2vmin;
}

#categoryHolder h3 {
  color: #000000;
}

.x_categories_page #dragDropHolder {
  background: #ffffff;
  padding: 10px;
  border-radius: 2vmin;
}

.x_categories_page .label.panel {
  background: green;
  border: green;
  color: #ffffff;
}

#categoryHolder .highlight {
  border-radius: 1vmin;
  background: orange;
}

.x_decision_page .highlight {
  background: orange;
}

.x_dictation_page #answerTxt {
  width: 98%;
  margin-bottom: 10px;
  border-radius: 2vmin;
  padding: 10px;
}

#targetHolder .target {
  border-radius: 2vmin;
}

#targetHolder .highlight {
  background: #ffffff;
}

.x_gapFill_page #targetHolder .highlight {
  background: rgba(255, 255, 255, 0.5);
}

.x_gapFill_page .label.panel {
  background: green;
  border-color: green !important;
  color: #ffffff;
}

.x_gapFill_page .target.correct {
  color: green;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.2);
}

a.hotspot, a.hotspot.selected {
  background: none;
}

.hsinfo {
  padding: 1%;
}

.x_hotspotImage_page #infoHolder {
  background: none;
}

.x_interactiveText_page .highlight {
  background: orange;
}

.x_list_page .highlight {
  background: #117BAD;
  color: #ffffff;
}

.x_textMatch_page #dragDropHolder {
  background: orange;
  padding: 10px;
  border-radius: 2vmin;
}

.x_textMatch_page .label.panel {
  background: green;
  border-color: green;
  color: #ffffff;
}

.x_modelAnswer_page #answerTxt {
  border-radius: 2vmin;
  width: 98%;
}

.x_opinion_page #pageContents input {
  padding-left: 0;
}

.qPanel {
  overflow-x: hidden;
}

.qSeparator hr {
  background-color: #ffc04d;
  border-color: #ffc04d;
  border: solid 1px #ffc04d;
}

.sliderHolder .labelHolder a p {
  color: #000000;
}

.x_grid_page #gridBorders {
  border-radius: 1vmin;
}

.x_grid_page #grid .listHolder.constrainC li {
  border-radius: 1vmin;
}

.x_grid_page #grid ul li.header {
  color: #ffffff;
  background: #E61717;
}

.x_grid_page table.simple {
  border: transparent;
}

.x_grid_page table.header.simple tr:first-child {
  border-bottom: transparent;
  background: #222222;
}

.x_grid_page table.header.shaded tr:first-child {
  background: #000000;
}

.x_grid_page #grid ul li {
  background: green;
  border-color: transparent;
  color: #ffffff !important;
}

.x_grid_page table tr.shaded {
  background: #117BAD;
  color: #000000 !important;
}

.x_grid_page table tr {
  background: orange;
  color: white !important;
}

.x_grid_page #grid ul li.static {
  background: #000000;
  border-color: transparent;
}

/*****timeline matching pairs*****/
.x_timeline_page #dragDropHolder {
  background: #ffffff;
}

.x_timeline_page #targetHolder .target {
  border-radius: 2vmin;
  background-color: orange;
}

.x_timeline_page .label.panel.ui-draggable {
  background: green;
  color: #ffffff;
  border-color: green;
}

#subMenuItems .subMenuItem {
  background: #117BAD;
  color: #ffffff;
}

.x_table_page table.header.simple tr:first-child {
  border: none;
}

.x_table_page table.simple {
  border: none;
}

#pageContents .card {
  border-radius: 1vmin;
  border-color: #117BAD;
}

#cardTopHolder .card {
  border-color: #117BAD;
}

#puzzle {
  border-radius: 2vmin;
}

#pageContents .card {
  color: #222222;
}

#cardTopHolder .card {
  background-image: url("card_back.svg") !important;
}

.x_youtuberss_page #resultsHolder div {
  width: 97%;
  min-height: 50px;
  padding-top: 5px;
  border-radius: 2vmin;
  background-color: orange;
  margin: 0.5em;
}

.x_youtuberss_page #resultsHolder div a {
  color: #0000A0;
}

.x_youtuberss_page .shadedDiv {
  background-color: #ffc966 !important;
  border-radius: 2vmin;
}

.x_youtuberss_page .shadedDiv p {
  color: #000000 !important;
}

div#shorturltodisplay a {
  color: #222222;
}

.x_rss_page #resultsHolder div {
  border-radius: 2vmin;
  background-color: orange;
}

.x_rss_page #resultsHolder div p {
  color: #000000;
}

.x_rss_page #resultsHolder .shadedDiv {
  background-color: #ffc966 !important;
  border-radius: 2vmin;
}

.x_rss_page #resultsHolder div a {
  color: darkblue;
}

.x_results_page td {
  background: orange;
  color: #222222;
}

.x_results_page #questionScores th {
  background-color: #222222;
}

.x_results_page tr.alt td {
  background: #117BAD;
  color: #ffffff;
}

.x_results_page .details th, .x_results_page .details tr:first-of-type td.correct {
  background: #222222;
  color: #ffffff;
}

.x_results_page #general_summary th {
  background: #ffffff;
}

.fas.fa-check-circle {
  color: green;
}

.fas.fa-times-circle {
  color: #CD2A2A;
}

.fas.fa-circle.blue {
  color: white;
  background: black;
  border-radius: 12px;
}

.far.fa-circle.blue {
  color: white;
  border-radius: 12px;
}

.x_results_page tr.alt .far.fa-circle.blue {
  color: #ffffff !important;
  border-radius: 12px;
}

.x_results_page tr .far.fa-circle.blue {
  color: #010101 !important;
  border-radius: 12px;
}

.x_audioRecord_page .deleteClipBtn {
  color: #000000;
}

.x_audioRecord_page .clip.highlight {
  background-color: green;
}

.x_audioRecord_page #recBtn.recording .ui-icon, .x_audioRecord_page #recBtn.recording .ui-button-text {
  color: #ffffff;
}

@media (min-width: 768px) {
  .tick, img.result {
    width: 2.5vmin;
  }
}

.x_table_page table tr,
.x_interactiveText_page table tr,
.x_documentation_page table tr,
.x_results_page table tr {
  background: #117BAD;
  color: #ffffff;
}

table tr.shaded {
  background: green;
  color: #ffffff;
}

table.header.shaded thead tr:first-child,
table.header.shaded tr.header,
table.header.shaded :not(tbody) > tr:first-child,
table.footer.shaded tbody tr:last-child {
  background: #000000;
  color: #ffffff;
}

table.headerCol.shaded td.header {
  background-color: inherit;
}

#x_footerBlock {
  font-size: 1em;
  color: #000000;
  background-image: none;
  margin-bottom: 1%;
  background: #ffffff;
  box-shadow: none;
}

body:not(.sb_right):not(.sb_left) #x_footerBlock {
  width: 100%;
  border-bottom-left-radius: 3vmin;
  border-bottom-right-radius: 3vmin;
}

#x_footerBg {
  background-image: none;
}

#x_pageNo {
  background: none;
}

.pbBar {
  background-color: #2196F3;
}

/* these buttons will use font awesome icons instead of pngs */
.ui-button .ui-icon.x_help {
  background-image: none;
}

.ui-button .ui-icon.x_info {
  background-image: none;
}

.ui-button .ui-icon.x_home {
  background-image: none;
}

.ui-button .ui-icon.x_glossary {
  background-image: none;
}

.ui-button .ui-icon.x_maximise {
  background-image: none;
}

.ui-button .ui-icon.x_minimise {
  background-image: none;
}

.ui-button .ui-icon.x_media {
  background-image: none;
}

.ui-button .ui-icon.x_next {
  background-image: none;
}

.ui-button .ui-icon.x_prev {
  background-image: none;
}

.ui-button .ui-icon.x_prev_hist {
  background-image: none;
}

.ui-button .ui-icon.x_colourChanger {
  background-image: none;
}

.ui-button .ui-icon.x_projectIntro {
  background-image: none;
}

.ui-button .ui-icon.x_saveSession {
  background-image: none;
}

#x_nextBtn:not(.customIconBtn) .ui-icon:before {
  content: "\f138";
}

#x_prevBtn:not(.customIconBtn) .ui-icon:before {
  content: "\f137";
}

#x_cssBtn:not(.customIconBtn) .ui-icon:before {
  content: "\f066";
}

#x_colourChangerBtn:not(.customIconBtn) .ui-icon:before {
  content: "\f042";
}

#x_mediaBtn:not(.customIconBtn) .ui-icon:before {
  content: "\f16a";
}

#x_glossaryBtn:not(.customIconBtn) .ui-icon:before {
  content: "\f02d";
}

#x_helpBtn:not(.customIconBtn) .ui-icon:before {
  content: "\f128";
}

#x_introBtn:not(.customIconBtn) .ui-icon:before {
  content: "\f129";
}

#x_menuBtn:not(.customIconBtn) .ui-icon:before {
  content: "\f0c9";
}

#x_saveSessionBtn:not(.customIconBtn) .ui-icon:before {
  content: "\f0c7";
}

#x_footerBlock button {
  color: #000000;
}

#x_footerBlock button.ui-state-hover {
  color: #117BAD;
}

#x_footerBlock button.ui-state-focus {
  color: orange;
}

#x_footerBlock button.ui-state-active {
  color: #222222;
}

#x_footerBlock button {
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  font-size: 1.9em;
  width: 1.5em;
  padding-right: 0;
  margin-left: 5px;
}

#x_footerBlock button span.ui-button-text {
  display: none;
}

#x_footerBlock .x_floatLeft button, #x_footerBlock .x_floatRight button {
  padding: 0;
}

/*****footer tools chevron*****/
#x_footerChevron {
  color: #000000;
}

#x_footerChevron:hover, #x_footerChevron:focus {
  color: green;
}

/*****TOC****/
.ui-dialog .ui-widget-header {
  border: 1px solid #117BAD;
  background: #222222;
  color: #ffffff;
  font-weight: bold;
}

#menuItems .menuItem {
  background: orange;
}

#menuItems .menuItem:hover {
  background: #222222;
  color: #ffffff;
}

#menuItems .menuItem .ui-button-text {
  color: #000000;
}

#menuItems .menuItem:hover .ui-button-text {
  color: #ffffff;
}

#menuItems .menuItem.current {
  border-color: transparent;
  background-color: green;
}

.chapterItem.ui-state-active a, .chapterItem.ui-state-active a:link, .chapterItem.ui-state-active a:visited {
  color: #ffffff !important;
  border-color: #117BAD;
  background-color: #117BAD;
}

.chapterItem.ui-state-active a {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.ui-accordion .chapterPageHolder.ui-accordion-content {
  background-color: #117BAD;
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#x_sideBar {
  background-color: #222222;
}

#x_sideBarToggleBtn {
  border-color: #BFBFBF;
  color: #ffffff;
}

#x_sideBarToggleBtn:hover, #x_sideBarToggleBtn:focus, #x_sideBarToggleBtn:active {
  color: #222222;
  background-color: orange;
}

#x_sideBarBtnHolder button {
  color: #ffffff;
}

#x_sideBar.sideBarSmall #x_sideBarBtnHolder button:not(:last-child) {
  border-color: #BFBFBF;
}

#x_sideBar.sideBarLarge #x_sideBarBtnHolder button span.ui-icon {
  background-color: #117BAD;
  border-color: #117BAD;
}

#x_sideBar.sideBarSmall #x_sideBarBtnHolder button:hover, #x_sideBar.sideBarSmall #x_sideBarBtnHolder button:focus, #x_sideBar.sideBarSmall #x_sideBarBtnHolder button:active {
  background-color: #117BAD;
  color: #ffffff;
}

#x_sideBar.sideBarLarge #x_sideBarBtnHolder button:hover span.ui-icon, #x_sideBar.sideBarLarge #x_sideBarBtnHolder button:focus span.ui-icon, #x_sideBar.sideBarLarge #x_sideBarBtnHolder button:active span.ui-icon {
  background-color: orange;
  border-color: orange;
  color: #ffffff;
}

/* progress bar */
.pbContainer {
  background-color: #BFBFBF;
}

.pbBar {
  background-color: #117BAD;
}

@media only screen and (max-width: 600px) {
  #x_footerProgress {
    display: block;
  }

  #x_pageNo {
    vertical-align: top;
    text-align: center;
    display: inline-block;
    padding: 12px 5px 0 5px;
    margin-right: -5px;
    height: 30px;
    width: auto;
    z-index: 100;
    font-size: 12px;
  }

  #x_footerBlock button {
    /*font-size: 1.4rem;
    width: 1em;*/
    margin-left: 5px;
  }

  #x_footerBlock .x_floatLeft button.customIconBtn, #x_footerBlock .x_floatRight button.customIconBtn {
    /*font-size: 1.4rem;
    width: 1em;*/
    margin-left: 5px;
  }

  .pbContainer {
    display: block;
    margin-top: 1.2em;
  }

  .pbTxt {
    display: block;
    text-align: center;
  }
}
@media only screen and (max-width: 320px) {
  #x_footerProgress {
    display: block;
  }

  #x_pageNo {
    vertical-align: top;
    text-align: center;
    display: inline-block;
    padding-top: 12px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 5px;
    margin-right: -5px;
    height: 30px;
    width: auto;
    z-index: 100;
    font-size: 12px;
  }

  #x_footerBlock button {
    font-size: 1.3em;
    width: 1.1em;
    margin-left: 5px;
  }

  .pbContainer {
    margin-top: 1.2em;
  }

  .pbTxt {
    text-align: center;
  }
}
#x_pageHolder {
  /*#infoHolder p {
    animation: fadePop 0.25s linear;
  }*/
}
#x_pageHolder .label.panel.ui-draggable {
  transform: scale(1);
  transition: transform 0.5s ease-out 0s, box-shadow 0.5s ease-out 0s;
}
#x_pageHolder .label.panel.ui-draggable.ui-draggable-dragging {
  transform: scale(1.25);
  box-shadow: 2px 4px 1px #888888;
}
#x_pageHolder #feedback {
  animation: fadePop 0.25s linear;
}
@keyframes fadePop {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*start here and set the default values for all the variables*/
/*You should not edit the editorstyles.css file directly or change values directly unless you wish to override something*/
.panel1 {
  border-radius: 1vmin;
  display: table;
  padding: 10px;
  font-style: normal;
  background-color: green;
  color: #ffffff;
}

.panel1 a {
  color: white !important;
}

.panel2 {
  border-radius: 1vmin;
  display: table;
  padding: 10px;
  font-style: normal;
  background-color: #E61717;
  color: #ffffff;
}

.panel2 a {
  color: white !important;
}

.panel3 {
  border-radius: 1vmin;
  display: table;
  padding: 10px;
  font-style: normal;
  background-color: #117BAD;
  color: #ffffff;
}

.panel3 a {
  color: white !important;
}

.panel4 {
  border-radius: 1vmin;
  display: table;
  padding: 10px;
  font-style: normal;
  background-color: orange;
  color: #000000;
}

.panel4 a {
  color: black !important;
}

.panel5 {
  border-radius: 1vmin;
  display: table;
  padding: 10px;
  font-style: normal;
  background-color: #222222;
  color: #ffffff;
  display: table;
}

.panel5 a {
  color: white !important;
}

.panel6 {
  border-radius: 1vmin;
  display: table;
  padding: 10px;
  font-style: normal;
  background-color: #D13759;
  color: #ffffff;
}

.panel6 a {
  color: white !important;
}

.highlight1 {
  font-family: Arial, sans-serif;
  background: #fff;
  display: table;
  font-weight: normal;
  margin-bottom: 7px;
  margin-top: 5px;
  padding: 10px;
  border-left: 5px solid;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-color: green;
}

.highlight2 {
  font-family: Arial, sans-serif;
  background: #fff;
  display: table;
  font-weight: normal;
  margin-bottom: 7px;
  margin-top: 5px;
  padding: 10px;
  border-left: 5px solid;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-color: #E61717;
}

.highlight3 {
  font-family: Arial, sans-serif;
  background: #fff;
  display: table;
  font-weight: normal;
  margin-bottom: 7px;
  margin-top: 5px;
  padding: 10px;
  border-left: 5px solid;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-color: #117BAD;
}

.highlight4 {
  font-family: Arial, sans-serif;
  background: #fff;
  display: table;
  font-weight: normal;
  margin-bottom: 7px;
  margin-top: 5px;
  padding: 10px;
  border-left: 5px solid;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #000000;
  border-color: orange;
}

.highlight5 {
  font-family: Arial, sans-serif;
  background: #fff;
  display: table;
  font-weight: normal;
  margin-bottom: 7px;
  margin-top: 5px;
  padding: 10px;
  border-left: 5px solid;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-color: #222222;
}

.highlight6 {
  font-family: Arial, sans-serif;
  background: #fff;
  display: table;
  font-weight: normal;
  margin-bottom: 7px;
  margin-top: 5px;
  padding: 10px;
  border-left: 5px solid;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-color: #D13759;
}

blockquote {
  font: 400 14px/24px Arial, sans-serif;
  border-left: 10px solid;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "“" "”";
  background: #f9f9f9;
  border-color: #ccc;
}

blockquote:before {
  content: open-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  color: #ccc;
}

blockquote p {
  display: inline;
}

blockquote:after {
  content: close-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-left: 0.1em;
  vertical-align: -0.6em;
  color: #ccc;
}

.bq1 {
  border-color: green;
}

.bq1:after {
  content: close-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-left: 0.1em;
  vertical-align: -0.6em;
  color: green;
}

.bq1:before {
  content: open-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  color: green;
}

.bq2 {
  border-color: #E61717;
}

.bq2:after {
  content: close-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-left: 0.1em;
  vertical-align: -0.6em;
  color: #E61717;
}

.bq2:before {
  content: open-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  color: #E61717;
}

.bq3 {
  border-color: #117BAD;
}

.bq3:after {
  content: close-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-left: 0.1em;
  vertical-align: -0.6em;
  color: #117BAD;
}

.bq3:before {
  content: open-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  color: #117BAD;
}

.bq4 {
  border-color: orange;
}

.bq4:after {
  content: close-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-left: 0.1em;
  vertical-align: -0.6em;
  color: orange;
}

.bq4:before {
  content: open-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  color: orange;
}

.bq5 {
  border-color: #222222;
}

.bq5:after {
  content: close-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-left: 0.1em;
  vertical-align: -0.6em;
  color: #222222;
}

.bq5:before {
  content: open-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  color: #222222;
}

.bq6 {
  border-color: #D13759;
}

.bq6:after {
  content: close-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-left: 0.1em;
  vertical-align: -0.6em;
  color: #D13759;
}

.bq6:before {
  content: open-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  color: #D13759;
}

.speech-bubble1 {
  background: green;
  color: white;
}

.speech-bubble1:after {
  border-right-color: green;
}

.speech-bubble2 {
  background: #E61717;
  color: white;
}

.speech-bubble2:after {
  border-left-color: #E61717;
}

.speech-bubble3 {
  background: #117BAD;
  color: white;
}

.speech-bubble3:after {
  border-right-color: #117BAD;
}

.speech-bubble4 {
  background: orange;
  color: black;
}

.speech-bubble4:after {
  border-left-color: orange;
}

.speech-bubble5 {
  background: #222222;
  color: white;
}

.speech-bubble5:after {
  border-top-color: #222222;
}

.speech-bubble6 {
  background: #D13759;
  color: white;
}

.speech-bubble6:after {
  font-family: Arial, sans-serif;
  border-top-color: #D13759;
}

.speech-bubble1 a, .speech-bubble2 a, .speech-bubble3 a, .speech-bubble5 a, .speech-bubble6 a {
  color: white !important;
  text-decoration: underline;
}

.speech-bubble4 a {
  color: black !important;
  text-decoration: underline;
}

.marker {
  font-family: Arial, sans-serif;
  background-color: #222222;
  color: orange;
  border-radius: 1vmin;
  display: table;
  padding: 10px;
}

var {
  font-family: Arial, sans-serif;
  background-color: green;
  color: #ffffff;
  display: table;
  border-radius: 1vmin;
  font-style: normal;
  padding: 10px;
}

kbd {
  font-family: Arial, sans-serif;
  background-color: orange;
  color: #222222;
  display: table;
  border-radius: 1vmin;
  font-style: normal;
  padding: 10px;
}

samp {
  font-family: Arial, sans-serif;
  background-color: #117BAD;
  color: #ffffff;
  display: table;
  border-radius: 1vmin;
  font-style: normal;
  padding: 10px;
}

q {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  color: #333;
  display: block;
  padding: 10px;
}

cite {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  padding: 10px;
}

tt {
  font-family: Arial, sans-serif;
  background-color: #2196F3;
  color: #ffffff;
  display: table;
  border-radius: 1vmin;
  font-style: normal;
  padding: 10px;
}

tt a, kbd a, samp a, code a, .marker a, var a {
  color: white !important;
  text-decoration: underline;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.4);
}

[type=range] {
  -webkit-appearance: none;
  margin: 12px 0;
  width: 100%;
}
[type=range]:focus {
  outline: 0;
}
[type=range]:focus::-webkit-slider-runnable-track {
  background: #2f2f2f;
}
[type=range]:focus::-ms-fill-lower {
  background: #222222;
}
[type=range]:focus::-ms-fill-upper {
  background: #2f2f2f;
}
[type=range]::-webkit-slider-runnable-track {
  cursor: pointer;
  height: 8px;
  transition: all 0.2s ease;
  width: 100%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
  background: #222222;
  border: 2px solid #222222;
  border-radius: 5px;
}
[type=range]::-webkit-slider-thumb {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2), 0 0 4px rgba(13, 13, 13, 0.2);
  background: green;
  border: 2px solid green;
  border-radius: 12px;
  cursor: pointer;
  height: 24px;
  width: 24px;
  -webkit-appearance: none;
  margin-top: -10px;
}
[type=range]::-moz-range-track {
  cursor: pointer;
  height: 8px;
  transition: all 0.2s ease;
  width: 100%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
  background: #222222;
  border: 2px solid #222222;
  border-radius: 5px;
}
[type=range]::-moz-range-thumb {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2), 0 0 4px rgba(13, 13, 13, 0.2);
  background: green;
  border: 2px solid green;
  border-radius: 12px;
  cursor: pointer;
  height: 24px;
  width: 24px;
}
[type=range]::-ms-track {
  cursor: pointer;
  height: 8px;
  transition: all 0.2s ease;
  width: 100%;
  background: transparent;
  border-color: transparent;
  border-width: 12px 0;
  color: transparent;
}
[type=range]::-ms-fill-lower {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
  background: #151515;
  border: 2px solid #222222;
  border-radius: 10px;
}
[type=range]::-ms-fill-upper {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
  background: #222222;
  border: 2px solid #222222;
  border-radius: 10px;
}
[type=range]::-ms-thumb {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2), 0 0 4px rgba(13, 13, 13, 0.2);
  background: green;
  border: 2px solid green;
  border-radius: 12px;
  cursor: pointer;
  height: 24px;
  width: 24px;
  margin-top: 0;
}

/* Important note: unlike some other Xerte themes this theme has been developed using sass and scss files */
/*You should not edit the .css files directly or change values directly unless you wish to override something*/
/*Use SASS and the file in the scss folder name _allvariables.scss to start any customisation*/
body {
  background: #BFBFBF;
  color: #222222;
  font-family: Arial, sans-serif;
}

.cke_editable {
  background: #ffffff;
}

.ui-button .ui-button-text {
  font-family: Arial, sans-serif;
}

/*Note: these font-sizes will be ignored when responsive text is on*/
p {
  font-size: 1.1em;
}

h1 {
  font-size: 1em;
  margin: 0;
}

h2 {
  font-size: 1.2em;
  margin: 5px 0 0 0;
}

h3 {
  font-size: 1.2em;
  margin: 0;
}

a {
  color: blue;
}

a:visited {
  color: green;
}

a:hover {
  color: red;
}

#x_mainHolder {
  background: #ffffff;
  border: none !important;
  /*remove this to restore the default border*/
}

body:not(.sb_right):not(.sb_left) #x_mainHolder {
  border-radius: 3vmin;
  max-width: 98%;
}

#x_mainHolder {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#x_pageDiv {
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 10px;
}

#infoHolder {
  border-radius: 2vmin;
  background: orange;
}

.panel {
  border-radius: 2vmin;
  background: orange;
  box-shadow: none;
  border-color: orange;
}

.panelPage {
  padding: 1%;
}

img {
  border-radius: none;
}

@media (min-width: 1366px) {
  /*tablet and above css below here*/
  body:not(.sb_right):not(.sb_left) #x_mainHolder {
    max-width: 90%;
    max-height: 92%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  body:not(.sb_right):not(.sb_left) #x_mainHolder {
    max-width: 98%;
    max-height: 98%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

/*# sourceMappingURL=rgbo.css.map */
