@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "scss/_allvariables"; /*start here and set the default values for all the variables*/
@import "scss/_header";
@import "scss/_pagetypes";
@import "scss/_footer";
@import "scss/_animations";
@import "scss/editorstyles";
@import "scss/_webkitCustoms";
@import "scss/_sliders";
/* Important note: unlike some other Xerte themes this theme has been developed using sass and scss files */
/*You should not edit the .css files directly or change values directly unless you wish to override something*/
/*Use SASS and the file in the scss folder name _allvariables.scss to start any customisation*/

//* Important note: unlike some other Xerte themes this theme has been developed using sass and scss files */
//*You should not edit the .css files directly or change values directly unless you wish to override something*/
//*Use SASS and the file in the scss folder name _allvariables.scss to start any customisation*/

body {
	background:$bodybackgroundcolor;
	color:$mainfontcolour;
	font-family: $mainfonts;
}
.cke_editable {
	background: $defaultpagebackground;
}
//******Fonts******/
.ui-button .ui-button-text {
	font-family: $mainfonts;
}
/*Note: these font-sizes will be ignored when responsive text is on*/
p{
	font-size:1.1em;
}
h1 {
	font-size:	1em;
	margin:		0;
}
h2 {
	font-size:	1.2em;
	margin:		5px 0 0 0;
}
h3 {
	font-size:	1.2em;
	margin:		0;
}
a{
	color:$linkcolor;
}
a:visited{
	color:$linkvisited;
}
a:hover{
	color:$linkhover;
}

#x_mainHolder{
	background:$defaultpagebackground;
	border-top-right-radius:$largeroundedcorners;
	border-bottom-left-radius:$largeroundedcorners;
	border: none !important;/*remove this to restore the default border*/
}
//for this theme display at least a small inset at all sizes even mobiles
#x_mainHolder{
	max-width:98%;
	max-height:98%;
	margin:auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

///////////////////////////////
#x_pageDiv {
	padding-top: $defaultpagepadding;
	padding-left: $defaultpagepadding;
	padding-right:$defaultpagepadding;
	padding-bottom:10px;
}
#infoHolder{
	border-radius:$mediumroundedcorners;
	background: $lightestcolor;
}

#x_headerBlock {
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}
#x_mainHolder {
	border-radius: 20px;
}
#x_footerBlock {
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
//*****panel all pages with a panel*****/
.panel {
	border-radius: $mediumroundedcorners;
	background:$lightestcolor;
	box-shadow: none;
	border-color: $lightestcolor;
}
.panelPage{
	padding:1%;
}
//*****all images*****/
img {
	border-radius: $imageroundedcorners;
}

//******@media changes******/
@media (min-width: 1366px) {
	/*tablet and above css below here*/
	#x_mainHolder{
		max-width:90%;
		max-height:92%;
		margin:auto;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
}

//* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
	#x_mainHolder{
		max-width:98%;
		max-height:98%;
		margin:auto;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
}
