/* XHIBIT BASE THEME - Applying this base theme ensures that your own custom theme from www.xhibitapp.com will work as intended. */


/* Footer */

#x_footerBg {
	background-image: none;
}

#x_pageNo {
	background:	none;
}

.filter_inv #x_pageNo {
    color: black !important;
}


/* Use FontAwesome icons for buttons */

#x_footerBlock button span, #x_sideBarBtnHolder button .ui-icon {
    background: none; /* Hide any PNG buttons */
}

#x_footerBlock button.ui-button { /* Setup for FontAwesome icons */
    font-family: FontAwesome;
}

#x_footerBlock button.ui-button .ui-icon:before { /* Setup for FontAwesome icons */
    color: white;
    width: 100%;
    font-size: 1.9em;
}

.filter_inv .ui-button:after {
    color: black; /* Ensures accessibility invert works */
}

.ui-button.ui-state-hover:after {
    color: #ff9900;
}

#x_nextBtn:not(.customIconBtn) .ui-icon:before { content: "\f138"; }
#x_prevBtn:not(.customIconBtn) .ui-icon:before { content: "\f137"; }
#x_cssBtn:not(.customIconBtn) .ui-icon:before { content: "\f0b2"; }
#x_colourChangerBtn:not(.customIconBtn) .ui-icon:before { content: "\f06e"; }
#x_mediaBtn:not(.customIconBtn) .ui-icon:before {content: "\f16a"; }
#x_glossaryBtn:not(.customIconBtn) .ui-icon:before { content: "\f02d"; }
#x_helpBtn:not(.customIconBtn) .ui-icon:before { content: "\f128"; }
#x_introBtn:not(.customIconBtn) .ui-icon:before { content: "\f129"; }
#x_menuBtn:not(.customIconBtn) .ui-icon:before { content: "\f0c9"; }
#x_saveSessionBtn:not(.customIconBtn) .ui-icon:before { content: "\f0c7"; }
