/* XHIBIT BASE THEME - Applying this base theme ensures that your own custom theme from www.xhibitapp.com will work as intended. */


/* Footer */

#x_footerBg {
	background-image: none;
}

#x_pageNo {
	background:	none;
}

.filter_inv #x_pageNo {
    color: black !important;
}


/* Use FontAwesome icons for buttons */

#x_footerBlock button span, #x_sideBar button span {
    background: none; /* Hide any PNG buttons */
}

.ui-button:after { /* Setup for FontAwesome icons */
    font-family: FontAwesome;
    color: white;
    position: absolute;
    top: 0;
    width: 100%;
    font-size: 1.9em;
    line-height: 1.5em;
}

#x_footerBlock .ui-button .ui-icon:before {
	color: white;
}

.filter_inv .ui-button:after, .filter_inv .ui-button .ui-icon:before {
    color: black; /* Ensures accessibility invert works */
}

.ui-button.ui-state-hover:after, #x_footerBlock .ui-button.ui-state-hover .ui-icon:before {
    color: #ff9900;
}

#x_nextBtn:after,
#x_sideBar #x_nextBtn:not(.customIconBtn) .ui-icon:before { content: "\f138"; }

#x_prevBtn:after,
#x_sideBar #x_prevBtn:not(.customIconBtn) .ui-icon:before { content: "\f137"; }

#x_cssBtn:after,
#x_sideBar #x_cssBtn:not(.customIconBtn) .ui-icon:before { content: "\f0b2"; }

#x_colourChangerBtn:after,
#x_sideBar #x_colourChangerBtn:not(.customIconBtn) .ui-icon:before { content: "\f06e"; }

#x_mediaBtn:after,
#x_sideBar #x_mediaBtn:not(.customIconBtn) .ui-icon:before  { content: "\f16a"; }

#x_glossaryBtn:after,
#x_sideBar #x_glossaryBtn:not(.customIconBtn) .ui-icon:before { content: "\f02d"; }

#x_helpBtn:after,
#x_sideBar #x_helpBtn:not(.customIconBtn) .ui-icon:before { content: "\f128"; }

#x_introBtn:after,
#x_sideBar #x_introBtn:not(.customIconBtn) .ui-icon:before { content: "\f129"; }

#x_menuBtn:after,
#x_sideBar #x_menuBtn:not(.customIconBtn) .ui-icon:before { content: "\f0c9"; }

#x_saveSessionBtn:after,
#x_sideBar #x_saveSessionBtn:not(.customIconBtn) .ui-icon:before { content: "\f0c7"; }

#x_sideBar button:not(.customIconBtn):after {
	content: none !important;
}