.navbar .nav > li.activePage > a,
.navbar .nav > li.activePage > a:hover, .navbar .nav > li.activePage > a:hover {
  background-color: #363636;
  text-decoration: none;
}


/* 
.navbar-fixed-top
 {
    position: sticky !important;
} */