@charset "UTF-8";
/* open-sans-300 - latin-ext_latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("fonts/open-sans-v29-latin-ext_latin-300.eot");
  /* IE9 Compat Modes */
  src: local(""), url("fonts/open-sans-v29-latin-ext_latin-300.eot?#iefix") format("embedded-opentype"), url("fonts/open-sans-v29-latin-ext_latin-300.woff2") format("woff2"), url("fonts/open-sans-v29-latin-ext_latin-300.woff") format("woff"), url("fonts/open-sans-v29-latin-ext_latin-300.ttf") format("truetype"), url("fonts/open-sans-v29-latin-ext_latin-300.svg#OpenSans") format("svg");
  /* Legacy iOS */
}
/* open-sans-regular - latin-ext_latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/open-sans-v29-latin-ext_latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("fonts/open-sans-v29-latin-ext_latin-regular.eot?#iefix") format("embedded-opentype"), url("fonts/open-sans-v29-latin-ext_latin-regular.woff2") format("woff2"), url("fonts/open-sans-v29-latin-ext_latin-regular.woff") format("woff"), url("fonts/open-sans-v29-latin-ext_latin-regular.ttf") format("truetype"), url("fonts/open-sans-v29-latin-ext_latin-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */
}
/* open-sans-700 - latin-ext_latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/open-sans-v29-latin-ext_latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("fonts/open-sans-v29-latin-ext_latin-700.eot?#iefix") format("embedded-opentype"), url("fonts/open-sans-v29-latin-ext_latin-700.woff2") format("woff2"), url("fonts/open-sans-v29-latin-ext_latin-700.woff") format("woff"), url("fonts/open-sans-v29-latin-ext_latin-700.ttf") format("truetype"), url("fonts/open-sans-v29-latin-ext_latin-700.svg#OpenSans") format("svg");
  /* Legacy iOS */
}
/* roboto-300 - latin-ext_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("fonts/roboto-v30-latin-ext_latin-300.eot");
  /* IE9 Compat Modes */
  src: local(""), url("fonts/roboto-v30-latin-ext_latin-300.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-v30-latin-ext_latin-300.woff2") format("woff2"), url("fonts/roboto-v30-latin-ext_latin-300.woff") format("woff"), url("fonts/roboto-v30-latin-ext_latin-300.ttf") format("truetype"), url("fonts/roboto-v30-latin-ext_latin-300.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-regular - latin-ext_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/roboto-v30-latin-ext_latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("fonts/roboto-v30-latin-ext_latin-regular.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-v30-latin-ext_latin-regular.woff2") format("woff2"), url("fonts/roboto-v30-latin-ext_latin-regular.woff") format("woff"), url("fonts/roboto-v30-latin-ext_latin-regular.ttf") format("truetype"), url("fonts/roboto-v30-latin-ext_latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-700 - latin-ext_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/roboto-v30-latin-ext_latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("fonts/roboto-v30-latin-ext_latin-700.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-v30-latin-ext_latin-700.woff2") format("woff2"), url("fonts/roboto-v30-latin-ext_latin-700.woff") format("woff"), url("fonts/roboto-v30-latin-ext_latin-700.ttf") format("truetype"), url("fonts/roboto-v30-latin-ext_latin-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/*set background colors*/
/* default #2196F3;*/
/*set font family*/
/*define font colors to match the background colors*/
/*define rounded corner and other sizes*/
/*6vmin;*/
/*2vmin;*/
/*1vmin;*/
/*2vmin;*/
/*3px 3px 5px grey*/
/*start here and set the default values for all the variables*/
#x_footerBlock {
  font-size: 1em;
  color: #ffffff;
  background-image: none;
  width: 100%;
  background: #152c51;
  box-shadow: none;
}

#x_footerBg {
  background-image: none;
}

#x_pageNo {
  background: none;
}

.pbBar {
  background-color: #2196F3;
}

/* these buttons will use font awesome icons instead of pngs */
.ui-button .ui-icon.x_help {
  background-image: none;
}

.ui-button .ui-icon.x_info {
  background-image: none;
}

.ui-button .ui-icon.x_home {
  background-image: none;
}

.ui-button .ui-icon.x_glossary {
  background-image: none;
}

.ui-button .ui-icon.x_maximise {
  background-image: none;
}

.ui-button .ui-icon.x_minimise {
  background-image: none;
}

.ui-button .ui-icon.x_media {
  background-image: none;
}

.ui-button .ui-icon.x_next {
  background-image: none;
}

.ui-button .ui-icon.x_prev {
  background-image: none;
}

.ui-button .ui-icon.x_prev_hist {
  background-image: none;
}

.ui-button .ui-icon.x_colourChanger {
  background-image: none;
}

.ui-button .ui-icon.x_projectIntro {
  background-image: none;
}

.ui-button .ui-icon.x_saveSession {
  background-image: none;
}

#x_nextBtn:not(.customIconBtn) .ui-icon:before {
  content: "\f138";
}

#x_prevBtn:not(.customIconBtn) .ui-icon:before {
  content: "\f137";
}

#x_cssBtn:not(.customIconBtn) .ui-icon:before {
  content: "\f066";
}

#x_colourChangerBtn:not(.customIconBtn) .ui-icon:before {
  content: "\f042";
}

#x_mediaBtn:not(.customIconBtn) .ui-icon:before {
  content: "\f16a";
}

#x_glossaryBtn:not(.customIconBtn) .ui-icon:before {
  content: "\f02d";
}

#x_helpBtn:not(.customIconBtn) .ui-icon:before {
  content: "\f128";
}

#x_introBtn:not(.customIconBtn) .ui-icon:before {
  content: "\f129";
}

#x_menuBtn:not(.customIconBtn) .ui-icon:before {
  content: "\f0c9";
}

#x_saveSessionBtn:not(.customIconBtn) .ui-icon:before {
  content: "\f0c7";
}

#x_footerBlock button {
  color: #ffffff;
}

#x_footerBlock button.ui-state-hover {
  color: red;
}

#x_footerBlock button.ui-state-focus {
  color: red !important;
}

#x_footerBlock button.ui-state-active {
  color: #ffffff;
}

#x_footerBlock button {
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  font-size: 1.9em;
  width: 1.5em;
  padding-right: 0;
  margin-left: 5px;
}

#x_footerBlock button span.ui-button-text {
  display: none;
}

#x_footerBlock .x_floatLeft button, #x_footerBlock .x_floatRight button {
  padding: 0;
}

/*****footer tools chevron*****/
#x_footerChevron {
  color: #ffffff;
}

#x_footerChevron:hover, #x_footerChevron:focus {
  color: red;
}

/*****TOC****/
.ui-dialog .ui-widget-header {
  border: 1px solid #ffffff;
  background: #84849a;
  color: #ffffff;
  font-weight: bold;
}

#menuItems .menuItem, #menuItems .chapterItem {
  background: #ffffff;
  color: #000000;
}

#menuItems .chapterItem a {
  color: #000000;
}

#menuItems .menuItem:hover {
  background: #a0a0b1;
  color: #ffffff;
}

#menuItems .menuItem.current {
  border: 2px solid #152c51;
}

#x_sideBar {
  background-color: #efefef;
}

#x_sideBarToggleBtn {
  border-color: #BFBFBF;
  color: #152c51;
  box-shadow: none;
}

#x_sideBarToggleBtn:hover, #x_sideBarToggleBtn:focus, #x_sideBarToggleBtn:active {
  color: white;
  background-color: #152c51;
}

#x_sideBarBtnHolder button {
  color: #152c51;
  box-shadow: none;
}

#x_sideBar.sideBarSmall #x_sideBarBtnHolder button:not(:last-child) {
  border-color: #BFBFBF;
}

#x_sideBar.sideBarLarge #x_sideBarBtnHolder button span.ui-icon {
  border-color: #152c51;
}

#x_sideBar.sideBarSmall #x_sideBarBtnHolder button:hover, #x_sideBar.sideBarSmall #x_sideBarBtnHolder button:focus, #x_sideBar.sideBarSmall #x_sideBarBtnHolder button:active {
  background-color: #152c51;
  color: #ffffff;
}

#x_sideBar.sideBarLarge #x_sideBarBtnHolder button:hover span.ui-icon, #x_sideBar.sideBarLarge #x_sideBarBtnHolder button:focus span.ui-icon, #x_sideBar.sideBarLarge #x_sideBarBtnHolder button:active span.ui-icon {
  background-color: #152c51;
  color: #ffffff;
}

/* progress bar */
.pbContainer {
  background-color: white;
}

.pbBar {
  background-color: #cd0438;
}

#x_headerProgress .progressMarker {
  border-color: white;
  background-color: #152c51;
}

#x_headerProgress .progressMarker.complete {
  border-color: #cd0438;
}

@media only screen and (max-width: 500px) {
  #x_footerProgress {
    display: block;
  }

  #x_pageNo {
    vertical-align: top;
    text-align: center;
    display: inline-block;
    padding: 12px 5px 0 5px;
    margin-right: -5px;
    height: 30px;
    width: auto;
    z-index: 100;
    font-size: 12px;
  }

  #x_footerBlock button {
    /*font-size: 1em;
    width: 1em;*/
    margin-left: 5px;
  }

  .pbContainer {
    display: block;
    margin-top: 1.2em;
  }

  .pbTxt {
    display: block;
    text-align: center;
  }
}
[type=range] {
  -webkit-appearance: none;
  margin: 12px 0;
  width: 100%;
}
[type=range]:focus {
  outline: 0;
}
[type=range]:focus::-webkit-slider-runnable-track {
  background: #9292a6;
}
[type=range]:focus::-ms-fill-lower {
  background: #84849a;
}
[type=range]:focus::-ms-fill-upper {
  background: #9292a6;
}
[type=range]::-webkit-slider-runnable-track {
  cursor: pointer;
  height: 8px;
  transition: all 0.2s ease;
  width: 100%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
  background: #84849a;
  border: 2px solid #84849a;
  border-radius: 5px;
}
[type=range]::-webkit-slider-thumb {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2), 0 0 4px rgba(13, 13, 13, 0.2);
  background: #3c3c49;
  border: 2px solid #3c3c49;
  border-radius: 12px;
  cursor: pointer;
  height: 24px;
  width: 24px;
  -webkit-appearance: none;
  margin-top: -10px;
}
[type=range]::-moz-range-track {
  cursor: pointer;
  height: 8px;
  transition: all 0.2s ease;
  width: 100%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
  background: #84849a;
  border: 2px solid #84849a;
  border-radius: 5px;
}
[type=range]::-moz-range-thumb {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2), 0 0 4px rgba(13, 13, 13, 0.2);
  background: #3c3c49;
  border: 2px solid #3c3c49;
  border-radius: 12px;
  cursor: pointer;
  height: 24px;
  width: 24px;
}
[type=range]::-ms-track {
  cursor: pointer;
  height: 8px;
  transition: all 0.2s ease;
  width: 100%;
  background: transparent;
  border-color: transparent;
  border-width: 12px 0;
  color: transparent;
}
[type=range]::-ms-fill-lower {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
  background: #76768f;
  border: 2px solid #84849a;
  border-radius: 10px;
}
[type=range]::-ms-fill-upper {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
  background: #84849a;
  border: 2px solid #84849a;
  border-radius: 10px;
}
[type=range]::-ms-thumb {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2), 0 0 4px rgba(13, 13, 13, 0.2);
  background: #3c3c49;
  border: 2px solid #3c3c49;
  border-radius: 12px;
  cursor: pointer;
  height: 24px;
  width: 24px;
  margin-top: 0;
}

.panel1 {
  font-family: "Roboto", sans-serif;
  display: table;
  padding: 10px;
  font-style: normal;
  background-color: #152c51;
  color: #ffffff;
}

.panel1 a, .panel1 a:hover {
  color: white;
}

.panel2 {
  font-family: "Roboto", sans-serif;
  display: table;
  padding: 10px;
  font-style: normal;
  background-color: #ccc;
  color: black;
}

.panel2 a, .panel2 a:hover {
  color: black;
}

.panel3 {
  font-family: "Roboto", sans-serif;
  display: table;
  padding: 10px;
  font-style: normal;
  background-color: #d3374a;
  color: #ffffff;
}

.panel3 a, .panel3 a:hover {
  color: white;
}

.panel4 {
  font-family: "Roboto", sans-serif;
  display: table;
  padding: 10px;
  font-style: normal;
  background-color: #231f20;
  color: #ffffff;
}

.panel4 a, .panel4 a:hover {
  color: white;
}

.panel5 {
  font-family: "Roboto", sans-serif;
  display: table;
  padding: 10px;
  font-style: normal;
  background-color: #d6c6a6;
  color: #000000;
  display: table;
}

.panel5 a, .panel5 a:hover {
  color: #000000;
}

.panel6 {
  font-family: "Roboto", sans-serif;
  display: table;
  padding: 10px;
  font-style: normal;
  background-color: #c3c8cf;
  color: #000000;
}

.panel6 a, .panel6 a:hover {
  color: #000000;
}

.highlight1 {
  font-family: "Roboto", sans-serif;
  background: #fff;
  display: table;
  font-weight: lighter;
  margin-bottom: 7px;
  margin-top: 5px;
  padding: 10px;
  border-left: 5px solid;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-color: #152c51;
}

.highlight2 {
  font-family: "Roboto", sans-serif;
  background: #fff;
  display: table;
  font-weight: lighter;
  margin-bottom: 7px;
  margin-top: 5px;
  padding: 10px;
  border-left: 5px solid;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-color: #ccc;
}

.highlight3 {
  font-family: "Roboto", sans-serif;
  background: #fff;
  display: table;
  font-weight: lighter;
  margin-bottom: 7px;
  margin-top: 5px;
  padding: 10px;
  border-left: 5px solid;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-color: #d3374a;
}

.highlight4 {
  font-family: "Roboto", sans-serif;
  background: #fff;
  display: table;
  font-weight: lighter;
  margin-bottom: 7px;
  margin-top: 5px;
  padding: 10px;
  border-left: 5px solid;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-color: #231f20;
}

.highlight5 {
  font-family: "Roboto", sans-serif;
  background: #fff;
  display: table;
  font-weight: lighter;
  margin-bottom: 7px;
  margin-top: 5px;
  padding: 10px;
  border-left: 5px solid;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-color: #d6c6a6;
}

.highlight6 {
  font-family: "Roboto", sans-serif;
  background: #fff;
  display: table;
  font-weight: lighter;
  margin-bottom: 7px;
  margin-top: 5px;
  padding: 10px;
  border-left: 5px solid;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-color: #c3c8cf;
}

blockquote {
  font-family: "Roboto", sans-serif;
  border-left: 10px solid;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "“" "”";
  background: #f9f9f9;
  border-color: #ccc;
}

blockquote:before {
  content: open-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  color: #ccc;
}

blockquote p {
  display: inline;
}

blockquote:after {
  content: close-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-left: 0.1em;
  vertical-align: -0.6em;
  color: #ccc;
}

.bq1 {
  border-color: #152c51;
}

.bq1:after {
  content: close-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-left: 0.1em;
  vertical-align: -0.6em;
  color: #152c51;
}

.bq1:before {
  content: open-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  color: #152c51;
}

.bq2 {
  border-color: #ccc;
}

.bq2:after {
  content: close-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-left: 0.1em;
  vertical-align: -0.6em;
  color: #ccc;
}

.bq2:before {
  content: open-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  color: #ccc;
}

.bq3 {
  border-color: #d3374a;
}

.bq3:after {
  content: close-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-left: 0.1em;
  vertical-align: -0.6em;
  color: #d3374a;
}

.bq3:before {
  content: open-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  color: #d3374a;
}

.bq4 {
  border-color: #231f20;
}

.bq4:after {
  content: close-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-left: 0.1em;
  vertical-align: -0.6em;
  color: #231f20;
}

.bq4:before {
  content: open-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  color: #231f20;
}

.bq5 {
  border-color: #d6c6a6;
}

.bq5:after {
  content: close-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-left: 0.1em;
  vertical-align: -0.6em;
  color: #d6c6a6;
}

.bq5:before {
  content: open-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  color: #d6c6a6;
}

.bq6 {
  border-color: #c3c8cf;
}

.bq6:after {
  content: close-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-left: 0.1em;
  vertical-align: -0.6em;
  color: #c3c8cf;
}

.bq6:before {
  content: open-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  color: #c3c8cf;
}

.speech-bubble1 {
  background: #152c51;
  color: white;
}

.speech-bubble1 p, .speech-bubble3 p, .speech-bubble4 p {
  color: white;
}

.speech-bubble1:after {
  border-right-color: #152c51;
}

.speech-bubble2 {
  background: #ccc;
  color: #000000;
}

.speech-bubble2:after {
  border-left-color: #ccc;
}

.speech-bubble3 {
  background: #d3374a;
  color: white;
}

.speech-bubble3:after {
  border-right-color: #d3374a;
}

.speech-bubble4 {
  background: #231f20;
  color: #ffffff;
}

.speech-bubble4:after {
  border-left-color: #231f20;
}

.speech-bubble5 {
  background: #d6c6a6;
  color: #000000 !important;
}

.speech-bubble5:after {
  border-top-color: #d6c6a6;
}

.speech-bubble6 {
  background: #c3c8cf;
  color: #000000 !important;
}

.speech-bubble6:after {
  border-top-color: #c3c8cf;
}

.speech-bubble1 a, .speech-bubble3 a, .speech-bubble4 a {
  color: white !important;
  text-decoration: none;
}

.speech-bubble5 a, .speech-bubble6 a {
  color: black !important;
  text-decoration: none;
}

.panel1 a, .panel3 a, .panel4 a {
  color: white !important;
  text-decoration: none;
}

.panel2 a, .speech-bubble2 a {
  text-decoration: none;
}

/***change link colour for styles with white text***/
kbd a, .marker a {
  color: white !important;
  text-decoration: none;
}

.speech-bubble2 a {
  color: black;
}

a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}

a:hover {
  text-decoration: underline;
  color: #152c51;
}

a img {
  opacity: 1;
}

a img:hover {
  opacity: 0.9;
}

#downloadBtn {
  height: 32px !important;
}

#imgHolder .noBorder img {
  border: none !important;
}

a:visited {
  color: #000;
}

#answerTxt, #initText {
  width: 97% !important;
}

#btnHolder {
  margin-bottom: 0;
}

#cardNoTxt #slideTxt {
  font-weight: lighter !important;
}

#categoryHolder .category {
  padding-top: 0px;
}

#categoryHolder h3 {
  text-align: center;
  border-bottom: 0px;
}

#categoryHolder .category .label {
  /*font-size: 0.9em !important; */
}

#categoryHolder .category .label:before {
  content: none;
}

#categoryHolder .highlight {
  background: #ddd;
}

#cropImg img, .noFocus {
  border: none;
}

#dragDropHolder #targetHolder .target {
  /*padding-right:8px !important;
  padding-top:2px !important;
  height:auto!important;
  margin-bottom: 0px !important;
  margin-top: 0px !important;*/
}

.x_dragDropLabel_page #labelHolder .label {
  margin: 0;
}

.x_dragDropLabel_page #infoHolder {
  font-size: 1em;
}

#dragDropHolder .label {
  border: 1px solid #152c51;
  padding-left: 8px !important;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.x_textMatch_page #dragDropHolder .label:before {
  content: "";
  background: #152c51;
  position: absolute;
  top: 10px;
  left: 0px;
  height: 10px;
  width: 7px;
  border-radius: 0px 20px 20px 0px;
}

#dragDropHolder .label p {
  font-size: 1.1em;
  font-weight: normal;
}

.hint p {
  font-size: 1em;
}

#feedback h3 {
  border-bottom: 1px solid #aaa !important;
  padding-bottom: 5px !important;
}

p #iFrame, p iframe {
  height: 66vw !important;
  max-height: 60vh;
  max-width: 960px;
  width: 100%;
}

p .panel #iFrame, p .panel iframe {
  width: 100%;
  max-width: 960px;
  height: auto !important;
  max-height: 100%;
}

.embeddedContent iframe {
  height: 66vw !important;
  max-height: 60vh;
  max-width: 960px;
  width: 100%;
}

#imgCaption {
  font-weight: lighter;
}

#infoHolder {
  background: #eee;
  border: 0;
  padding: 0;
  font-size: 1.2em;
  line-height: 1.4em;
}

#infoHolder button {
  font-size: 0.8em;
}

#infoHolder img {
  max-width: 100%;
  height: auto;
}

#targetHolder img {
  max-width: 80%;
  height: auto;
}

#infoHolder h3 {
  background: none;
  /*border-bottom:none; */
  color: black;
  font-weight: 700;
  padding-left: 0 !important;
  font-size: 1em;
}

#infoHolder p {
  font-size: 1em;
}

#initHolder {
  margin: 0 0 10px !important;
}

#labelHolder .label {
  font-size: 1em;
}

#linkHolder {
  max-width: 960px;
  margin: auto;
}

#linkHolder .panel.linkBlock {
  background: white;
  /*border:1px solid #152c51;*/
  float: left;
  margin: 0 0 20px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#linkHolder a {
  color: #152c51;
  padding: 4px;
}

#linkHolder p {
  font-size: 1.2em;
}

#menuItems .menuItem, #menuItems .chapterItem {
  background: #eee;
  font-family: Roboto, sans-serif;
  border-color: #000000;
}

#menuItems .chapterHolder {
  margin-bottom: 5px;
}

#menuItems .menuItem:hover, #menuItems .chapterItem:hover {
  background: white;
  color: black;
}

.chapterPageHolder {
  border-color: #000000;
  background: #eee;
}

#pageContents {
  margin: auto;
  width: 90%;
}

.x_mediaLesson_page #pageContents {
  width: 100%;
  max-width: 100%;
}

.x_videoSynch_page #pageContents {
  width: 50% !important;
  max-width: 80% !important;
  font-size: 1.2em;
}

#question p {
  font-size: inherit;
}

#tabList {
  background: none;
  border: 0;
  padding: 0;
}

#targetHolder {
  margin: 0 !important;
}

.x_textMatch_page #targetHolder .target {
  background: none;
}

#targetHolder h3 {
  border: 1px solid #152c51;
  font-size: 1em;
  padding: 5px !important;
  background: white;
  position: relative;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.x_textMatch_page #targetHolder h3:after {
  content: "";
  background: #152c51;
  position: absolute;
  top: 10px;
  right: 0px;
  height: 10px;
  width: 7px;
  border-radius: 20px 0px 0px 20px;
}

#targetHolder h3 p {
  color: black !important;
  font-weight: normal;
  font-size: 1.1em;
}

#textHolder {
  margin-bottom: 0 !important;
  max-width: 960px;
  margin: auto;
}

#textHolder img {
  height: auto;
  max-width: 100%;
}

.tick {
  border: 0px;
}

#x_headerBlock {
  background: #152c51;
  /*background-image:url(https://xerte.cardiff.ac.uk/USER-FILES/5580-mntoc-Nottingham//media/CUident_RGB.jpg);*/
  background-position: 7px;
  background-repeat: no-repeat;
  background-size: 75px 75px;
  color: #FFFFFF;
  -webkit-box-shadow: inset 0px -3px 15px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px -3px 15px rgba(0, 0, 0, 0.4);
}

#x_headerBlock div {
  /*padding-left:90px; */
}

#x_headerBlock img {
  border: 0px;
  width: 75px;
  height: auto;
  margin-left: 4px;
  margin-top: 7px;
  margin-right: 10px;
}

img {
  /*	max-width:100%;
         height:auto; */
}

#x_cssBtn {
  display: none !important;
}

#x_headerBlock h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
}

#x_headerBlock h1:empty {
  height: 27px;
}

#x_headerBlock h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 2.5em;
  font-weight: lighter;
}

#x_headerBlock h2:empty {
  height: 46px;
}

#x_headerBlock h1 span, x_headerBlock h1, #x_headerBlock h2 span, #x_headerBlock h2 {
  background-color: rgba(255, 255, 255, 0) !important;
}

#x_headerBlock #x_pageIntroBtn {
  color: white;
}

#x_headerBlock #x_pageIntroBtn.pageIntroBg {
  color: #152c51;
  background-color: white;
}

#x_headerBlock #x_pageIntroBtn.ui-button.ui-state-hover, #x_headerBlock #x_pageIntroBtn.ui-button.ui-state-focus, #x_headerBlock #x_pageIntroBtn.ui-state-active {
  color: red;
}

#x_headerBlock #x_pageIntroBtn.pageIntroBg.ui-button.ui-state-hover, #x_headerBlock #x_pageIntroBtn.pageIntroBg.ui-button.ui-state-focus, #x_headerBlock #x_pageIntroBtn.pageIntroBg.ui-state-active {
  color: #152c51;
  background-color: red;
}

#x_footerBlock {
  -webkit-box-shadow: inset 0px 4px 12px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 4px 12px rgba(0, 0, 0, 0.4);
}

#x_footerBlock .x_floatLeft .ui-button, #x_footerBlock .x_floatRight .ui-button {
  -webkit-box-shadow: none;
  box-shadow: none;
}

#pageContents p #instruction {
  font-size: 1em;
}

.right .panel {
  border-left: 1px solid #ddd;
  padding-left: 10px;
}

.left .panel {
  border-right: 1px solid #ddd;
  padding-right: 10px;
}

#x_pageDiv .x_floatRight {
  padding: 0;
}

#x_pageHolder, table p, table ul, table ol, table a, .ui-sortable .panel p {
  font-size: 1em;
}

#zoomBtn {
  /* background: #fff!important; */
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border: 1px solid #555555;
  /* color: black; */
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
}

.cardInner {
  background: white;
  border: 1px solid #152c51;
  overflow: auto;
  backface-visibility: hidden;
  padding: 1em;
}

.fa {
  vertical-align: baseline;
}

.marker {
  background-color: #152c51;
  color: white;
  display: table;
  font-family: Roboto, sans-serif;
  font-weight: lighter;
  margin-bottom: 7px;
  margin-top: 5px;
  padding: 10px;
}

.noStyle h3 {
  background: none;
  color: black;
  font-size: 1em;
  font-weight: normal !important;
  padding: 0px !important;
  border: 0px !important;
}

.panel {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  background-color: #eee;
  border: none;
  box-shadow: none;
  padding: 0;
}

.panelPage {
  padding: 10px;
}

.qPanel {
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

.ui-sortable h3 {
  font-size: 1em !important;
}

.splitScreen .right {
  margin-left: 10px !important;
}

#dragDropHolder .ui-sortable .label p {
  font-size: 0.9em;
}

#dragDropHolder .ui-sortable .label:before {
  content: none;
}

#dragDropHolder #textHolder {
  padding-right: 50%;
}

#x_footerBlock {
  background: #152c51;
  min-height: 50px;
}

.titlePageTxt strong {
  color: #152c51;
  font-family: Roboto, sans-serif;
}

.titlePageTxt img {
  max-width: 100%;
}

.ui-accordion-header {
  margin-bottom: 0px !important;
}

.ui-buttonset .ui-button {
  border: 1px solid;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-right: 1px;
}

.ui-button, .chapterHolder .menuItem.ui-button, .chapterHolder .chapterItem {
  border: 1px solid;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.ui-dialog .ui-widget-header {
  background: #152c51;
  border: none;
}

.ui-sortable .panel {
  margin-top: 5px !important;
}

.ui-tabs .ui-tabs-nav li {
  border: 1px solid;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-right: 1px;
  font-size: 0.8em;
}

.ui-tabs .ui-tabs-nav li a {
  border: 0;
  font-family: Roboto, sans-serif;
  font-weight: normal;
}

body {
  background-color: #efefef;
  font-family: Roboto, sans-serif;
  font-weight: lighter;
}

.cke_editable {
  background: #efefef;
}

.cke_editable p {
  font-size: 1em;
}

.cke_editable a {
  font-weight: bold;
}

.cke_panel_listItem p, .cke_panel_listItem a {
  font-size: 0.8em;
  font-weight: normal;
}

cite {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  margin-left: 20px;
  padding: 10px;
}

code {
  background-color: white;
  display: table;
  padding: 10px;
  -webkit-box-shadow: inset 2px 2px 5px #ccc;
  box-shadow: inset 2px 2px 5px #ccc;
  border: 1px solid #000;
  font-size: 10pt;
}

figcaption {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

h3 {
  /*background:#152c51;
     color:white;*/
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  padding-top: 10px !important;
  padding-bottom: 5px !important;
  border-bottom: 1px solid #152c51;
  margin-bottom: 5px !important;
}

h3:empty, #infoHolder hr {
  display: none;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  font-weight: normal;
  padding-top: 10px !important;
  padding-bottom: 5px !important;
  border-bottom: 1px solid #aaa;
  margin: 0px !important;
  margin-bottom: 5px !important;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: normal;
  padding-top: 10px !important;
  padding-bottom: 8px !important;
  border-bottom: 5px solid #ccc;
  margin: 0px !important;
  background: #ddd;
  margin-bottom: 5px !important;
  padding-left: 10px;
}

h6 {
  border-top: 1px solid #152c51;
  font-family: Roboto, sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 10px;
  padding-top: 10px;
}

hr {
  border: 1px solid #ddd;
}

img, #cropImg, #controlPanel {
  border: 1px solid #ccc;
}

kbd {
  background-color: #d3374a;
  color: white;
  display: table;
  font-family: Roboto, sans-serif;
  font-style: normal;
  margin-bottom: 7px;
  margin-top: 5px;
  padding: 10px;
}

li {
  line-height: 1.4em;
  padding: 4px 4px 4px 0;
}

p {
  color: #000;
  font-size: 1.2em;
  line-height: 1.4em;
}

li p {
  font-size: inherit;
}

q {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  color: #333;
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
}

samp {
  background: #fff;
  color: #333;
  display: table;
  font-family: Roboto, sans-serif;
  font-weight: lighter;
  margin-bottom: 7px;
  margin-top: 5px;
  padding: 10px;
  border-left: 5px solid #d3374a;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

table {
  font-size: 1em;
  margin-bottom: 20px;
  margin-top: 10px;
}

table ul {
  line-height: 1.2em;
  padding-left: 15px;
}

table ol {
  line-height: 1.2em;
  padding-left: 15px;
}

table td {
  background: #fff;
  border-color: #152c51;
  font-size: 1.1em;
  line-height: 1.4em;
  width: auto;
}

.ui-tabs .ui-tabs-panel p {
  font-size: 1em;
}

.x_grid_page table.header.shaded tr:first-child td,
.x_grid_page table.headerCol.shaded td.header {
  background: #efefef;
}

th {
  background: #152c51;
  border: 1px solid #152c51;
  color: white;
  font-size: 1.1em;
  font-weight: lighter;
  padding: 5px;
  text-align: center;
}

table.header.shaded thead tr:first-child,
table.header.shaded tr.header,
table.header.shaded :not(tbody) > tr:first-child,
.x_grid_page table.header.shaded tr:first-child {
  background: #152c51;
  border-color: #152c51;
  color: white;
}

tt {
  background: #fff;
  /* border: 1px solid #999;
      /* border-radius: 10px; */
  color: #333;
  display: table;
  font-family: Roboto, sans-serif;
  font-weight: lighter;
  margin-bottom: 7px;
  margin-top: 5px;
  padding: 10px;
  border-left: 5px solid #152c51;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#imgHolder #mainPanel {
  margin: auto;
}

#imgHolder .x_floatRight {
  max-width: 35% !important;
  margin: 0px !important;
  margin-left: 10px !important;
}

.x_gapFill_page #targetHolder .target {
  padding: 4px;
  margin: 5px 0 5px 0;
}

ul {
  color: #000;
  font-size: 1.2em;
  margin: 0;
}

ul ul {
  font-size: inherit;
}

ol {
  color: #000;
  font-size: 1.2em;
  margin: 0;
}

ol ol {
  font-size: inherit;
}

ol ul {
  font-size: inherit;
}

ul ol {
  font-size: inherit;
}

var {
  background-color: #ccc;
  color: black;
  display: table;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: lighter;
  margin-bottom: 7px;
  margin-top: 5px;
  padding: 10px;
}

#btnHolder label:first-of-type {
  margin-right: -2px !important;
}

.titlePageTxt {
  font-size: 3vw;
}

#pageContents {
  width: 95%;
  max-width: 960px;
}

.withChild {
  width: 100% !important;
  max-width: 1080px !important;
}

.titlePageTxt {
  max-width: 100% !important;
}

@media only screen and (max-width: 900px) {
  .titlePageTxt {
    font-size: 3.5vw;
  }
}
@media only screen and (min-height: 700px) {
  .withChild2 {
    max-width: 1280px !important;
  }
}
.pbTxt {
  color: #EEE;
}

#cards {
  width: 90% !important;
  height: 60vh !important;
}

.x_flashCards_page .card {
  width: 100% !important;
}

.x_grid_page table {
  margin-top: 0;
}

#thumbHolder .thumbBox h3 {
  font-size: 0.9em;
  text-align: center;
  overflow: hidden;
  padding: 0px !important;
  border: none !important;
}

.x_mediaLesson_page iframe, .x_mediaLesson_page #iframe {
  width: 100% !important;
  height: 100% !important;
}

#mainText, #textHolder {
  line-height: 1.4em;
}

#textHolder {
  font-size: 1.2em;
}

#textHolder p {
  font-size: inherit;
  line-height: 1.6em;
}

#subMenuItems {
  width: 100%;
  margin: auto;
  max-width: 960px;
}

#subMenuItems .subMenuItem {
  display: block;
  margin-bottom: 5px;
  text-align: left;
  width: 100% !important;
}

.x_annotatedDiagram_page #canvas {
  position: absolute;
  top: 0px;
  margin: 0;
  right: 0;
}

#copyBtn {
  font-size: 0.8em;
}

.x_tabNavExtra_page #pageContents {
  font-size: 1.1em;
}

#pageContents.mcq .optionTxt {
  font-size: 1.2em;
}

.x_audioRecord_page .deleteClipBtn {
  box-shadow: none;
}

/* page resources */
#x_resourceTable th {
  vertical-align: middle;
}

/*# sourceMappingURL=cesicardiff.css.map */
