//******Header******/
#x_headerBlock {
  color: $whiteorlightest;
  background-repeat:no-repeat;
  background-position:right;
  background-image:	none;
  width: 100%;
  border-top-right-radius: $largeroundedcorners;
  border-bottom-right-radius: $largeroundedcorners;
  background: $defaultpagebackground;
  box-shadow: $interfaceboxshadow;
}

#x_headerBlock #x_pageIntroBtn {
	color: white;
}

#x_headerBlock #x_pageIntroBtn.pageIntroBg {
	color: $defaultpagebackground;
	background-color: white;
}

#x_headerBlock #x_pageIntroBtn.ui-button.ui-state-hover, #x_headerBlock #x_pageIntroBtn.ui-button.ui-state-focus, #x_headerBlock #x_pageIntroBtn.ui-state-active {
	color: $lightestcolor;
}

#x_headerBlock #x_pageIntroBtn.pageIntroBg.ui-button.ui-state-hover, #x_headerBlock #x_pageIntroBtn.pageIntroBg.ui-button.ui-state-focus, #x_headerBlock #x_pageIntroBtn.pageIntroBg.ui-state-active {
	color: $defaultpagebackground;
	background-color: $lightestcolor;
}

/* progress bar */
#x_headerProgress .progressMarker {
  border-color: $whiteorlightest;
  background-color: $bodybackgroundcolor;
}
#x_headerProgress .progressMarker.complete {
  border-color: $progressBarColor;
}

/* page resources */
#x_pageResourcesBtn.ui-button-icon-only {
  background: none;
  color: $whiteorlightest;
}

#x_pageResourcesBtn .resourceNumber {
  background: $lightestcolor;
  color: $blackordarkest;
}

#x_pageResourcesBtn.ui-button-icon-only:hover .resourceNumber, #x_pageResourcesBtn.ui-button-icon-only:active .resourceNumber, #x_pageResourcesBtn.ui-button-icon-only:focus .resourceNumber {
  background: $brightcolor;
  color: $whiteorlightest;
}

.resourceLink, .resourceLink:visited, .resourceLink:focus,
.resourceDownloadBtn, .resourceDownloadBtn:visited, .resourceDownloadBtn:focus {
  color: $mainfontcolour;
}

#x_resourceTable tr {
  border-color: $whiteorlightest;
}