//*****hr lines & border-top/bottom lines*****
.x_columnPage_page #textHolder,
.x_imageSequence_page #controlBar,
.x_nav_page #pageContents.col #textHolder {
  border-bottom: $hrLine solid $hrColour;
}
.x_textGraphics_page #imgCaption.transcript,
.x_nav_page #pageContents.slide #btnHolder.top,
.x_tabNavExtra_page .paneList {
  border-bottom: $hrLine solid $defaultpagebackground;
}
.x_table_page #footnote,
.x_nav_page #pageContents.slide #btnHolder:not(.top) {
  border-top: $hrLine solid $defaultpagebackground;
}
//***********************************Text*************************************
//*****title page******
.titlePageTxt {
  //*without reducing the width here horizontal scroll bars show when the theme selected isn't 100% width*/
  width:96% !important;
  overflow: hidden;
}
//***********************************Media*************************************
//default highlight if not overriden
.highlight {
  background: $lightestcolor;
}
//*****audio slideshow********/
.x_audioSlideshow_page .slide {
  margin-left: 5px;
}
//*****change infoHolder to white********/
//*****image sequence, hotspot question********/
.x_imageSequence_page #infoHolder, .x_hotSpotQuestion_page #infoHolder{
  background: $whiteorlightest;
}
//*****multiple perspectives******/
#thumbHolder .thumbBox h3, .x_responsive #thumbHolder .thumbBox h3{
  color: $darkestcolor;
}
//*****Synched Video*******/
//add padding to right holder
#x_mainHolder.x_videoSynch_page .right{
  padding-top: 10px;
  padding-left: 20px;
}
//*****transcript reader******/
.x_transcriptReader_page .highlight {
  background:transparentize($whiteorlightest, .1);
}
//*****image sequence******/
.x_imageSequence_page #seriesBtnLeft, .x_imageSequence_page #seriesBtnRight {
  color: $blackordarkest;
}
.x_imageSequence_page #seriesBtnLeft:hover, .x_imageSequence_page #seriesBtnRight:hover, .x_imageSequence_page #seriesBtnLeft:focus, .x_imageSequence_page #seriesBtnRight:focus, .x_imageSequence_page #seriesBtnLeft:active, .x_imageSequence_page #seriesBtnRight:active {
  color: $lightestcolor2;
}
.x_imageSequence_page #seriesHolder .thumbs.selected {
  background-color: $accent1;
}
.x_imageSequence_page #seriesHolder .thumbs.highlighted {
  background-color: $lightestcolor2;
}
.x_imageSequence_page #viewHolder #viewOption button.highlighted {
  border-color: $lightestcolor2;
}
//*****PDF*****/
.x_pdf_page #pdfPage hr {
  height: 0;
  margin: 0;
}
.x_pdf_page #pdfPage #pdfLink {
  text-decoration: none;
  padding: .2em 1em;
  border-radius: $smallroundedcorners;
  background: $midgrey;
  color: $blackordarkest;
}
.x_pdf_page #pdfPage #pdfLink:hover, .x_pdf_page #pdfPage #pdfLink:focus, .x_pdf_page #pdfPage #pdfLink:active {
  border-radius: $smallroundedcorners;
  background: $darkergrey;
  color: $blackordarkest;
}
.x_pdf_page #pdfPage #link {
  text-align: right;
  margin-top: .8em;
}
//*****transcript reader*****/
.x_transcriptReader_page .highlight {
  border-radius: $mediumroundedcorners;
}
//***********************************Navigators*************************************/
//*****Accordion page*******/
#x_mainHolder.x_nav_page #pageContents.acc #infoHolder {
  background: none;
}
#x_mainHolder.x_nav_page #pageContents.acc #infoHolder .navChild,
#x_mainHolder.x_nav_page #pageContents.tab #infoHolder .navChild {
  padding: 1em;
}
#x_mainHolder.x_nav_page #pageContents.acc #infoHolder .navChildTitle {
  border-radius: $smallroundedcorners;
}
#x_mainHolder.x_nav_page #pageContents.acc #infoHolder .navChildTitle,
#x_mainHolder.x_nav_page #pageContents.acc #infoHolder .navChild {
  background: none $lightgrey;
  border: 0;
}
#x_mainHolder.x_nav_page #pageContents.acc #infoHolder .navChildTitle:not(.ui-accordion-header-active):not(:last-of-type),
#x_mainHolder.x_nav_page #pageContents.acc #infoHolder .navChild {
  margin-bottom: .2em;
}
#x_mainHolder.x_nav_page #pageContents.acc .ui-accordion .ui-accordion-header {
  margin-top: 0;
}
#x_mainHolder.x_nav_page #pageContents.acc #infoHolder .navChildTitle a {
  padding: 10px 15px 10px 35px;
  background: none;
  border-radius: 0;
  border: 0;
}
#x_mainHolder.x_nav_page #pageContents.acc #infoHolder .navChildTitle .ui-icon {
  left: 15px;
  color: $blackordarkest;
}
#x_mainHolder.x_nav_page #pageContents.acc #infoHolder .navChildTitle.ui-accordion-header-active {
  background: $darkergrey;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#x_mainHolder.x_nav_page #pageContents.acc #infoHolder .navChildTitle.ui-state-hover:not(.ui-accordion-header-active),
#x_mainHolder.x_nav_page #pageContents.acc #infoHolder .navChildTitle.ui-state-focus:not(.ui-accordion-header-active) {
  background: $midgrey;
}
#x_mainHolder.x_nav_page #pageContents.acc .ui-accordion-content {
  border-bottom-left-radius: $smallroundedcorners;
  border-bottom-right-radius: $smallroundedcorners;
}
//*****button navigator*****/
.ui-button, .ui-widget-content .ui-button {
  border-radius: $smallroundedcorners;
  background: $midgrey;
  border: none;
  color: $blackordarkest;
}
.ui-buttonset .ui-button {
  margin-left: 0;
  margin-right: .2em;
}
.ui-button.ui-state-active, .ui-button.ui-state-hover, .ui-button:focus,
.ui-widget-content .ui-button.ui-state-active, .ui-widget-content .ui-button.ui-state-hover, .ui-widget-content .ui-button:focus {
  border-radius: $smallroundedcorners;
  background: $darkergrey;
  border: none;
  color: $blackordarkest;
}
.x_nav_page #pageContents.button button.selected {
  background-color: $whiteorlightest;
}
//***Flash cards***/
.front.panel{
  background:$lightgrey;
  border:$lightgrey;
  color:$fontcolorforlightestcolor;
}
.back.panel{
  background:$lightgrey;
  border:$lightgrey;
  color:$fontcolorforlightestcolor;
}
.back.panel a{
  color:$linkcolor;
}
//*****hyperlinks******/
.x_links_page #linkHolder a{
  color:$linkcolor;
}
.x_links_page #linkHolder a:visited{
  color:$linkvisited;
}
.x_links_page #linkHolder a:hover{
  color:$linkhover;
}
//*****navigator*****/
#pageContents.button button.selected {
  background-color: $lightestcolor;
}
//****tabbed navigator****/
.ui-tabs {
  background: none !important;
  border: 0;
  border-radius: 0 !important;
  padding: 0;
}
.ui-tabs .ui-tabs-nav,
#x_mainHolder.x_nav_page #pageContents.tab #tabHolder {
  border: 0;
  border-bottom: $hrLineThick solid $darkergrey;
  margin-bottom: 0;
  border-radius: 0;
  background: none;
  padding: 0;
}
.ui-tabs .ui-tabs-nav li.ui-state-default {
  top: 0;
}
.ui-tabs .ui-tabs-panel {
  background: $lightgrey;
}
.ui-tabs #paneHolder, .ui-tabs .paneHolder {
  border-bottom-left-radius: $mediumroundedcorners;
  border-bottom-right-radius: $mediumroundedcorners;
}
.ui-tabs .ui-tabs-nav > li.ui-state-default {
  margin: 0;
  border: 0 !important;
  border-radius: 0;
  background: none;
  padding: 0;
}
.ui-tabs .ui-tabs-nav > li.ui-state-default a {
  color: $blackordarkest;
  background: $lightgrey;
  padding: 10px 15px 4px 15px;
  border: 0;
  border-radius: 0;
  border-top-right-radius: $mediumroundedcorners;
  border-top-left-radius: $mediumroundedcorners;
  margin-right: 5px;
}
.ui-tabs #tabHolder.ui-tabs-nav > li.navChildTitle.ui-state-default.ui-tabs-active {
  border-bottom: 0 !important;
}
.ui-tabs .ui-tabs-nav > li.ui-state-default.ui-tabs-active a {
  background: $darkergrey;
}
.ui-tabs .ui-tabs-nav > li.ui-state-default.ui-state-hover:not(.ui-tabs-active) a,
.ui-tabs .ui-tabs-nav > li.ui-state-default.ui-state-focus:not(.ui-tabs-active) a {
  background: $midgrey;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  text-decoration: none;
  background: $whiteorlightest;
  color:$blackordarkest !important;
  border-radius: $smallroundedcorners;
  border: solid $lightgrey;
}
.x_tabNavExtra_page a.topic,
.x_list_page #listHolder a.listItem {
  font-weight: 500;
  text-decoration: none;
  padding: .2em 1em;
  border-radius: $smallroundedcorners;
  background: $lightgrey;
  color: $blackordarkest;
  margin-bottom: 5px;
}
.x_tabNavExtra_page a.topic:hover, .x_tabNavExtra_page a.topic:focus, .x_tabNavExtra_page a.topic:active,
.x_list_page #listHolder a.listItem:hover, .x_list_page #listHolder a.listItem:focus, .x_list_page #listHolder a.listItem:active {
  border-radius: $smallroundedcorners;
  background: $midgrey;
  color: $blackordarkest;
}
.x_tabNavExtra_page a.topic.highlight,
.x_list_page #listHolder a.listItem.highlight {
  background: $darkergrey;
}
//***********************************Interactivity*************************************/
//most text areas unless changed for specifc pages
#pageContents textarea {
  border-radius: $mediumroundedcorners;
  padding: 10px;
}
//most input boxes unless changed for specifc pages
#pageContents input {
  border-radius: $smallroundedcorners;
  padding-left: 10px;
}
//*****highlight text******/
.x_textHighlight_page .ui-widget-content button.ui-state-default {
  border-radius: $smallroundedcorners;
  background: $contrastcolor;
  border: none;
  color: #ffffff;
}
.x_textHighlight_page .ui-widget-content button.ui-state-default.ui-state-active {
  background: $lightestcolor2;
  color: $whiteorlightest;
}
/*.x_textHighlight_page .ui-tabs {
	border-radius:$mediumroundedcorners;
	background: $lightgrey;
}*/
//*****annotated diagram******/
#listholder a.listitem, a:visited {
  color:$contrastcolor ;
}
.x_annotatedDiagram_page .highlight{
  background:$lightgrey;
}
.x_annotatedDiagram_page .hotspot{
  background:none;
}
.x_annotatedDiagram_page #infoHolder{
  background:$defaultpagebackground;
}
//*******Drag and Drop Labelling*********/
.target.ui-droppable.border.highlight {
  //show transparent background when clicking target hotspots
  background-color: transparentize($lightestcolor, .6) !important;
}
.x_dragDropLabel_page #infoHolder{
  padding:20px;
  margin-right:20px;
}
.x_dragDropLabel_page .label.panel{
  background:transparentize($midgrey, .2 )!important;
  border-color:$midgrey;
  color:$blackordarkest;
  border-radius: $smallroundedcorners;
}
.x_dragDropLabel_page #targetHolder .highlight{
  // background-color: rgba(83, 70, 69, 0.30);
  background:none;
}
//*****categories*****/
#categoryHolder .category {
  border-radius: $mediumroundedcorners;
}
#categoryHolder h3 {
  color:$blackordarkest;
}
.x_categories_page #dragDropHolder {
  background: $whiteorlightest;
  padding:10px;
  border-radius: $mediumroundedcorners;
}
.x_categories_page .label.panel{
  background:$whiteorlightest;
  border:solid $midgrey;
  color:$blackordarkest ;
}
#categoryHolder .highlight {
  border-radius: $smallroundedcorners;
  background: $lightgrey;
}
//*******decision tree********//
.x_decision_page .highlight{
  background: $lightestcolor;
}
//*****Dictation*****/
.x_dictation_page #answerTxt {
  width: 98%;
  margin-bottom: 10px;
  border-radius: $mediumroundedcorners;
  padding:10px;
}
//*****gap fill*****/
#targetHolder .target {
  border-radius: $mediumroundedcorners;
}
#targetHolder .highlight {
  background:$whiteorlightest;
}
#labelHolder .label.panel {
  //background: purple;
}
.x_gapFill_page #targetHolder .highlight {
  background:transparentize($whiteorlightest, .5);
}
.x_gapFill_page .label.panel {
  background: $midgrey;
  border-color:$midgrey !important;
  color:$blackordarkest;
}
.x_gapFill_page .target.correct{
  color:green;
  font-weight:bold;
  background-color:transparentize($whiteorlightest, .8);
}
//*****hotspot image*****/
a.hotspot, a.hotspot.selected {
  background: none;
}
.hsinfo{
  padding:1%;
}
.x_hotspotImage_page #infoHolder {
  background: none;
}
//*********matching texts*********/
.x_textMatch_page #dragDropHolder {
  background: $lightgrey;
  padding:10px;
  border-radius: $mediumroundedcorners;
}
.x_textMatch_page .label.panel{
  background:$midgrey;
  border-color:$midgrey;
  color:$blackordarkest;
}

//*****model answer*****/
.x_modelAnswer_page #answerTxt {
  border-radius: $mediumroundedcorners;
  width: 98%;
}
//*****opinion********/
.x_opinion_page #pageContents input {
  padding-left: 0;
}
.qPanel {
  overflow-x:hidden;
}
.qSeparator hr {
  background-color: lighten($lightestcolor, 15%);
  border-color: lighten($lightestcolor, 15%);
  border: solid 1px lighten($lightestcolor, 15%);
}
.sliderHolder .labelHolder a p {
  color: $blackordarkest;
}

//*****sortable grid*****/
.x_grid_page #gridBorders {
  border-radius: $smallroundedcorners;
}
.x_grid_page #grid .listHolder.constrainC li {
  border-radius: $smallroundedcorners;
}
.x_grid_page #grid ul li.header {
  color: $whiteorlightest ;
  background:$accent1;
}
.x_grid_page table.simple {
  border: transparent;
}
.x_grid_page table.header.simple tr:first-child{
  border-bottom: transparent;
  background:$darkestcolor;
}
.x_grid_page table.header.shaded tr:first-child {
  background: $whiteorlightest;
}
//the draggable items
.x_grid_page #grid ul li{
  background:$midgrey;
  border-color: transparent;
  color:$blackordarkest !important;
}
//even rows of the table
.x_grid_page table tr.shaded {
  background: $whiteorlightest;
  color:$blackordarkest !important;
}
//odd rows of the table
.x_grid_page table tr {
  background: $lightgrey;
  color:white !important;
}
.x_grid_page #grid ul li.static {
  background: $darkergrey;
  border-color: transparent;
}
/*****timeline matching pairs*****/
.x_timeline_page #dragDropHolder {
  background: $whiteorlightest;
}
//the target boxes
.x_timeline_page #targetHolder .target {
  border-radius: $mediumroundedcorners;
  background-color:$lightgrey;
}
.x_timeline_page .label.panel.ui-draggable {
  background: $whiteorlightest;
  color: $blackordarkest;
  border-color:$blackordarkest;
}
//***********************************Connectors*************************************/

//***********************************Games*************************************/
//*****games memory*****/
#pageContents .card {
  border-radius: $smallroundedcorners;
  border-color: $contrastcolor;
}
#cardTopHolder .card{
  border-color: $contrastcolor;
}
//*****games puzzle*****/
#puzzle {
  border-radius: $mediumroundedcorners;
}
//*****memory******/
#pageContents .card {
  color: $darkestcolor;
}
#cardTopHolder .card {
  background-image: url('card_back.svg') !important; //doesn't work without important
}
//***********************************Misc*************************************/
//*****youtube feed page*****/
.x_youtuberss_page #resultsHolder div {
  width:97%;
  min-height: 50px;
  padding-top: 5px;
  border-radius: $mediumroundedcorners;
  background-color: $whiteorlightest;
  margin:.5em;
}
.x_youtuberss_page #resultsHolder div a{
  color: #0000A0;
}
.x_youtuberss_page .shadedDiv {
   background-color: lighten($darkergrey, 12%) !important; //doesn't work without important
   border-radius: $mediumroundedcorners;
 }
.x_youtuberss_page .shadedDiv p{
  color:$blackordarkest !important;
}
//*****qr code******/
div#shorturltodisplay a{
  color:$darkestcolor;
}
//*****RSS feed******/
.x_rss_page #rssHolder .panel{
  background-color: $midgrey;
}
.x_rss_page #resultsHolder div {
  width:99.2%;
}
.x_rss_page #resultsHolder .s {
 border-radius: $smallroundedcorners;
  background-color: $whiteorlightest;
  padding-left:.5em;
}
.x_rss_page #resultsHolder div p {
  color: $blackordarkest;
}
.x_rss_page #resultsHolder .shadedDiv {
  /*background-color: lighten($lightestcolor, 20%) !important; //doesn't work without important*/
  background-color: $lightgrey !important; //doesn't work without important
  border-radius: $smallroundedcorners;
  margin-bottom:.5em;
  margin-top:.5em;
  //padding:.5em;
}
.x_rss_page #resultsHolder div a {
  color: darkblue;
}
//*****rss xerte download feed*****/
.x_rssdownload_page #rssHolder .panel{
  background-color: $midgrey;
}
.x_rssdownload_page #resultsHolder > div {
  border-radius: $smallroundedcorners;
  background-color: $lightgrey !important;
  padding-left:.5em;
  width:99.5%;
}
.x_rssdownload_page #resultsHolder .shadedDiv {
  /*background-color: lighten($lightestcolor, 20%) !important; //doesn't work without important*/
  background-color: $whiteorlightest !important; //doesn't work without important
  border-radius: $smallroundedcorners;
  margin-bottom:.5em;
  margin-top:.5em;
  //padding:.5em;
}
//*****results page*****/
.x_results_page td {
  background:$lightgrey;
  color: $mainfontcolour;
}
.x_results_page #questionScores  th{
  background-color: $darkestcolor;
}
.x_results_page tr.alt td{
  background: $midgrey;
  color:$blackordarkest;
}
.x_results_page .details th, .x_results_page .details tr:first-of-type td.correct {
  background: $darkestcolor;
  color: $fontcolorfordarkestcolor;
}
.x_results_page #general_summary th {
  background: #ffffff;//hide otherwise black line at to of summary table
}
.fas.fa-check-circle{
  color:green;
}
.fas.fa-times-circle{
  color:#CD2A2A;
}
.fas.fa-circle.blue{
  color:#0000ff;
  background:black;
  border-radius: 12px;
}
.far.fa-circle.blue{
  color:#0000ff;
  border-radius: 12px;
}
.x_results_page tr.alt .far.fa-circle.blue {
  color: #0000ff !important;
  border-radius: 12px;
}

.x_results_page tr .far.fa-circle.blue {
  color: #0000ff !important;
  border-radius: 12px;
}
//***********************************Media query/responsive changes*************************************/
//*****change tick/cross size on all pages where used******/
.tick, img.result{
  @media (min-width: 768px) {
    width: 2.5vmin;
  }
}