/* accNav.html */
	
	#infoHolder {
		height:	100%;
	}
	
	#infoHolder .paneImg {
		text-align:		center;
		padding-top:	10px;
	}
	
	#infoHolder .paneImg img {
		opacity:	0;
		filter:		alpha(opacity=0);
	}
	
