/*svg{
  height: 300px;
  width: 700px;
}*/
canvas {
  height: 400px;
  width : 100%;
}
#adaptiveContent .panel {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 20px;
}

.legend {
  margin-left: 20px;
  height: fit-content;
}

tr.openanswer {
  color: inherit;
}

#adaptiveContent .openanswer td {
  vertical-align: top;
}

.openanswer td.date {
  white-space: nowrap;
}

#listPanel ul li {
  cursor: pointer;
}

#adaptiveContentList ul {
  list-style-type: none;
  padding-left: 0;
}

#adaptiveContentList {
  clear: both;
}
li.select-interaction {
  background: #eeeeee;
}

li.select-interaction.selected {
  background: #dddddd;
}

#listPanel {
  min-height: 220px;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200px;
  margin-left: -100px; /* -1 * div width / 2 */
  margin-top: -32px;  /* -1 * image height / 2 */
  display: flex;
  z-index: 10;
  flex-direction: column;
}

#loader_image {
  margin-left: auto;
  margin-right:auto;
  display:block;
}

#loader_text {
  text-align: center;
  color:#888888;
  font-size:smaller;
}

#adaptiveContentMain .splitScreen .left, #adaptiveContentMain .splitScreen .right {
  overflow-y: auto;
}

#adaptiveContentMain {
  overflow-y: hidden;
}

.x_adaptiveContent_page #x_pageDiv > div:first-of-type{
  height: 100%;
}

.summary {
  width: 40%;
  float: left;
}

.summary-container {
  display: flex;
}

.graph-container {
  width: 60%;
  float: right;
  display: inline-flex;
}

.graph-container fieldset.noStyle {
  width: 100%;
  float: left;
}

.graph-container-wide fieldset.noStyle {
  width: 100%;
  float: unset;
}

@media (max-width: 1200px) {
  .summary-container {
    display: block;
  }
  .graph-container {
    width: 100%;
    float: unset;
    margin-top: 1rem;
  }
  .summary {
    width: 100%;
    /* display: inline-block; */
  }
  .graph-container fieldset.noStyle {
    width: 100%;
  }
}

.panel.legend, .panel.legend p, .panel.legend ol, .panel.legend ul, .panel.legend li{
	font-size: inherit;
}

.graph {
  display: inline-block;
  position: relative;
  width: 100%;
  /*padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
}

#button-placeholder {
  text-align: right;
}

.graph-container{
  width: 60%;
  margin-bottom: 2vmin;
  margin-top: 2vmin;
}

.graph-container-wide {
  width: 100%;
}

.container-print{
  display: flex;
  flex-direction: column;
}

#print-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

#print-overlay-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

@media screen and (max-width: 1200px) {
  .graph-container {
    width: 95% !important;
  }

  .graph{
    width: 95% !important;
  }

  .panel.legend p{
    font-size: 2.75vmin;
  }
}