/* audioSlideshow.html */
	
	#infoHolder {
		overflow:	auto;
	}
	
	#pageContents .pageImg {
		text-align:		center;
	}
	
	#pageContents .padBottom {
		padding-bottom:	10px;
	}
	
	#pageContents .padTop {
		padding-top:	10px;
	}
	
