/* bleedingImage.html */
	
	#textHolder {
		padding-bottom:	20px;
	}
	
	#textHolder p:first-child {
		margin-top:	0px;
	}
	
	.noBorder {
		display:	inline-block;
		margin:		0px;
	}
	
	#linkImg {
		padding:	10px;
		position:	absolute;
		top:		0;
		right:		0;
	}
	
	#pageContents a img {
		border:	2px solid transparent;
	}
	
	#pageContents a:focus img {
		border-color:	blue;
	}
	
