/* bullets.html */

#holder li.bullet {
    margin-left:	-10px;
    padding-top:	10px;
}

#holder:not(.panel) li.bullet:first-of-type {
    padding-top:	0.3em;
}

#holder {
	overflow: auto;
}

#holder > ul {
	margin: 0;
}

#btnHolder {
	overflow: auto;
}

#btnHolderInner {
	float: right;
	padding-top: 10px;
}