/* bullets.html */
	
li.bullet {
	padding-top:	10px;
	margin-left:	-10px;
}

#holder {
	overflow: auto;
}

#holder > ul {
	margin: 0;
}

#btnHolder {
	overflow: auto;
}

#btnHolderInner {
	float: right;
	padding-top: 10px;
}