/* bullets.html */

	#holder li.bullet {
		margin-left:	-10px;
		padding-top:	10px;
	}

	#holder:not(.panel) li.bullet:first-of-type {
		padding-top:	0.3em;
	}

	#holder ul {
		margin-top: 0;
		margin-bottom: 0;
	}
	
