/* categories.html */
	
	#dragDropHolder {
		overflow:	auto;
	}
	
	.x_categories_page #dragDropHolder .label {
		cursor:				pointer;
		list-style-type:	none;
		padding:			5px;
		position:			relative;
	}

	#dragDropHolder .label.focus {
		border:	2px solid yellow;
	}

	#dragDropHolder .label.selected {
		border:	2px solid green;
	}

	#dragDropHolder .tick {
		position: absolute;
		bottom: 0px;
		right: 0px
	}
	
	#initHolder {
		padding:		0px;
		margin-right:	2%;
		float:			right;
	}
	
	#categoryHolder {
		clear:	right;
	}
	
	#categoryHolder .category {
		padding: 1%;
		float: left;
	}

	.x_categories_page #categoryHolder .category {
		cursor: pointer;
	}

	.x_categories_page #categoryHolder .category .label {
		margin-top:		10px;
	}

	#categoryHolder .categoryTitle {
		text-align:		center;
		font-weight: bold;
		padding: 0;
	}

	.featherlight-content #categoryHolder {
		display: flex;
		justify-content: space-evenly;
	}

	.featherlight-content #categoryHolder .category {
		min-height: unset !important;
	}

	.featherlight-content #categoryHolder .category .label {
		text-align: center;
	}

	#btnHolder {
		clear: left;
		float: right;
	}
	
	#button, #showBtn {
		margin-bottom: 10px;
		margin-left: 0.5em;
	}
	
	#feedback {
		clear:	left;
	}
	
	ul#initHolder {
		overflow: visible;
	}

	.textBottomHolder {
		clear: both;
	}
