/* chart.html */

	#infoHolder .panel {
		overflow:	auto;
	}

	#infoHolder table {
		margin-left:	auto;
		margin-right:	auto;
	}

	#infoHolder table tr:first-child {
		text-align:	center;
	}

	#infoHolder table tr {
		text-align:	right;
	}

	#infoHolder table tr td:first-child {
		text-align:	center;
	}

