/* colourChanger.html */

	#colourChangerHolder {
		padding: 0 5px 0 5px;
	}

	#colourChangerOptions {
		display:		block;
		text-align:		left;
	}
	
	.optionGroup {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	
	.optionGroup input {
		float: left;
		display: block;
	}
	
	.optionGroup label {
		cursor: pointer;
		position: relative;
		margin-left: 2em;
		display: block;
	}
	
	.optionGroup p {
		padding-top: 0;
	}

