/* columnPage.html */
	
	#textHolder {
		padding-bottom:	10px;
	}
	
	#pageContents .column {
		padding:	0px;
		height:		100%;
		overflow-x: hidden;
	}
	
	#pageContents .pageImg {
		text-align:		center;
		padding-top:	10px;
		padding-bottom:	10px;
	}
	
	#columnHolder.mobile:first-child {
		margin-top:	0px;
		border-top:	0px;
	}
	
	#columnHolder.mobile .column {
		margin-top:	10px;
		border-top:	1px solid gray;
	}
	
