/* columnPage.html */

	.textTopHolder + #columnHolder,
	#columnHolder + .textBottomHolder {
		margin-top: 1em;
	}

	#x_mainHolder:not(.x_mobile) #columnHolder {
		display: grid;
		gap: 1em;
		max-width: 100%;
	}

	#x_mainHolder:not(.x_mobile) #columnHolder .column {
		box-sizing: border-box;
	}

	#x_mainHolder.x_mobile #columnHolder {
		/* on mobiles always show columns as rows instead */
		display: flex;
		flex-direction: column;
		gap: 1em;
	}
	
	#pageContents .pageImg {
		text-align:		center;
		padding-top:	10px;
		padding-bottom:	10px;
	}

	#pageContents .pageImg figcaption {
		text-align: left;
	}

	#columnHolder.mobile:first-child {
		margin-top:	0px;
		border-top:	0px;
	}
	
	#columnHolder.mobile .column:not(:first-of-type) {
		margin-top:	10px;
		border-top:	1px solid gray;
	}
	
