/* decision.html */

	#stepHolder p:first-of-type {
		margin-top:	0px;
	}

	#pageContents #btnHolder {
		text-align:		center;
		margin-top:		10px;
		margin-right:	0px; /* over-ride ui style */
		padding-top:	2px;
		padding-bottom:	2px;
		overflow:		auto;
	}
	
	#pageContents #btnFloatR {
		float:		right;
	}
	
	#pageContents #btnFloatL {
		float:		left;
	}
	
	#contentHolder {
		overflow:	auto;
	}
	
	
	#pageContents .radioAnswers, #pageContents .dropDownAnswer {
		margin-top:	15px;
	}
	
	#pageContents .radioAnswers input {
		float:		left;
		display:	block;
	}
	
	#pageContents .radioAnswers .optionGroup {
		padding-top:	5px;
		padding-bottom:	5px;
	}
	
	#pageContents .radioAnswers .optionTxt {
		cursor:			pointer;
		position:		relative;
		margin-left:	30px;
		display:		block;
	} 
	
	#pageContents #labelHolder {
		margin:	15px;
	}
	
	#pageContents #labelHolder input {
		margin-left:	10px;
		margin-right:	10px;
	}
	
	#pageContents #slider {
		margin:	15px;
	}
	
	#pageContents #submitBtn, #pageContents #viewThisBtn, #pageContents #helpBtn, #pageContents #goBtn {
		margin:	10px;
	}
	
	#pageContents #submitBtn, #pageContents #viewThisBtn, #pageContents #goBtn {
		float:	right;
	}
	
	#pageContents #helpBtn {
		float:	left;
	}
	
	#helpDialog {
		padding:	10px;
	}
	
	#overviewHolder .ui-icon {
		float:	left;
		clear:	both;
		margin:	0 5px 5px 0;
		border:	1px solid #eeeeee;
	}
	
	#overviewHolder .overviewAnswer, #overviewHolder .extraInfo {
		margin-left:	10px;
	}
	
	#overviewHolder .overviewAnswer .ui-icon, #overviewHolder .extraInfo .ui-icon {
		border:	0px;
	}
	
	#overviewHolder .overviewStep {
		border-bottom:	1px solid #cccccc;
	}
	
	#overviewHolder .overviewStep, #overviewHolder .overviewAnswer {
		padding-top:	10px;
		padding-bottom:	10px;
	}

