/* dialog.html */

	#pageContents .panel {
		overflow:	auto;
	}

	#pageContents .question {
		position: relative;
		padding-bottom:	10px;
		width:	100%;
	}

	#pageContents .question div {
		margin-top:	2px;
		max-width:		50%;
		display:	inline-block;
	}

	#pageContents .question input {
		width:	40%;
		float:	right;
	}

	#pageContents .question img {
		float:			right;
		padding-left:	5px;
	}

	#pageContents button {
		margin:		10px;
		float:		right;
		clear: both;
	}
	
	.result {
		position: absolute;
		right: 0;
		top: 0.3em;
	}

