/* dictation.html */

	#pageContents .panel {
		overflow:	auto;
	}

	#prompt, #count, #answer, #incorrect {
		margin-bottom:	10px;
	}

	#audioHolder {
		width:	100%;
		margin-bottom:	10px;
	}

	#audioHolder audio {
		width:	100%;
	}

	#answerTxt {
		width:	100%;
		margin-bottom:	10px;
	}

	#btnHolder {
		float:	right;
		margin-bottom:	10px;
	}
	
	#answer {
		clear:	both;
	}
	
