/* documentation.html */
	
	#pages {
		overflow: auto;
	}
	
	#pages:not(:last-child) {
		border-bottom: 1px solid #CCCCCC;
	}
	
	#pages hr {
		border: none;
		height: 1px;
		background-color: #ccc;
	}
	
	#pages fieldset {
		border: 1px solid #ccc;
	}
	
	#btnHolder {
		margin-top: 0.5em;
		float: right;
	}
	
	#downloadBtn .ui-icon {
		width:	auto;
		height:	auto;
	}
	
	#downloadBtn {
		margin-top: 0.5em;
	}
	
	#slideTxt {
		font-weight: bold;
		margin: 0.7em 0.5em 0;
	}
	
	.item, .intro, .section {
		margin: 1.5em 0;
		overflow: auto;
	}
	
	.item .itemImg {
		max-width: 100%;
		display: block;
		margin: auto;
	}
	
	.section .item:last-child, .section .intro:last-child {
		margin-bottom: 0;
	}
	
	.item:first-of-type, .intro:first-of-type {
		margin-top: 0;
	}
	
	.section legend {
		font-weight: bold;
	}
	
	.hidepage {
		display:none;
	}
	
	.question {
		margin-top: 1em;
	}
	
	.optionGroup input {
		float: left;
		display: block;
	}

	.optionGroup {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	
	.optionTxt {
		cursor: pointer;
		position: relative;
		margin-left: 2em;
		display: block;
	}
	
	.optionGroup.horizontal {
		display: inline;
		float: left;
	}
	
	.optionGroup.horizontal:not(:first-of-type) input {
		margin-left: 1.5em;
	}

	.optionGroup.horizontal:not(:first-of-type) .optionTxt {
		margin-left: 3.5em;
	}
	
	.table table {
		width: 100%;
	}
	
	.table table textarea {
		width: 90%;
	}
	
	.table table td.editable {
		text-align: center;
	}