/* dragDropLabel.html */

    #textHolder {
        margin-bottom:	10px;
    }

    .borderTop {
        border-top:		1px solid gray;
        margin-top:		20px;
        padding-top:	20px;
    }

    #mainPanel {
        position:	relative;
    }

    #mainPanel #labelHolder {
        margin-top:	10px;
    }

    #dragDropHolderLabelling #labelHolder {
        clear: both;
        float: left;
    }

    #labelHolder .label {
        display:	inline-block;
        cursor:		pointer;
        padding:	5px;
        margin:		10px;
    }

    #labelHolder .label.correct

    #labelHolder .label.incorrect

    #labelHolder .label.focus {
        border:		2px solid yellow;
    }

    #labelHolder .label.selected {
        border:		2px solid green;
    }

    #buttonHolder {
        margin   : 10px;
        float    : right;
        position : absolute;
        bottom   : 0;
        right    : 0;
    }

    #targetHolder {
        position:	absolute;
        margin:		10px;
        top:		0;
        left:		0;
    }

    #targetHolder .target {
        position:	absolute;
    }

    #targetHolder .target.border {
        border:	1px solid;
    }

    #pageContents hr {
        border: none;
        background-color: #CCCCCC;
        height: 1px;
    }

