/* dragDropLabel.html */

    #textHolder {
        margin-bottom:	10px;
    }

    .borderTop {
        border-top:		1px solid gray;
        margin-top:		20px;
        padding-top:	20px;
    }
	
	#mainText {
		margin-bottom: 1em;
	}

    #mainPanel {
        position:	relative;
    }

    #mainPanel #labelHolder {
        margin-top:	10px;
    }

    #x_pageDiv #dragDropHolderLabelling {
        padding-top: 0;
        padding-right: 0;
    }

    #dragDropHolderLabelling #labelHolder {
        clear: both;
        float: left;
    }

    #labelHolder .label,
    .tempLabel {
        display: inline-block;
        padding:	5px;
    }

    #labelHolder .label:not(.ui-draggable-disabled) {
        cursor: pointer;
    }

    #labelHolder .label {
        margin:		10px;
    }

    #labelHolder .label.correct .result,
    #labelHolder .label.incorrect .result {
		padding-left: 0.5em;
	}

    #labelHolder .label.focus {
        border:		2px solid yellow;
    }

    #labelHolder .label.selected {
        border:		2px solid green;
    }

    .label.ui-state-disabled {
        opacity: 1;
    }

    #buttonHolder {
        margin   : 0 10px 10px;
        float    : right;
        clear: both;
    }

    #targetHolder {
        position:	absolute;
        top:		0;
        left:		0;
    }

    #targetHolder .target,
    #targetHolder .tempTarget {
        position: absolute;
        padding: 0 !important;
    }

    #targetHolder .target.border,
    #targetHolder .tempTarget.border {
        border:	1px solid;
    }

    #targetHolder .target {
        cursor: pointer;
    }

    .tempTarget {
        display: flex;
    }

    #targetHolder.left .tempTarget { justify-content: left; }
    #targetHolder.center .tempTarget { justify-content: center; }
    #targetHolder.right .tempTarget { justify-content: right; }
    #targetHolder.top .tempTarget { align-items: start; }
    #targetHolder.middle .tempTarget { align-items: center; }
    #targetHolder.bottom .tempTarget { align-items: end; }

	#infoHolder:not(:empty),
    #feedback:not(:empty) {
		margin-top: 1em;
	}

    #pageContents hr {
        border: none;
        background-color: #CCCCCC;
        height: 1px;
    }

    hr:has(+ #infoHolder:empty),
    hr:has(+ #feedback:empty) {
        display: none;
    }