/* flickr.html */
	
	#pageContents .panelContent.panel {
		overflow: auto;
	}
	
	#flickrHolder {
		width:		100%;
		box-sizing: border-box;
	}

	#headerHolder {
		text-align: 	left;
		margin-bottom: 	10px;
	}
	
	#licenseHolder {
		margin-top: 	10px;
	}

	#pictureHolder {
		width:		100%;
		text-align: center;
	}

	#pictureHolder img {
		margin-left: 	auto;
  		margin-right: 	auto;
		max-width: 100%;
	}

	#loadingSpinner {
		margin-left: 	auto;
  		margin-right: 	auto;
		width:			180px;
	}

	.spinner {
		float:	left;
		margin:	-8px 20px 0 0;
	}

	#loadingSpinner p {
		font-weight:	bold;
	}

	#btnHolder {
		margin-top: 0.5em;
		float: right;
	}

	.panelContent:not(.panel) #btnHolder {
		padding-bottom: 0.5em;
	}

@media (max-width: 480px) {
	#flickrHolder {
		height: unset !important;
	}
}