/* hangman.html */
	
	#infoHolder .panel {
		overflow:	auto;
	}
	
	#textHolder input {
		position:	absolute;
		top:		0;
		left:		0;
	}
	
	#clue .subWord {
		display:	inline-block;
		vertical-align:	top;
	}
	
	#clue .space, #clue .dash {
		width:		1em;
		height:		1em;
		padding:	5px;
		margin:		5px;
		display:	inline-block;
		vertical-align:	top;
	}
	
	#clue .dash {
		font-weight:	bold;
		font-size:		1.25em;
		border-bottom:	1px solid gray;
	}
	
	#img {
		width:			245px;
		height:			197px;
		display:		block;
		margin-left:	auto;
		margin-right:	auto;
		margin-top:		20px;
		margin-bottom:	20px;
	}
	
	#letters {
		font-weight:	bold;
		font-size:		1.25em;
		min-height:		1.25em;
		margin:			20px;
	}
	
	#qCount {
		display:		inline-block;
		margin-top:		10px;
		margin-left:	10px;
	}
	
