/* hotspotImage.html */
	
	#panel.right {
		float:	right;
		margin:	0 0 20px 20px;
	}
	
	#panel.left {
		float:	left;
		margin:	0 20px 20px 0;
	}
	
	#imageHolder {
		position:	relative;
	}
	
	#pageContents .hotspot {
		position:	absolute;
		cursor:		pointer;
	}
	
	#infoHolder {
		padding-top: 10px;
	}
	
	#infoHolder hr {
		border: none;
		background-color: #CCCCCC;
		height: 1px;
		margin-bottom: 20px;
	}
	
	#pageContents .highlightBorder {
		border:		1px solid;
		margin-top: -1px;
		margin-left: -1px;
	}
	
	#pageContents .selected {
		border:		2px solid;
		margin-top: -2px;
		margin-left: -2px;
	}
	
	#btnHolder {
		margin-top: 0.5em;
		float: right;
	}
	.overlayWrapper {
	width:100%;
	height:100%;
	position:relative;
	}
	.image {
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;
	}
	.canvas {
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;
	z-index:9999;
	}
	#hint h3 {
	border-top: 1px solid #ccc;
	padding-top: 1em;
	}
	#feedback h3 {
	border-top: 1px solid #ccc;
	padding-top: 1em;
	}