/* hotspotImage.html */

	#panel.right {
		float:	right;
		margin:	0 0 20px 20px;
	}

	#panel.left {
		float:	left;
		margin:	0 20px 20px 0;
	}

	#imageHolder {
		position:	relative;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#pageContents .hotspot {
		position:	absolute;
		cursor:		pointer;
	}

	#infoHolder {
		padding-top: 10px;
	}

	#infoHolder hr {
		border: none;
		background-color: #CCCCCC;
		height: 1px;
		margin-bottom: 20px;
	}

	#pageContents .highlightBorder {
		border:		1px solid;
		margin-top: -1px;
		margin-left: -1px;
	}

	#pageContents .selected {
		margin-top: -2px;
		margin-left: -2px;
	}

	#disableClick{
		pointer-events: none;
	}

	.mapster_el .x_noLightBox{
		width: 100% !important;
	}
	.mapster_el{
		width: 100% !important;
	}
	/*.x_noLightBox{*/
	/*	width: 100% !important;*/
	/*}*/

	#infoHolder{
		padding-top: 0!important;
	}

	.feedbackIcon{
		position: absolute;
		z-index: 1;
	}
	#textContents{
		padding-top: 8px;
	}
	.paddingLeft{
		margin-left: 10% !important;

	}
	.paddingLeft{
		padding-right: 7% !important;

	}
	
	.mapster_wrap_0{
		margin: auto !important;
	}

	#checkButton{
		float: right;
	}

	#score h3{
		padding: 0.3em;
	}

	#text{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}