.image_holder{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.holder{
	position: absolute;
	/*height: calc(100% - 20px);*/
	/*width: calc(100% - 20px);*/
	top: 10px;
	right: 10px;
}

#slider_handle{
	background: grey;
	position: relative;
}

.image{
	position: absolute;
}

#slider{
	position: relative;
	background-color: darkgray;
	z-index: 1;
}

#slider:focus-within{
	background-color: red;
}

#slider.horizontal{
	width: 10px;
	height: 100%;
}

#slider_handle.horizontal{
	width: 20px;
	height: 10%;
	top: 45%;
	right: 5px;
}

#slider_handle.vertical{
	width: 10%;
	height: 20px;
	left: 45%;
	bottom: 5px;
}

#slider.vertical{
	width: 100%;
	height: 10px;
}

#img1{
	width: 100%;
	height: 100%;
}

#img2{
	width: 100%;
	height: 100%;
}

#x_pageHolder{
	position: absolute
}
