.holder, .image_holder {
	box-sizing: border-box;
}

.holder.fullScreen .image_holder {
	margin: 0;
}

.image_holder{
	position: relative;
}

#slider_handle{
	background: lightgrey;
	position: relative;
}

.image{
	position: absolute;
}

#slider{
	position: relative;
	background-color: white;
	z-index: 1;
}

#slider:focus #slider_handle {
	box-shadow: 0px 0px 5px 5px rgba(100, 100, 100, 0.9);
}

#slider.invisible {
	background-color: transparent;
}

#slider.horizontal{
	width: 4px;
	height: 100%;
}

#slider.vertical{
	width: 100%;
	height: 4px;
}

#slider_handle {
	width: 30px;
	height: 30px;
	border-radius: 20px;
}

#slider_handle.horizontal {
	top: calc(50% - 15px);
	right: 13px;
}

#slider_handle.vertical {
	left: calc(50% - 15px);
	bottom: 13px;
}

#slider_handle i {
	color: #000;
	position: absolute;
}

#slider_handle.vertical i {
	left: 8.5px;
}

#slider_handle.vertical i.fa-chevron-up {
	top: 3px;
}

#slider_handle.vertical i.fa-chevron-down {
	bottom: 2px;
}

#slider_handle.horizontal i {
	top: 9px;
}

#slider_handle.horizontal i.fa-chevron-left {
	left: 5px;
}

#slider_handle.horizontal i.fa-chevron-right {
	right: 5px;
}

#imgCaption {
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 0;
}

.x_mobile .image_holder {
	margin-left: 0;
	margin-right: 0;
}