/* interactiveText.html */
	
	h3 {
		padding: 5px;
	}
	
	#passageHolder {
		margin: 20px 10px;
		overflow:	hidden;
	}
	
	#passageHolder.inline {
		margin:	0px 0px 20px 20px;
	}
	
	#passageHolder.mobileInline {
		margin:	20px 0px 20px -10px;
	}
	
	#passage {
		margin:			0px;
		display:		block;
		line-height:	2;
	}
	
	#passage span {
		padding-bottom:	2px;
	}
	
	#passage .highlight {
		padding-top:	5px;
		padding-bottom:	5px;
	}
	
	#pageContents.line #passage .highlight {
		padding-bottom:	2px;
	}
	
	#passage .on {
		padding-top:	5px;
		padding-bottom:	5px;
	}
	
	#pageContents.line #passage .on {
		padding-bottom:	3px;
	}
	
	#pageContents.explore #passage, #pageContents.find #passage {
		cursor: pointer;
	}
	
	#pageContents.find #feedback {
		float:		right;
		margin-top:	0.5em;
	}
	
	#groupInfo, #questionHolder {
		margin-top:	2em;
	}
	
	#btnHolder button {
		margin:	10px;
		float:	right;
	}
	
	#pageContents.show #btnHolder, #pageContents.find #btnHolder {
		border-bottom:	1px solid #CCCCCC;
		padding-bottom:	0.8em;
		margin-bottom:	1em;
	}
	
	#pageContents.show2 #btnHolder {
		border-top: 1px solid #CCCCCC;
		padding-top: 0.5em;
		margin-top: 0.5em;
	}
	
	#pageContents.show2 #btnHolder button {
		margin:	0px;
	}
	
	#pageContents.show2 #btnHolder #prevBtn {
		margin-right: 0.5em;
	}
	
	#pageContents.show2 #btnHolder button .ui-icon {
		width: auto;
		height: auto;
		margin-left: -0.3em;
		margin-top: -0.45em;
	}
	
	#pageContents .listItem {
		cursor:			pointer;
		font-weight:	bold;
		display:		block;
		padding:		5px;
		text-decoration: none;
	}
	
	#pageContents.show .listItem, #pageContents.find .listItem {
		display:	inline-block;
		margin-right:	1em;
	}
	
	#pageContents.mcq #optionHolder {
		margin-top:	15px;
		margin-bottom:	15px;
	}

	#pageContents.mcq input {
		float:		left;
		display:	block;
	}

	#pageContents.mcq .optionGroup {
		padding-top:	5px;
		padding-bottom:	5px;
	}

	#pageContents.mcq .optionTxt {
		cursor:			pointer;
		position:		relative;
		margin-left:	2em;
		display:		block;
	}
	
	#more {
		text-decoration:none;
		margin-left:	0.5em;
	}
	
