/* language.html */

	#charsHolder .specChar {
		width: 1.5em;
		height: 1.5em;
		float: left;
		margin: 4px;
	}

	#charsHolder .specChar span {
		padding:	0px;
	}

	#charsFooter {
		clear:	both;
		margin-top: 15px;
        text-align: center;
        display: block;
	}

