/* links.html */

	#textHolder + #linkHolder,
	.textTopHolder + #linkHolder,
	#linkHolder + .textBottomHolder {
		margin-top: 1em;
	}

	#x_mainHolder:not(.x_mobile) #pageContents {
		container-type: inline-size;
		container-name: page-contents;
	}

	#x_mainHolder:not(.x_mobile) #linkHolder {
		display: grid;
		gap: 1em;
		max-width: 100%;
	}

	#x_mainHolder:not(.x_mobile) #linkHolder .linkBlock {
		box-sizing: border-box;
		word-break: break-word;
	}

	#x_mainHolder.x_mobile #linkHolder {
		/* on mobiles always show columns as rows instead */
		display: flex;
		flex-direction: column;
		gap: 1em;
	}

	#linkHolder a {
		-ms-word-break: break-all;
		word-break: break-all;
		word-break: break-word;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		hyphens: auto;
	}