/* links.html */

	#linkHolder {
		width:		100%;
		margin-top:	20px;
	}

	#linkHolder .panel.linkBlock {
		margin:		0 0 20px 0;
		float:		left;
	}

	#linkHolder a {
		-ms-word-break: break-all;
		word-break: break-all;
		word-break: break-word;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		hyphens: auto;
	}

	.clear {
		clear:	both;
	}

