/* list.html */
	
	.listItem {
		font-weight:	bold;
		display:		block;
		padding:		5px;
		text-decoration: none;
		margin-bottom: 10px;
	}
	
	#infoHolder {
		overflow: auto;
		position: relative;
	}
	
	#infoHolder .paneImg {
		text-align:		center;
		padding-top:	10px;
	}
	
	#infoHolder .paneImg img {
		opacity:	0;
		filter:		alpha(opacity=0);
	}

	#infoHolderTop .closeBtn {
		position: absolute;
		top: 0;
		right: 0;
		background: none;
		border: none;
	}

	#textBehindHolder + #infoHolder #infoHolderTitle {
		padding-right: 1.5em;
	}

	
