/* list.html */
	
	#textHolder {
		padding-bottom:	20px;
	}
	
	.listItem {
		font-weight:	bold;
		display:		block;
		padding:		5px;
		text-decoration: none;
	}
	
	#infoHolder {
		overflow:	auto;
	}
	
	#infoHolder .paneImg {
		text-align:		center;
		padding-top:	10px;
	}
	
	#infoHolder .paneImg img {
		opacity:	0;
		filter:		alpha(opacity=0);
	}
	
