/* mcq.html */

	#pageContents .panel {
		overflow:	auto;
	}

	#optionHolder {
		margin-top:	15px;
		margin-bottom:	15px;
	}

	#pageContents input {
		float:		left;
		display:	block;
	}

	#optionHolder .optionGroup {
		padding-top:	5px;
		padding-bottom:	5px;
	}

	#pageContents .optionTxt {
		cursor:			pointer;
		position:		relative;
		margin-left:	2em;
		display:		block;
	}

	#pageContents #checkBtn {
		margin:		10px;
		float:		right;
	}

	#pageContents #feedback {
		clear:		both;
	}
	
	#feedback .audioHolder {
		margin:	0.5em 0 1em 0;
	}

