/* mcq.html */

	#pageContents .panelContent.panel {
		overflow:	auto;
	}

	#optionHolder {
		margin-top:	15px;
		margin-bottom:	15px;
	}

	#pageContents input {
		float:		left;
		display:	block;
	}

	#optionHolder .optionGroup {
		padding-top:	5px;
		padding-bottom:	5px;
	}

	#pageContents .optionTxt {
		cursor:			pointer;
		position:		relative;
		margin-left:	2em;
		display:		block;
	}

	#pageContents #optionHolder.answerBtn {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1em;
	}

	#pageContents .optionGroup.answerBtn,
	#pageContents .optionGroup.answerBtn .ui-button-text {
		padding: 0;
		margin: 0;
	}

	#pageContents .optionGroup.answerBtn input {
		width: 0 !important;
		height: 0 !important;
	}

	#pageContents .optionGroup.answerBtn .optionTxt {
		padding: .5em 1em;
		margin: 0;
	}

	#pageContents .optionGroup.answerBtn .optionTxt p {
		padding: 0;
		margin: 0;
		color: unset;
		background: unset;
	}

	#pageContents .optionGroup.answerBtn.selected {
		background-color: white;
		background-image: none;
	}

	#pageContents #checkBtn {
		margin:		10px;
		float:		right;
	}

	#pageContents #feedback {
		clear:		both;
	}
	
	#feedback .feedbackBlock {
		margin-bottom: 0.5em;
	}
	
	#feedback .audioHolder {
		margin:	0.5em 0 1em 0;
	}
	
	#feedback h3 {
		border-top: 1px solid #ccc;
		padding-top: 1em;
	}
	
	legend#question {
		width: 100%;
		font-weight: bold;
		padding-left: 0.3em;
		padding-right: 0.3em;
		box-sizing: border-box;
	}

	legend#question p {
		padding-left: 0;
		padding-right: 0;
	}