/* modelAnswer.html */
	
	#pageContents .panel {
		overflow:	auto;
	}
	
	#pageContents button {
		margin:		10px;
		float:		right;
	}
	
	#answer {
		margin-top:	1em;
	}
	
	#pageContents .panelImg {
		text-align: center;
		padding-top: 1em;
	}
	
	#pageContents .panelImg img {
		max-width: 65%;
	}
	
	.x_mobile #pageContents .panelImg img {
		max-width: 80%;
	}
	
	#answerTxt {
		display:	block;
		width:		95%;
		resize:		vertical;
		margin:	0.5em auto;
	}
	
	#copyTxt {
		color:		red;
		font-size:	0.8em;
	}
	
