/* modelAnswerResults.html */
	
	#pageContents .panel {
		overflow:	auto;
	}
	
	#copyBtn {
		margin-top:	1em;
	}
	
	#copyTxt {
		color:		red;
		font-size:	0.8em;
	}
	
	#textHolder hr {
		margin-top:		20px;
		margin-bottom:	20px;
	}
	
	.pageBlock:not(:first-of-type) {
		margin-top: 1em;
		padding-top: 1em;
		border-top: 1px solid #ccc;
	}
	
