/* modelAnswer.html */
	
	#pageContents .panel {
		overflow:	auto;
	}
	
	#pageContents button {
		margin:		10px;
		float:		right;
	}
	
	#answer {
		margin-top:	1em;
		overflow: auto;
	}

	#prompt .prompt:not(:last-of-type) {
		border-bottom: 1px solid #ccc;
		margin-bottom: 1em;
		padding-bottom: 1em;
	}

	#fbTxt.border {
		border-top: 1px solid #ccc;
		padding-top: 1em;
	}
	
	#pageContents .panelImg {
		text-align: center;
		padding-top: 1em;
	}
	
	#pageContents .panelImg img {
		max-width: 65%;
	}
	
	.x_mobile #pageContents .panelImg img {
		max-width: 80%;
	}
	
	.answerTxt {
		display:	block;
		width:		100%;
		box-sizing: border-box;
		resize:		vertical;
		margin:	0.5em auto;
	}

	.pageBlock h4, .pageBlock h5, #toSelect h4, #toSelect h5 {
		padding-left: 0.3em;
		padding-right: 0.3em;
		margin: 0;
	}
