/* modelAnswerResults.html */
	
	#pageContents .panel {
		overflow:	auto;
	}

	#btnHolder {
		text-align: right;
	}
	
	#copyTxt {
		color:		red;
		font-size:	0.8em;
	}
	
	#textHolder hr {
		margin-top:		20px;
		margin-bottom:	20px;
	}
	
	.pageBlock:not(:first-of-type) {
		margin-top: 1em;
		padding-top: 1em;
		border-top: 1px solid #ccc;
	}

	.pageBlock h4, .pageBlock h5 {
		padding-left: 0.3em;
		padding-right: 0.3em;
		margin: 0;
	}

	.questionBlock:not(:first-of-type), .dataPageFb {
		margin-top: 1em;
	}
	
