/* modify.html */
	
	#pageContents p#instruction {
		margin-top:	0px;
	}
	
	#pageContents textarea {
		display:		block;
		width:			100%;
		resize:			vertical;
	}
	
	#answer, #modelTxt {
		margin-top:	20px;
	}
	
	#pageContents button {
		margin:		10px;
		float:		right;
	}
	
