/* results.html */
	
	#pageContents p:first-child {
		margin-top: 0px;
	}

	h2, h3{
		padding: 8px;
	}

	td, th{
		padding-left: 25px !important;
		padding-right: 25px !important;
	}

	.td-center{
		text-align:center;
	}
	.notLast{
		border-bottom: 1px solid black !important;
	}
	#specific{
		display:none;
	}
