/* rss.html */

	#headerHolder {
		text-align:		center;
		margin-bottom:	10px;
	}

	#resultsHolder {
		width:	100%;
	}

	#resultsHolder div {
		width: 100%;
		padding-top:	1em;
		padding-bottom:	1em;
	}

	#resultsHolder div p, #resultsHolder div a {
		margin:	0;
		padding: 0 5px;
	}
	
	#resultsHolder div img {
		width: auto !important;
		height: auto;
		max-width: 95%;
	}

	.shadedDiv {
		background-color: #E3FFD6;
	}

	#loadingSpinner {
		margin-left: auto ;
  		margin-right: auto ;
		width:180px;
	}

	.spinner {
		float:left;
		margin:-8px 20px 0 0;
	}

	#loadingSpinner p {
		font-weight:	bold;
	}
	
	#rssHolder .panel {
		overflow: auto;
	}

