/*Audio*/
.tl-media-content{
    display: flex;
    justify-content: center;
}

/*Video*/
#pageContents{
    background-color: #0b2e13 !important;
}

/*
.tl-timenav{
    position: fixed !important;
    bottom: 50px !important;
}
.tl-menubar{
    position: fixed !important;

}

.tl-slide-content{
    width: 490px !important;
    padding: 0 !important;
}

.tl-slide{
    display: flex;
    justify-content: center;
}

.tl-slide-content-container{
    display: flex;
    justify-content: center;
}
*/
.tl-slide .tl-slide-media-only{
    /*display: flex !important;*/
    /*justify-content: center !important;*/
    background-color: #0a8bee !important;
}

/*Make the box smaller*/
.tl-timemarker-content{
    background-color: #DEDEDE !important;
}
/*make the image smaller*/
.tl-icon-image{
    font-size: 15px !important;
}

.tl-timemarker-text{
    color: #808080 !important;
}
.tl-timemarker-text h2{
    color: #808080 !important;
}

.lightboxWrapper{
    background-color: red!important;
    z-index: 1!important;
}

/*.tl-slide-content-container{*/
/*    display: block!important;*/
/*}*/

.tl-slide-scrollable-container{
    /* width: 100% !important; */
}

.tl-slide-content{
    /* width: 100% !important; */
    height: 100% !important;
}
#pageContents h3{
    padding-top: 20px; !important;
}

.tl-media-item{
    margin: auto !important;
}

.tl-media{
    /* max-width: 100% !important; */
    padding-left: 7%
}

.tl-text{
    padding-left: 4%
}

.tl-media-audio:focus { outline: none; }

.spinner{
    z-index: 1000;
    position: absolute;
    left: 50%;
    top: 35%;
}

div.tl-media-vimeo.tl-media-shadow  {
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    box-shadow: unset;
}

.tl-timeline p{
    font-size: 1.6vw !important;
}
.tl-text-content-container h2{
    font-size: 1.6vw !important;
}

.tl-headline
{
    text-align: left;
}

h3.tl-headline-date br {
    content: '';
}

h3.tl-headline-date br:after {
    content: ' ';
}

.tl-text .tl-headline-date small, .tl-text h3.tl-headline-date small {
    font-size: inherit !important;
}

/*.tl-caption{*/
/*    float: left !important;*/
/*    margin-left: 2% !important;*/
/*}*/
/*.tl-slidenav-next{*/
/*    top: 0!important; */
/*}*/

/*.tl-timeline{*/
/*    height: 700px!important;*/
/*}*/
