/* slideshow.html */
	
	#pageContents .panel {
		padding-bottom:	5px;
	}
	
	#infoHolder {
		overflow:	auto;
		border-bottom:	1px solid #CCCCCC;
	}
	
	#pageContents .pageImg {
		text-align:		center;
		padding-top:	10px;
	}
	
	#pageContents .pageImg img {
		opacity:	0;
		filter:		alpha(opacity=0);
	}
	
	#btnHolder {
		float:			right;
		margin-top:		5px;
		margin-right:	0px; /* over-ride ui style */
	}
	
	#btnHolder .ui-icon {
		width:	auto;
		height:	auto;
	}
	
	#slideTxt {
		float:			left;
		font-weight:	bold;
		margin-top:		10px;
	}
	
