/* table.html */

	#table {
		width:	100%;
	}
	
	#tableName {
		text-align:		center;
		font-weight:	bold;
		margin-bottom:	10px;
	}
	
	#footnote {
		margin-top:	1em;
		padding-top: 0.7em;
		border-top: 1px solid #ccc;
	}
	
