/* textVideo.html */
	
	#textHolder {
		padding-bottom:	20px;
	}

	#x_mainHolder.x_mobile #pageContents .mobileAlign + #textHolder {
		padding: 1em 0 0;
	}
	
	.transcriptHolder {
		margin-top:	10px !important;
		text-align:	right;
	}
	
	.transcript {
		text-align:		left;
		min-width:100%;
	}
	
	#pageVideo.iframe {
		position: relative;
		overflow: hidden;
	}
	
	#pageVideo.iframe iframe {
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	
	.x_mobile .mobileAlign .panel.inline {
		margin-left: 0;
		margin-right: 0;
	}
	