/* textMatch.html */
#textHolder {
	margin-bottom: 20px;
}

#dragDropHolder {
	overflow: auto;
	margin-bottom: 10px;
}

#dragDropHolder .label {
	cursor: pointer;
	padding: 5px;
}

#dragDropHolder .label.focus {
	border: 2px solid yellow;
}

#dragDropHolder .label.selected {
	border: 2px solid green;
}

#dragDropHolder .labelTxt {
	position: relative;
	float: left;
}

#dragDropHolder .audioHolder {
	float: left;
}

#dragDropHolder .audioHolder .mejs-controls div:not (.mejs-playpause-button
	) {
	display: none;
}

#dragDropHolder .tick {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
}

#labelHolder {
	padding: 0px;
	margin-bottom: 20px;
	margin-right: 20px;
	float: right;
}

#targetHolder {
	clear: right;
}

#targetHolder .target {
	padding: 1%;
	margin-top: 10px;
	margin-bottom: 10px;
}

#targetHolder h3 {
	width: 48%;
}

#targetHolder .hint {
	width: 50%;
	float: right;
}

#button {
	margin-bottom: 10px;
	float: right;
}
