/* textGraphics.html */
	
	#textHolder {
		padding-bottom:	20px;
	}
	
	.noBorder {
		display:	inline-block;
		margin:		0px;
	}
	
	#transcriptHolder {
		margin-top:	10px;
		text-align:	right;
	}
	
	#transcript {
		text-align:		left;
	}
	
	#imgCaption {
		padding:	0.6em 0 0 0;
		font-weight:	bold;
		text-align:		right;
	}
	
	#imgCaption.transcript {
		border-bottom:	1px solid #CCCCCC;
		padding-bottom:	10px;
	}
	
	#imgHolder.fullScreen .panel {
		margin: 0;
	}
	
	#imgHolder.Top #imgInnerDiv, #imgHolder.Bottom #imgInnerDiv {
		margin-left: 0;
		margin-right: 0;
	}
	
	#imgHolder.Top #imgInnerDiv {
		margin-top: 1em;
		margin-bottom: 0;
	}
	
	#imgHolder.Bottom #imgInnerDiv {
		margin-top: 0;
		margin-bottom: 1em;
	}
	
