/* textMatch.html */
#textHolder {
	margin-bottom: 20px;
}

#dragDropHolder {
	overflow: auto;
	margin-bottom: 10px;
}

#dragDropHolder .label {
	cursor: pointer;
	padding: 5px;
}

#dragDropHolder .label.focus {
	border: 2px solid yellow;
}

#dragDropHolder .label.selected {
	border: 2px solid green;
}

#dragDropHolder .label.ui-state-disabled.ui-draggable-disabled,
#targetHolder .target.ui-state-disabled.ui-droppable-disabled {
	opacity: 1;
}

#dragDropHolder .labelTxt {
	position: relative;
	float: left;
}

#dragDropHolder .audioHolder {
	float: left;
	margin-right: .5em;
}

#dragDropHolder .audioHolder .mejs-controls div:not(.mejs-playpause-button):not(.audioTranscriptBtn) {
	display: none;
}

#dragDropHolder .audioHolder.audioTranscript .mejs-container {
	width: 60px !important;
}

#dragDropHolder .tick {
	position: absolute;
	top: 0.5em;
	right: 0em;
}

#dragDropHolder .audioFB .tick {
	right: -1.5em;
}

#labelHolder {
	padding: 0px;
	margin-bottom: 20px;
	margin-right: 20px;
	float: right;
}

#targetHolder {
	clear: right;
}

#targetHolder .target {
	padding: 1%;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

#targetHolder .fixedTxt {
	width: 48%;
	font-weight: bold;
}

#targetHolder .hint {
	width: 50%;
	float: right;
}

#button {
	margin-bottom: 10px;
	float: right;
}
