/* title.html */

	#x_pageHolder {
		overflow-x: hidden;
	}

	.x_responsive .titlePageTxt p {
		font-size: 7vmin;
	}

	.x_responsive #txtHolder.smallerTitle .titlePageTxt p {
		font-size: min(3em, 7vmin);
	}

	.titlePageTxt p {
		font-size: 1em;
		padding: 0;
	}
	#extraText p {
		padding: 0;
	}

	#x_headerBlock.hideTitleTxt h1, #x_headerBlock.hideTitleTxt h2, #x_headerBlock.hideTitleIcon .x_icon, #x_headerBlock.hideTitleTxt.hideTitleIcon {
		display: none !important;
	}
	#titleStartBtn, #extraText {
		margin-top: 1em;
	}
	#titleStartBtn {
		margin-left: 0;
		margin-right: 0;
	}
	#titleStartBtn {
		padding-left: 1em;
		padding-right: 1em;
	}

	#x_pageDiv.autoLayout {
		width: 100%;
		height: auto !important;
	}

	#x_pageDiv:not(.autoLayout) > div {
		width: 100%;
		height: 100%;
	}

	#x_mainHolder:not(.x_mobile) #pageContents {
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: center;
	}

	#x_mainHolder:not(.x_mobile) #txtHolder {
		flex-basis: 100%;
		padding: .3em;
	}

	#x_mainHolder.x_mobile #mediaHolder {
		margin-top: 1em;
	}

	#x_pageDiv:not(.autoLayout) #pageContents {
		height: 100%;
	}

	#x_pageDiv:not(.autoLayout) #pageContents.topAlign { align-items: normal; }
	#x_pageDiv:not(.autoLayout) #pageContents.middleAlign { align-items: center; }
	#x_pageDiv:not(.autoLayout) #pageContents.bottomAlign { align-items: flex-end; }

	#mediaHolder {
		margin-bottom: 0;
	}

	#x_mainHolder.x_mobile .pageAudio,
	#x_mainHolder.x_mobile .pageVideo {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	#x_mainHolder:not(.x_mobile) .pageAudio:not(.pageImg) {
		 width: 100%;
	 }

	.pageVideo.youtubeVimeo .mejs-overlay-button {
		display: none;
	}
