/* videoSynch.html */

#infoHolder div.shown {
	cursor: pointer;
	margin-bottom: 1em;
}

#infoHolder #panel {
	overflow: auto;
}

#infoHolder .myImg {
	text-align: center;
	padding-top: 1em;
}

#infoHolder .myImg figcaption {
	text-align: left;
}

#infoHolder .myImg img {
	max-width: 100%;
	max-height: 100%;
}

div#muteButton, div#playButton {
	cursor: pointer;
}

#mainText {
	margin-top: 1em;
}

#pageVideo video {
	aspect-ratio: auto;
	height: auto;
}

.panelContent.noH {
	height: unset !important;
}