/**
 * Licensed to The Apereo Foundation under one or more contributor license
 * agreements. See the NOTICE file distributed with this work for
 * additional information regarding copyright ownership.

 * The Apereo Foundation licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file except in
 * compliance with the License. You may obtain a copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.

 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/* --JUMBOTRON-------------------------------------------------------------------- */
.jumbotron {
//margin-top: 20px;
  position: relative;
  padding: 20px 0;
  color: #fff;
  text-align: center;
//  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: #020031; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #003366 0%, #0088CC 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#003366), color-stop(100%,#0088CC)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #003366 0%,#0088CC 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #003366 0%,#0088CC 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #003366 0%,#0088CC 100%); /* IE10+ */
  background: linear-gradient(45deg, #003366 0%,#0088CC 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003366', endColorstr='#0088CC',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  //-webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
     //-moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
         // box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}
.jumbotron h1 {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  margin-top: 20px;
}
.jumbotron p {
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 30px;
}
/* --NAVBAR-------------------------------------------------------------- */
.navbar-inverse .brand, .navbar-inverse .nav > li > a {
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar-inverse .nav-collapse .nav > li > a, .navbar-inverse .nav-collapse .dropdown-menu a {
color: #ffffff;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a:hover{
color: #6FD9D9;
}
.navbar-inverse .nav-collapse .nav > li > a:hover, .navbar-inverse .nav-collapse .dropdown-menu a:hover {
color: #6FD9D9;
}

.navbar-fixed-top {
	position: static;
}

/* --TABLE OF CONTENTS-------------------------------------------------------------- */
.bs-docs-sidenav {
  width: 228px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  *width: 190px;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 40px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 40px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

/* --PANELS-------------------------------------------------------------- */
.panel {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
/* Echo out a label for the example */
.panel:after {
  content: attr(title);
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
     -moz-border-radius: 4px 0 4px 0;
          border-radius: 4px 0 4px 0;
}

section {
	margin-bottom: 20px;
}

/* --HEADER-------------------------------------------------------------- */

#overview div.logoR, #overview div.logoL {
  //display:none;
}
#overview.logoR .logoR {
  float:right; 
  margin-top:20px;
}
#overview.logoR .titles {
 float:left;
 padding:20px 5px;
 text-align:left;
}
#overview.logoL .logoL {
  float:left; 
  margin-top:20px;
}
#overview.logoL .titles {
 float:left;
 padding:20px 5px 20px 20px;
 text-align:left;
}
#overview.logoL.logoR .titles {
 float:none;
 padding:20px 5px;
 text-align:center;
}

/* --FOOTER-------------------------------------------------------------- */
.footer {
  padding: 20px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
.footer p {
  margin-bottom: 0;
  color: #777;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  margin-right: 10px;
}

/* --LARGE DESKTOP-------------------------------------------------------------- */
@media (min-width: 1200px) {
  body {
    padding-top: 0;
  }
  
  .bs-docs-sidenav {
    width: 258px;
  }
}
/* --DESKTOP-------------------------------------------------------------- */
@media (max-width: 980px) {
  body {
    padding-top: 0;
  }
  
  .bs-docs-sidenav {
    top: 0;
    margin-top: 30px;
    margin-right: 0;
  }
}
/* --TABLETS TO DESKTOPS-------------------------------------------------------------- */
@media (min-width: 768px) and (max-width: 980px) {
  body {
    padding-top: 0;
  }
  .jumbotron {
   margin-top: -20px; /* Offset bottom margin on .navbar */
  }
  /* Adjust sidenav width */
  .bs-docs-sidenav {
    width: 166px;
    margin-top: 20px;
  }
  .bs-docs-sidenav.affix {
    top: 0;
  }
  #overview.logoR .titles, #overview.logoL .titles {
    text-align: center;
	float:right;
	width: 100%;
  }
  #overview.logoR .logoR, #overview.logoL .logoL {
    text-align:center;
    float:none;
  }
}
/* --TABLETS-------------------------------------------------------------- */
@media (max-width: 767px) {
  body {
    padding-top: 0;
  }
  .jumbotron {
   /* padding: 40px 20px;*/
    margin-top:   -20px; /* Offset bottom margin on .navbar */
    margin-right: -20px;
    margin-left:  -20px;
  }
  
  .bs-docs-sidenav {
    width: auto;
    margin-bottom: 20px;
  }
  .bs-docs-sidenav.affix {
    position: static;
    width: auto;
    top: 0;
  }
  #overview.logoR .titles, #overview.logoL .titles {
    text-align: center;
	float:right;
	width: 100%;
  }
  #overview.logoR .logoR, #overview.logoL .logoL {
    text-align:center;
    float:none;
  }
}

/* --LANDSCAPE PHONES-------------------------------------------------------------- */
@media (max-width: 480px) {
  body {
    padding-top: 0;
  }
  
  #overview.logoR .titles, #overview.logoL .titles{
    text-align: center;
	float:right;
	width: 100%;
  }
  #overview.logoR .logoR, #overview.logoL .logoL {
    float:none;
  }
}
