@charset "UTF-8";
/*6vmin;*/
/*2vmin;*/
/*1vmin;*/
/*start here and set the default values for all the variables*/
/*You should not edit the editorstyles.css file directly or change values directly unless you wish to override something*/
/*Use SASS and the files in the scss folder name _allvariables.scss to start any customisation*/
.panel1 {
  border-radius: 3px;
  display: table;
  padding: 10px;
  font-style: normal;
  background-color: #F07E31;
  color: #ffffff;
}

.panel1 a {
  color: white;
}

.panel2 {
  border-radius: 3px;
  display: table;
  padding: 10px;
  font-style: normal;
  background-color: #2F9739;
  color: #ffffff;
}

.panel2 a {
  color: white;
}

.panel3 {
  border-radius: 3px;
  display: table;
  padding: 10px;
  font-style: normal;
  background-color: #4185C5;
  color: #ffffff;
}

.panel3 a {
  color: white;
}

.panel4 {
  border-radius: 3px;
  display: table;
  padding: 10px;
  font-style: normal;
  background-color: #00A1A3;
  color: #ffffff;
}

.panel4 a {
  color: white;
}

.panel5 {
  border-radius: 3px;
  display: table;
  padding: 10px;
  font-style: normal;
  background-color: #603784;
  color: #ffffff;
  display: table;
}

.panel5 a {
  color: white;
}

.panel6 {
  border-radius: 3px;
  display: table;
  padding: 10px;
  font-style: normal;
  background-color: #D13759;
  color: #ffffff;
}

.panel6 a {
  color: white;
}

.highlight1 {
  font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #fff;
  display: table;
  font-weight: normal;
  margin-bottom: 7px;
  margin-top: 5px;
  padding: 10px;
  border-left: 5px solid;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-color: #F07E31;
}

.highlight2 {
  font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #fff;
  display: table;
  font-weight: normal;
  margin-bottom: 7px;
  margin-top: 5px;
  padding: 10px;
  border-left: 5px solid;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-color: #2F9739;
}

.highlight3 {
  font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #fff;
  display: table;
  font-weight: normal;
  margin-bottom: 7px;
  margin-top: 5px;
  padding: 10px;
  border-left: 5px solid;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-color: #4185C5;
}

.highlight4 {
  font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #fff;
  display: table;
  font-weight: normal;
  margin-bottom: 7px;
  margin-top: 5px;
  padding: 10px;
  border-left: 5px solid;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-color: #00A1A3;
}

.highlight5 {
  font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #fff;
  display: table;
  font-weight: normal;
  margin-bottom: 7px;
  margin-top: 5px;
  padding: 10px;
  border-left: 5px solid;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-color: #603784;
}

.highlight6 {
  font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #fff;
  display: table;
  font-weight: normal;
  margin-bottom: 7px;
  margin-top: 5px;
  padding: 10px;
  border-left: 5px solid;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-color: #D13759;
}

blockquote {
  font: 400 14px/24px Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-left: 10px solid;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "“" "”";
  background: #f9f9f9;
  border-color: #ccc;
}

blockquote:before {
  content: open-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  color: #ccc;
}

blockquote p {
  display: inline;
}

blockquote:after {
  content: close-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-left: 0.1em;
  vertical-align: -0.6em;
  color: #ccc;
}

.bq1 {
  border-color: #F07E31;
}

.bq1:after {
  content: close-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-left: 0.1em;
  vertical-align: -0.6em;
  color: #F07E31;
}

.bq1:before {
  content: open-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  color: #F07E31;
}

.bq2 {
  border-color: #2F9739;
}

.bq2:after {
  content: close-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-left: 0.1em;
  vertical-align: -0.6em;
  color: #2F9739;
}

.bq2:before {
  content: open-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  color: #2F9739;
}

.bq3 {
  border-color: #4185C5;
}

.bq3:after {
  content: close-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-left: 0.1em;
  vertical-align: -0.6em;
  color: #4185C5;
}

.bq3:before {
  content: open-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  color: #4185C5;
}

.bq4 {
  border-color: #00A1A3;
}

.bq4:after {
  content: close-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-left: 0.1em;
  vertical-align: -0.6em;
  color: #00A1A3;
}

.bq4:before {
  content: open-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  color: #00A1A3;
}

.bq5 {
  border-color: #603784;
}

.bq5:after {
  content: close-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-left: 0.1em;
  vertical-align: -0.6em;
  color: #603784;
}

.bq5:before {
  content: open-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  color: #603784;
}

.bq6 {
  border-color: #D13759;
}

.bq6:after {
  content: close-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-left: 0.1em;
  vertical-align: -0.6em;
  color: #D13759;
}

.bq6:before {
  content: open-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  color: #D13759;
}

.speech-bubble1 {
  position: relative;
  background: #F07E31;
  border-radius: 0.4em;
  padding: 0.4em;
  color: white;
  margin-left: 1em;
  display: inline-block;
}

.speech-bubble1:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 1.219em solid transparent;
  border-right-color: #F07E31;
  border-left: 0;
  border-bottom: 0;
  margin-top: -0.609em;
  margin-left: -1.219em;
}

.speech-bubble2 {
  position: relative;
  background: #2F9739;
  border-radius: 0.4em;
  padding: 0.4em;
  color: white;
  margin-right: 1em;
  display: inline-block;
}

.speech-bubble2:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 1.219em solid transparent;
  border-left-color: #2F9739;
  border-right: 0;
  border-bottom: 0;
  margin-top: -0.609em;
  margin-right: -1.219em;
}

.speech-bubble3 {
  position: relative;
  background: #4185C5;
  border-radius: 0.4em;
  padding: 0.4em;
  color: white;
  margin-left: 1em;
  display: inline-block;
}

.speech-bubble3:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 1.219em solid transparent;
  border-right-color: #4185C5;
  border-left: 0;
  border-top: 0;
  margin-top: -0.609em;
  margin-left: -1.219em;
}

.speech-bubble4 {
  position: relative;
  background: #00A1A3;
  border-radius: 0.4em;
  padding: 0.4em;
  color: white;
  margin-right: 1em;
  display: inline-block;
}

.speech-bubble4:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 1.219em solid transparent;
  border-left-color: #00A1A3;
  border-right: 0;
  border-top: 0;
  margin-top: -0.609em;
  margin-right: -1.219em;
}

.speech-bubble5 {
  position: relative;
  background: #603784;
  border-radius: 0.4em;
  padding: 0.4em;
  color: white;
  margin-left: 1em;
  display: inline-block;
}

.speech-bubble5:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 1.219em solid transparent;
  border-top-color: #603784;
  border-bottom: 0;
  border-right: 0;
  margin-left: -0.609em;
  margin-bottom: -1.219em;
}

.speech-bubble6 {
  position: relative;
  background: #D13759;
  border-radius: 0.4em;
  padding: 0.4em;
  color: white;
  margin-right: 1em;
  display: inline-block;
}

.speech-bubble6:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 1.219em solid transparent;
  border-top-color: #D13759;
  border-bottom: 0;
  border-left: 0;
  margin-left: -0.609em;
  margin-bottom: -1.219em;
}

.speech-bubble1 a, .speech-bubble2 a, .speech-bubble3 a, .speech-bubble4 a, .speech-bubble5 a, .speech-bubble6 a {
  color: white;
  text-decoration: underline;
}

q {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  color: #333;
  display: block;
  padding: 10px;
}

cite {
  font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  /*font-weight:400;
  margin-left:20px;*/
  padding: 10px;
}/*# sourceMappingURL=editorstyles.css.map */