#x_pageHolder{
  .label.panel.ui-draggable{

    transform: scale(1);
    transition: transform 0.5s ease-out 0s,box-shadow 0.5s ease-out 0s;
    &.ui-draggable-dragging{

      transform: scale(1.25);
      box-shadow: 2px 4px 1px #888888;
    }
  }

  #feedback {
    animation: fadePop 0.25s linear;
  }

  #infoHolder p {
    animation: fadePop 0.25s linear;
  }

  @keyframes fadePop {
    0% {
      opacity: 0;
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes fadeIn {
    from{opacity: 0}
    to {opacity: 1}
  }
}