#x_headerBlock {
  background: linear-gradient(to bottom, rgba(0, 92, 202, 0.68) 0%, rgba(22, 109, 218, 0.65) 100%);
}

#x_mainHolder {
  background: linear-gradient(to bottom, rgb(139, 210, 239) 0%, rgb(217, 240, 245) 100%);
}

#x_footerBlock {
  background: linear-gradient(to top, rgba(0, 89, 199, 0.65) 0%, rgba(34, 123, 230, 0.65) 100%);
}