#x_headerBlock {
  font-family: 'Open Sans', sans-serif;
  color: #fff;

  h1 {
    font-size: 2.5vh;
  }
  h2 {
    font-size: 4.5vh;
  }

  img {
    padding: 1vh 5vh;
    margin-right: 1vw;
    height: 10vh;
    border: none;
    box-shadow: none;
  }
}