#x_pageHolder{
  h1 {
    font-size: 1em;
    margin: 0px;
  }

  h2 {
    font-size: 1.2em;
    margin: 5px 0px 0px;
  }

  h3 {
    font-size: 1em;
    margin: 0px;
  }

    b,
    strong,
    h3,
    b span,
    strong span,
    h3 span,
    h2,
    h2 span,
    h2 span strong {
      color: #007cdb;
      font-size: 110%;
    }

  span,
  p,
  li,
  u,
  figcaption,
  #feedback,
  table caption {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    background-color: rgba(255, 255, 255, 0.0) !important;
    color: #525252;
  }

  .fa {
    font: normal normal normal 14px/1 FontAwesome;
  }
  .panel {
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #cfcfcf;
    -moz-box-shadow: 2px 2px 5px #888888;
    -webkit-box-shadow: 2px 2px 5px #888888;
    box-shadow: 2px 2px 5px #888888;
    /*-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#888888')";  for IE 8
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#888888');  for IE 5.5-7 */
  }

  .panel.inline {
    display: inline-block;
    margin: 0 20px 20px;
    background-color: #1c1c1c;
  }
}

//*****speech bubbles******//
.speech-bubble1, .speech-bubble1 h2, .speech-bubble1 strong, .speech-bubble1 span, .speech-bubble1 p{
  color:white !important;
}
.speech-bubble2, .speech-bubble2 h2, .speech-bubble2 strong, .speech-bubble2 span, .speech-bubble2 p {
  color:white !important;
}

.speech-bubble3, .speech-bubble3 h2, .speech-bubble3 strong, .speech-bubble3 span, .speech-bubble3 p {
  color:white !important;
}

.speech-bubble4, .speech-bubble4 h2, .speech-bubble4 strong, .speech-bubble4 span, .speech-bubble4 p {
  color:white !important;
}

.speech-bubble5, .speech-bubble5 h2, .speech-bubble5 strong, .speech-bubble5 span, .speech-bubble5 p {
  color:white !important;
}

.speech-bubble6, .speech-bubble6 h2, .speech-bubble6 strong, .speech-bubble6 span, .speech-bubble6 p {
  color:white !important;
}

//***make links in speech bubbles white and underlined by default***//
.speech-bubble1 a, .speech-bubble2 a, .speech-bubble3 a, .speech-bubble4 a, .speech-bubble5 a, .speech-bubble6 a{
  color:white !important;
  text-decoration:underline;
}
.speech-bubble1 a{
  color:white !important;
  text-decoration:underline;
}