::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  background-color: rgb(188, 240, 255)
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
  background-color: aliceblue
}

a:-webkit-any-link {
  color: #007cdb !important;
  text-decoration: none !important;
}