//******Header******/
#x_headerBlock {
  color:			$whiteorlightest;
  background-repeat:no-repeat;
  background-position:right;
  background-image:	none;
  margin-top: 5px;
  background: $contrastcolor;
  box-shadow: $interfaceboxshadow;
}

body:not(.sb_right):not(.sb_left) #x_headerBlock {
  width: 98%;
  border-top-right-radius: $largeroundedcorners;
  border-bottom-right-radius: $largeroundedcorners;
}

#x_headerBlock #x_pageIntroBtn {
	color: white;
}

#x_headerBlock #x_pageIntroBtn.pageIntroBg {
	color: $contrastcolor;
	background-color: white;
}

#x_headerBlock #x_pageIntroBtn.ui-button.ui-state-hover, #x_headerBlock #x_pageIntroBtn.ui-button.ui-state-focus, #x_headerBlock #x_pageIntroBtn.ui-state-active {
	color: $brightcolor;
}

#x_headerBlock #x_pageIntroBtn.pageIntroBg.ui-button.ui-state-hover, #x_headerBlock #x_pageIntroBtn.pageIntroBg.ui-button.ui-state-focus, #x_headerBlock #x_pageIntroBtn.pageIntroBg.ui-state-active {
	color: white;
	background-color: $brightcolor;
}

/* progress bar */
#x_headerProgress .progressMarker {
  border-color: white;
  background-color: $contrastcolor;
}
#x_headerProgress .progressMarker.complete {
  border-color: $lightestcolor;
}

/* page resources */
#x_pageResourcesBtn.ui-button-icon-only {
  background: none;
}

#x_pageResourcesBtn .resourceNumber {
  background: $accent1;
  color: $whiteorlightest;
}

#x_pageResourcesBtn.ui-button-icon-only:hover .resourceNumber, #x_pageResourcesBtn.ui-button-icon-only:active .resourceNumber, #x_pageResourcesBtn.ui-button-icon-only:focus .resourceNumber {
  background: $brightcolor;
  color: $whiteorlightest;
}

.resourceDownloadBtn, .resourceDownloadBtn:visited, .resourceDownloadBtn:focus {
  color: $whiteorlightest;
}