/*define color pallette*/
$darkestcolor: #161616;//#1D202D;
$lightestcolor:#FCBC2B;
$brightcolor:#018CCF;
$contrastcolor:#9A9A9A;
$whiteorlightest:#ffffff;
$blackordarkest:#000000;
$mainhovercolor:#ffa500;
$hintcolor:red;
$alertcolor:$hintcolor;
$linkcolor: #0a8bee;
$accent1: #2F9739;
$accent2: #00A1A3;
$accent3:#D13759;

/*set background colors*/
$bodybackgroundcolor:#3F4957;
$defaultpagebackground:#3F4957;

/*set font family*/
$mainfonts: 'Varela Round', sans-serif;
$secondaryfonts:'Varela Round', sans-serif;

/*define font colors to match the background colors*/
$mainfontcolour: $darkestcolor;
$fontcolorfordarkestcolor:$whiteorlightest;
$fontcolorforlightestcolor:$darkestcolor;
$fontcolorfobrightcolor:$whiteorlightest;
$fontcolorforcontrastcolor:$whiteorlightest;
$fontcolorformainhovercolor:$blackordarkest;

/*define rounded corner and other sizes*/
$largeroundedcorners: 6vmin;
$mediumroundedcorners: 2vmin;
$smallroundedcorners: 1vmin;
$imageroundedcorners: 2vmin;
$contentmargin: 2%;
$interfaceboxshadow:3px 3px 5px grey;;
$defaultpagepadding:2%;
