.folder_popup{
	position:absolute;
	z-index:3;
	display:none;
	padding:10px;
	background-color:#fff; 
	border-radius:5px;
	border:#ccc 1px solid; 
}

.main_area{
	width:320px;
	height:80px;
	background:#4d585e;
	border-radius:3px;
	margin:0px;
	padding:10px;
}
