div#dynamic_area form{
	padding-left:10px;
}

div#dynamic_area div#dynamic_area_folder{
	padding-left:5px; 
	float:left; 
	position:relative; 
	width:100%
}

div#dynamic_area div#dynamic_area_folder p{
	margin:2px; 
	padding:4px;
}

div#dynamic_area div#dynamic_area_folder p img{
	vertical-align:middle; 
	padding-right:5px;
}

div#dynamic_area div#dynamic_area_folder_content{
	padding-left:20px; 
	float:left; 
	position:relative; 
	width:100%; 
	margin:0px;
}

div#dynamic_area .dynamic_area_file{
	padding-left:5px; 
	float:left; 
	position:relative; 
	width:100%
}

div#dynamic_area .dynamic_area_file p{
 	margin:2px; 
	padding:4px;
}

div#dynamic_area .dynamic_area_file p img{
	vertical-align:middle; 
	padding-right:5px;
}

.mini_folder_content{

	margin-left:10px; 
	width:80%; 
	height:90%;
	overflow:scroll; 
	border:1px solid #eee; 
	float:left; 
	position:relative;

}