html{

	margin:0px;
	padding:0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:80%;

}

body{

	margin:0px;
	padding:0px;
	
}

.topbar{

	height:80px;
	background-image:url(../images/TopBar.jpg);
	background-repeat:repeat-x;
	margin:0 auto;
	width:910px;
}

.edit_topbar{

	height:65px;
	background-image:url(../images/edit_TopBar.jpg);
	background-repeat:repeat-x;
	margin:0 auto;
	width:910px;
}

.title{

	border-bottom:#f3eee2 1px dotted;
	color:#aa9d71;

}

.title p{

	font-size:200%;
	margin:5px 0px;
	
}

.mainbody{

	width:910px;	
	margin:0 auto;

}

.mainbody_left{

	float:right;	
	position:relative;
	
}

.mainbody_div{

	background-position:top left; 
	background-repeat:no-repeat; 
	background-image:url(../images/BackgroundLogin.gif);
	float:left; 
	position:relative; 
	width:362px; 
	height:415px; 
	padding-top:380px;


}

.mainbody_holder{
	float:right; 
	position:relative; 
	margin:20px auto; 
	height:500px;
}

.mainbody_div_2{

	float:right;
	position:relative; 
	width:250px;

}

.intro{

	font-weight:bold;

}

.top_left{

	float:left; 
	background-position:top left; 
	background-repeat:no-repeat;

}

.top_right{

	float:right; 
	background-position:top right;

}

.bottom_left{

	float:left; 
	background-position:bottom left;
	
}

.bottom_right{

	float:right; 
	background-position:bottom right;

}

.sign_in_TL{
	background-image:url(../images/RoundCornerTL.gif); 
	margin-bottom:10px;
}

.sign_in_TR{
	background-image:url(../images/RoundCornerTR.gif); 
}

.sign_in_BL{
	background-image:url(../images/RoundCornerBL.gif); 
}

.sign_in_BR{
	background-image:url(../images/RoundCornerBR.gif); 
}

.m_b_d_2_child{

	background-repeat:no-repeat; 
	width:100%; 
	height:100%;

}

.bottom_right p{

	padding:5px 0 0 10px; 
	color:#645f4f; 
	font-weight:bold;

}

.bottom_right div{
 	
	float:left; 
	padding-right:20px;
	
}

.bottom_right div form{

	float:right;

}

.bottom_right div form p{

	float:left; 
	margin:0px;
	font-weight:normal;
	color:#000; 
	padding:10px 1px 1px 10px;

}

.border{
	
	height:1px; 
	width:100%; 
	float:left; 
	position:relative; 
	border-bottom:#f3eee2 1px dotted; 
	line-height:1px; 
	margin:0px; 
	padding:0px; 
	overflow:hidden
	
}

.copyright{

	width:100%;
	text-align:center;
	color:#645f4f;
	margin:25px 0;
	width:100%;
	float:left;
	position:relative;
	font-size:85%;
	
}

.news{

	background-color:#f9f7f2; 
	float:left; 
	margin:10px 0 20px 0;
	width:250px;

}

.news_title{

	padding:10px 0 10px 10px;
	font-weight:bold; 
	color:#645f4f; 
	margin:0px;
	
}

.news_story{

	padding:0 0 10px 10px; 
	margin:0px; 
	color:#000000; 

}

.news_story a{

	font-weight:normal;
	color:#000;

}

.tutorials{

	background-color:#f9f7f2; 
	float:left; 
	margin:0px 0 40px 0;
	width:260px;
	margin-right:20px;
	height:475px;

}

.tutorials_title{

	padding:10px 0 10px 10px;
	font-weight:bold; 
	color:#645f4f; 
	margin:0px;
	
}

.tutorials_story{

	padding:0 0 10px 10px; 
	margin:0px; 
	color:#000000; 

}

.tutorials_story a{

	font-weight:normal;
	color:#000;

}

.general{
	font-weight:normal;
	color:#000;
	padding:0 10px 5px 10px;
	margin:0px;
	font-size:85%;
}

/* 2nd page css code */

.pagecontainer{
	margin:0 auto; 
	width:910px
}

.file_mgt_area{
	float:left; 
	width:582px; 
	position:relative; 
	margin:10px 0 10px 0;
}

.file_mgt_area_top{
	width:582px; 
	float:left; 
	position:relative; 
	background:#f3eee2
}

.heading{

	color:#645f4f; 
	font-weight:bold; 
	padding:0px; 
	margin:10px 0 5px 10px;
	
}

.file_mgt_area_middle{
	float:left; 
	position:relative; 
	width:578px; 
	border:1px #f3eee2 solid; 
	background-color:#fff; 
	margin:0px; 
	padding:0px;
}

.file_mgt_area_middle_button{
	float:left; 
	position:relative; 
	width:574px; 
	border:1px #b6b3a8 solid; 
	background-color:#e8edf3; 
	margin:1px;
}

.file_mgt_area_middle_button img{
	margin:4px;
}

.file_mgt_area_middle_button_left{
	float:left; 
	position:relative; 
	border-right:#b6b3a8 1px solid; 
	height:35px;
}

.file_mgt_area_middle_button_right{
	float:left;
	position:relative;
}

div#file_area div p{
	font-weight:bold; 
	font-size:85%; 
	margin:0px;
}

.file_mgt_area_bottom{
	width:582px; 
	float:left; 
	position:relative;
	background:#f3eee2;
	height:20px;
}

.demo{
	margin:0px; 
	color:#000; 
	margin:0px; 
	padding:0px 10px 10px 10px; 
	font-size:85%;
}

.demo a{
	font-weight:bold;
	color:#000;
	text-decoration:none;
}

.help{
	background-color:#f9f7f2; 
	float:left; 
	width:100%;  
	margin:10px 0;
	height:150px;
	min-height:150px;
	overflow:visible;
}

.new_template_area{
	width:310px; 
	float:right; 
	position:relative; 
	margin-top:10px;
}

.new_template_mod{
	background-color:#f3eee2; 
	margin-bottom:0px;
}

.new_template_area_middle{
	float:left; 
	position:relative; 
	background-color:#fff; 
	width:306px; 
	border:#f3eee2 1px solid; 
	padding:1px;
	height:490px;
}

.new_template_area_middle_scroll{
	float:left; 
	position:relative; 
	border:1px #b6b3a8 solid; 
	width:303px; 
	overflow:scroll;
	height:490px;
}

.template{
	float:left;
	position:relative;
	padding:0px;
	border-bottom:1px #758389 dotted; 
	margin:5px 0 10px 10px; 
	padding-bottom:10px;
}

.template_icon{
	float:left; 
	position:relative; 
	width:14px; 
	height:20px; 
	background-image:url(../images/Icon_Page.gif); 
	background-repeat:no-repeat; 
	background-position:top;
	margin:5px 5px 0 0;
}

.template_desc{
	float:left; 
	position:relative; 
	font-size:85%; 
	width:230px; 
	margin-top:5px
}

.template_name{
	margin:0px;
	font-weight:bold;
	width:200px;
}

.template_desc_p{
	margin:3px 0 13px 0;
}

.template_desc a{
	padding:10px 0 0 0;
	color:#000000;
	font-weight:bold;
}

.template_border{
	margin:5px auto; 
	width:290px; 
	background-color:#b6b3a8; 
	height:1px; 
	overflow:hidden
}

.template_name{
	font-weight:bold;
}

.new_template_area_middle_scroll p a{
	color:#000;
	font-weight:bold;
}

.rename{
	float:left;
	position:relative;
	padding:5px 0 0 20px; 
	margin:0px; 
	overflow:hidden;
	display:none;
	clear:left;
	width:100%;
}

.rename span{
	margin:5px 0 0 0; 
	padding:0px; 
	font-size:85%;
}

.rename form{
	margin:5px 0 0 0; 
	padding:0px;
}

.form_button_pad{
	margin:5px 0 0 0; 
	padding:0px
}



div#file_area{
	height:300px; 
	overflow:scroll; 
	float:left; 
	position:relative; 
	width:100%;
	background-color:#fff;
}

.folder{
	float:left;
	position:relative;
	width:100%; 
	height:25px; 
	margin-left:15px; 
	z-index:0;	
}

.file{
	position:relative; 
	height:25px; 
	width:100%; 
	float:left; 
	margin-left:15px;
	z-index:1;
}

.folder_content{

	display:none;
	margin-left:15px;
	
}

div#folder_workspace, div#recyclebin{

	margin:0px;

}

.workspace{

	display:block;
	
}
