--- website_code/styles/management.css.orig	2015-07-29 23:17:24.000000000 +0100
+++ website_code/styles/management.css	2015-08-05 13:52:09.820744845 +0100
@@ -39,7 +39,7 @@
 	background-image:url(../images/TopBar.jpg);
 	background-repeat:repeat-x;
 	margin:0 auto;
-	width:910px;
+	width:935px;
 }
 
 
@@ -74,7 +74,7 @@
 
 .pagecontainer{
 	margin:0 auto; 
-	width:910px
+	width:935px;
 }
 
 .admin_mgt_area{
@@ -127,7 +127,7 @@
 	position:relative; 
 	height:35px;
 	padding-top:10px;
-	border-right:1px #b6b3a8 solid;
+/* 	border-right:1px #b6b3a8 solid; */
 }
 
 .admin_mgt_area_middle_button_left a{
@@ -139,8 +139,9 @@
 .admin_mgt_area_middle_button_right{
 	float:left;
 	position:relative;
+	height:35px;
 	padding-top:10px;
-	padding-left:25px;
+	padding-left:10px;
 }
 
 .admin_mgt_area_middle_button_right a{
@@ -264,4 +265,4 @@
 	
 	font-weight:normal;
 
-}
\ No newline at end of file
+}
