
body{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:75%;
}

.properties_main{
	width:610px;
}

.corner{
	background-repeat:no-repeat;
	background-position:top; 
	width:5px; 
	height:5px; 
	overflow:hidden;
	float:left; 
	position:relative;
}

.central{
	background-repeat:repeat-x; 
	width:600px; 
	height:5px; 
	overflow:hidden;  	
	float:left; 
	position:relative;
}

.main_area_holder_1{
	float:left; 
	background-image:url(../images/MessBoxLeft.gif); 
	background-position:left; 	
	background-repeat:repeat-y; 
	width:610px; 
	height:560px; 
	background-color:#f4eee2; 
	position:relative;
}

.main_area_holder_2{
	float:right; 
	background-image:url(../images/MessBoxRight.gif); 
	background-repeat:repeat-y; 
	background-position:right;
	width:610px;
	height:565px; 
}

.main_area{
	float:right; 
	position:relative; 
	width:610px; 
	height:100%; 
	color:#645f4f; 
	margin-top:5px
}

span#title{
	font-weight:bold; 
	float:left;
}

div#data_area{
	float:right; 
	position:relative; 
	width:595px; 
	background-color:#f4eee2; 
	margin:5px;
}

div#dynamic_area{
	float:right;
	background-color:#fff;
 	border-right:#b6b38a 1px solid;
	border-bottom:#b6b38a 1px solid; 
	border-top:#b6b38a 1px solid; 
	width:410px; 
	height:520px;	
	overflow:scroll;
}

div#dynamic_area form#rename_form{
	display:inline; 
	margin:0px; 
	padding-left:10px;
}

div#dynamic_area p{
	width:373px; 	
	padding:10px 10px;
	margin:0px;
}

div#dynamic_area p#button_para{
	width:373px; 	
	padding:5px 0 0 0;
	margin:0px;
}

div#dynamic_area button_p{
	width:373px; 	
	padding:0px;
	margin:0px;
}

div#display_area{
	background-color:#fff;
}

div#display_area img{
	padding-left:10px;
}

div#dynamic_area p span{
	font-weight:bold;
}

div#dynamic_area a{
	color:#000;
}

.header{
	background-color:#f8f7f2; 
}

div#dynamic_area form{
	padding-left:10px;
}

.form_image_side{
	vertical-align:middle; 
}

.form_image_bottom{
	padding-top:10px;
}

.template_file_area{
	margin:7px 0 0 7px; 
}

.filename{
	float:left;
	width:150px; 
	padding:7px;
	border-bottom:1px solid #f4eee2;
	border-right:1px solid #f4eee2;
	font-weight:bold;
	background-color:#0f0;
	clear:left;
}

.filesize{
	float:left;
	width:70px;
	padding:7px;
	border-bottom:1px solid #f4eee2;
	border-right:1px solid #f4eee2;
	font-weight:bold;
}

.fileinuse{
	float:left;
	width:80px; 
	background-color:#0f0; 
	padding:7px;
	border-bottom:1px solid #f4eee2;
	font-weight:bold;
}

.notfound{
	background-color:#fff; 
}

.found{
	background-color:#f8f7f2;
}

.notfoundtextcolor{
	color:#afafaf;
}

.foundtextcolor{
	color:#336600; 
}

div#security_list p{
	width:370px;
	margin:4px;
	padding:4px;
}

.share_files_img{
	padding-left:10px;
}

.share_top{
	background-color:#f8f7f2; 
	float:left; 
	position:relative;
}

.share_border{
	border-bottom:1px dotted #a8b2b5; 
	margin:0px;
	padding:0px; 
	width:100%;
}

.share_intro_p{

	border-bottom:1px dotted #a8b2b5;

}

/* end of dynamic area */

div#menu_tabs{
	width:149px; 
	float:right; 
	position:relative;
}

.tab_right_pad{
	float:right; 
	position:relative; 
	width:1px; 
	background-color:#f4eee2; 
	border-right:1px #b6b38a solid;
	border-top:1px solid #f4eee2;
	border-bottom:1px solid #f4eee2;
}

.tab{
	float:right; 
	position:relative; 	
	background-color:#f9f7f2;
	border-top:1px solid #f4eee2;
	border-left:1px solid #f4eee2;
	border-bottom:1px solid #f4eee2;
	cursor:hand;
	cursor:pointer;
}

.tab p{
	margin:10px; 
	font-weight:bold;
}

.tab_spacer{
	float:right; 
	position:relative; 
	width:147px; 
	height:3px; 
	background-color:#f4eee2; 
	overflow:hidden; 
	border-right:1px #b6b38a solid;
}
