/**
 * Licensed to The Apereo Foundation under one or more contributor license
 * agreements. See the NOTICE file distributed with this work for
 * additional information regarding copyright ownership.

 * The Apereo Foundation licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file except in
 * compliance with the License. You may obtain a copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.

 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

body{
	font-family:"Open Sans", sans-serif;;
	/*font-size:75%;*/
	/*RM responsive changes*/
	font-size:calc(10px + .4vw) !important;
}

.properties_main{
	/*width:590px;*/
	margin:10px;
	padding:10px;
	background-color:#fff;
	border-radius:5px;
	border:#ccc 1px solid;
	/*RM responsive changes*/
	width: 96%;
	/* height: 95vh; */
	font-size:calc(10px + .4vw) !important;
}

.main_area{
	color:#000;
	background:#ededed;
	border-radius:3px;
	margin:0px;
	padding:10px;
	/*RM responsive changes*/
	width:98%;
	/* height:93vh; */
	/* overflow:scroll; */
}

span#title{
	font-weight:bold;
	float:left;
	color:#000;
}

div#data_area{
	float:left;
	position:relative;
	background-color:#ededed;
	/*RM responsive changes*/
	width: 98%;
	/* height: 87vh; */
	margin-top:30px;
	min-width:521px !important;
}

div#dynamic_area{
	float:right;
	background-color:#fff;
	/*width:410px; */
	/*height:520px;	*/
	overflow:auto;
	border-top-left-radius:7px;
	/*RM responsive changes*/
	width: 70%;/*80vw;*/
	height: 85vh;
	overflow-x: hidden;
}

div#dynamic_area form#rename_form{
	display:inline;
	margin:0px;
	padding-left:10px;
}

div#dynamic_area p{
	/*width:373px;*/
	padding:10px 10px;
	margin:0px;
}

div#dynamic_area p#button_para{
	/*width:373px; 	*/
	padding:5px 0 0 0;
	margin:0px;
}

div#dynamic_area button_p{
	/*width:373px; 	*/
	padding:0px;
	margin:0px;
}

div#display_area{
	background-color:#fff;
}

div#display_area img{
	padding-left:10px;
}

div#dynamic_area p span{
	font-weight:bold;
}

div#dynamic_area a{
	color:#007;
}

.header{
	background-color:#4d585e;
	color:#fff;
	/*RM responsive changes*/
	width: 98% !important;
}

div#dynamic_area form{
	padding-left:10px;
}

.form_image_side{
	vertical-align:middle;
}

.form_image_bottom{
	padding-top:10px;
}

.template_file_area{
	margin:7px 0 0 7px;
}

.filename{
	float:left;
	width:150px;
	padding:7px;
	border-bottom:1px solid #ededed;
	border-right:1px solid #ededed;
	font-weight:bold;
	background-color:#0f0;
	clear:left;
	/*RM responsive changes*/
	width:65%;
}

.filesize{
	float:left;
	width:70px;
	padding:7px;
	border-bottom:1px solid #ededed;
	border-right:1px solid #ededed;
	font-weight:bold;
	/*RM responsive changes*/
	width:10%;
}

.fileinuse{
	float:left;
	width:80px;
	background-color:#0f0;
	padding:7px;
	border-bottom:1px solid #ededed;
	font-weight:bold;
	/*RM responsive changes*/
	width:15%;
}

.notfound{
	background-color:#fff;
}

.found{
	background-color:#ededed;
	border:1px #fff solid;
}

.notfoundtextcolor{
	color:#afafaf;
}

.foundtextcolor{
	color:#336600;
}

div#security_list p{
	/*width:370px;*/
	margin:4px;
	padding:4px;
}

.share_files_img{
	padding-left:10px;
}

.share_top{
	background-color:#f8f7f2;
	float:left;
	position:relative;
}

.share_border{
	border-bottom:1px dotted #a8b2b5;
	margin:0px;
	padding:0px;
	width:100%;
}

.share_intro_p{
	border-bottom:1px dotted #a8b2b5;
}

/* end of dynamic area */

div#menu_tabs{
	/*width:149px;*/
	float:right;
	position:relative;
	/*RM responsive changes*/
	width: 27%;
	min-width: 149px !important;
	margin-top: 5px;
}

/*
86 99 9d 86999d
9b b1 bd 9bb1bd
4d 58 5e 4d585e
*/

.tab{
	float:right;
	position:relative;
	background-color:#a4b6bf;
	border-bottom-left-radius:7px;
	border-top-left-radius:7px;
	cursor:hand;
	cursor:pointer;
	color:#fff;
	/*RM responsive changes*/
	width:100% !important;
}

.tab_selected{
	float:right;
	position:relative;
	background-color:#fff;
	border-bottom-left-radius:7px;
	border-top-left-radius:7px;
	cursor:hand;
	cursor:pointer;
	color:#000;
	/*RM responsive changes*/
	width:100% !important;
}

.tab p,.tab_selected p{
	margin:10px;
	font-weight:bold;
	/*width:130px;*/
}

.tab_spacer{
	float:right;
	position:relative;
	width:147px;
	height:3px;
	background-color:#ededed;
	overflow:hidden;
	border-right:1px #ededed solid;
	/*RM responsive changes*/
	width: 100%;
}

div.publish label{
	display:inline-block;
	/*width:150px;*/
	margin-left: 20px;
	padding: 1%;
}

div.publish input,  div.publish select{
	margin-left: 20px;
	padding: 4px;

}
p#result_message {
	color:#ff0000;
}

/*RM responsive changes*/
ol {
	margin-right: 1%;
}
.xerte_button{
	margin:1%;
}
textarea {
	width: 95% !important;
}
input {
	font-size:calc(10px + .4vw);
}
#share_form input, #rename_form input {
	width: 60%;
}
input[name=password] {
	width: 45%;
}
input[name=sitename] {
	width: 75%;
}
input[name=retouremail], input[name=templatename] {
	width: 55%;
}
.publish table{
	width: 90%;
}

.publish td {
	width: 55%;
}

.publish td:first-child {
	width: 40%;
}

#xApi input[type=text] {
	width: 100%;
}
#publish input[type=text] {
	width: 100%;
}


#publish.disabled label, #xApi.disabled label {
	color: gray;
}