.xerte_button {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ebebed) );
    background:-moz-linear-gradient( center top, #ffffff 5%, #ebebed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebebed');
    background-color:#4d585e;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#000000;
    font-family:arial;
    font-size:12px;
    padding:3px;
    text-decoration:none;
}
.xerte_button_c {
	background-color:#f86718;	
	color:#fff;
	border-radius:4px;
	border:#fff 1px solid; 
	padding:2px;
	width:70px;
}
.xerte_button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #84c0e0) );
    background:-moz-linear-gradient( center top, #ffffff 5%, #84c0e0 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#84c0e0');
    background-color:#ffffff;
    border:1px solid #335fe6;
}
.xerte_button:active {
    position:relative;
    top:1px;
}
.xerte_button_disabled {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ebebeb), color-stop(1, #d6d6d6) );
    background:-moz-linear-gradient( center top, #ebebeb 5%, #d6d6d6 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#d6d6d6');
    background-color:#4d585e;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    border:1px solid #bdbdbd;
    display:inline-block;
    color:#a6a6a6;
    font-family:arial;
    font-size:12px;
    padding:3px;
    text-decoration:none;
}
.xerte_button img, .xerte_button_disabled img {
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
}