/**
 * Licensed to The Apereo Foundation under one or more contributor license
 * agreements. See the NOTICE file distributed with this work for
 * additional information regarding copyright ownership.

 * The Apereo Foundation licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file except in
 * compliance with the License. You may obtain a copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.

 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.xerte_button_c {
		background-color:#f86718;	
		color:#fff;
		border-radius:4px;
		padding:2px;
		width:70px;
    font-family:Cabin,'Cabin',Open Sans,'Open Sans',MyriadPro-Regular,'Myriad Pro Regular',MyriadPro,'Myriad Pro',Helvetica,Arial, sans-serif;
}

.xerte_button {
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #feffff), color-stop(1, #ebebeb) );
		background:-moz-linear-gradient( center top, #feffff 5%, #ebebeb 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#feffff', endColorstr='#ebebeb');
		background-color:#ebebeb;
		border-radius:3px;
		border:1px solid #bababa;
		display:inline-block;
		color:#000000;
		font-size:12px;
		padding:3px 6px;
		text-decoration:none;
    font-family:Cabin,'Cabin',Open Sans,'Open Sans',MyriadPro-Regular,'Myriad Pro Regular',MyriadPro,'Myriad Pro',Helvetica,Arial, sans-serif;
}

.xerte_button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #c2c2c2) );
    background:-moz-linear-gradient( center top, #ffffff 5%, #c2c2c2 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#c2c2c2');
    border:1px solid #858585;
}

.xerte_button:active {
    position:relative;
    border:1px solid #000000;
    top:1px;
}

.xerte_button_disabled {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fefefe), color-stop(1, #ebebeb) );
    background:-moz-linear-gradient( center top, #fefefe 5%, #ebebeb 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#ebebeb');
    background-color:#fefefe;
    border-radius:3px;
    border:1px solid #bababa;
    display:inline-block;
    color:#999999;
    font-size:12px;
		padding:3px 6px;
    text-decoration:none;
    font-family:Cabin,'Cabin',Open Sans,'Open Sans',MyriadPro-Regular,'Myriad Pro Regular',MyriadPro,'Myriad Pro',Helvetica,Arial, sans-serif;
}
.xerte_button img, .xerte_button_disabled img {
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
}