/**
 * Licensed to The Apereo Foundation under one or more contributor license
 * agreements. See the NOTICE file distributed with this work for
 * additional information regarding copyright ownership.

 * The Apereo Foundation licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file except in
 * compliance with the License. You may obtain a copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.

 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
 
 /*Change size of just fa-icons in workspace*/
 .xerte_button_c_no_width i{
	 font-size: 1.6em;
	 vertical-align: middle;
 }

.xerte_button_c {
    background-color:#f86718;
    color:#fff;
    border-radius:4px;
    border:#fff 1px solid;
    padding:2px;
    width:70px;
    cursor: pointer;
}

.xerte_button_c_no_width {
    background-color:#f86718;
    color:#fff;
    border-radius:4px;
    border:#fff 1px solid;
    padding:2px;
    cursor: pointer;
}

.xerte_button_c.disabled {
    background-color: rgba(248, 103, 24, 0.25);
}

.xerte_button_c_no_width.disabled {
    background-color: rgba(248, 103, 24, 0.25);
}

.xerte_button {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #dbdbdb) );
    background:-moz-linear-gradient( center top, #f9f9f9 5%, #dbdbdb 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#feffff', endColorstr='#ebebeb');
    background-color:#dbdbdb;
    border-radius:3px;
    border:1px solid #bababa;
    display:inline-block;
    color:#000000;
    font-size:1.4em;
    padding:3px 6px;
    text-decoration:none;
}

.xerte_button_dark {
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8c8c8c), color-stop(1, #404040) );
		background:-moz-linear-gradient( center top, #8c8c8c 5%, #404040 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#feffff', endColorstr='#ebebeb');
		background-color:#404040;
		border-radius:3px;
		border:1px solid #404040;
		display:inline-block;
		color:#fff;
		font-size:12px;
		padding:3px 6px;
		text-decoration:none;
}


.xerte_button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #c2c2c2) );
    background:-moz-linear-gradient( center top, #ffffff 5%, #c2c2c2 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#c2c2c2');
    border:1px solid #858585;
    color:#000000;
}

.xerte_button:active {
    position:relative;
    border:1px solid #000000;
    top:1px;
}

.xerte_button.disabled {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cacaca), color-stop(1, #adadad) );
    background:-moz-linear-gradient( center top, #cacaca 5%, #adadad 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#ebebeb');
    background-color:#5d5d5d;
    border-radius:3px;
    border:1px solid #bababa;
    display:inline-block;
    color:#999999;
    font-size:12px;
		padding:3px 6px;
    text-decoration:none;
}



.xerte_button_dark.disabled {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8c8c8c), color-stop(1, #404040) );
    background:-moz-linear-gradient( center top, #8c8c8c 5%, #404040 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#feffff', endColorstr='#ebebeb');
    background-color:#404040;
    border-radius:3px;
    border:1px solid #404040;
    display:inline-block;
    color: #999999;
    font-size:12px;
    padding:3px 6px;
    text-decoration:none;
}

.xerte_button img, .xerte_button_disabled img, .xerte_button_dark img {
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
}

.xerte_button_dark.disabled img, .xerte_button.disabled img {
    filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: grayscale(100%); /* Current draft standard */
    -webkit-filter: grayscale(100%); /* New WebKit */
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: gray; /* IE6+ */
}